@CHARSET "UTF-8";

html, body, form{ width:100%; height: 100%; min-height: 100%; margin: 0px; padding: 0px;}

#header {
    margin:0px;
}

#content {
	position: absolute;
	
	top: 0; right: 0; bottom: 0; left: 0;
}

#inline {
	display: inline-block;
}

#map {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;    
}

.hint {
  position: absolute;
  left: 5px;
  right: auto;
  bottom: -15px;
  font-size: 14px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey; 
}



.toptext {
  color: #F7C341;
  font-family: 'Sacramento', cursive;
  font-size: 81px;
  position: absolute;
  top: 20%;
  text-shadow: 0px 2px 4px #000000; 
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
}

.fred {
	color: #222222;
  background-color: transparent ;
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
}

.middletext {
	color: #222222;
  background-color: transparent ;
  font-family: 'Nunito';
  font-weight: light;
  font-size: 29px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
   transform: translate(-50%, 0);

}


.bottomtext{

  background-color: transparent ;
  font-family: 'Nunito';
  font-weight: light;
  font-size: 1.6rem;
  padding-left: 8.2rem;
  margin-top: 3rem ;


}

.play_icon{

padding-top: 3.2rem;
padding-left: 55rem;
float: right;
padding-right: 10rem;
}

.get-set-jam {

color: #4A4A4A;
font-family: Sacramento-Regular;
font-size: 2.4rem;
margin-top: 10rem;
text-align: center;
padding-bottom: 3rem ;
}

.about-us-head {
	font-family: 'Nunito';
	font-weight: light;
}

.bg {
	
	background-image: url("https://s3.ap-south-1.amazonaws.com/jammatestatic/site/bg.jpg");
	/* background-size:100%;
	height: auto;
    background-repeat: no-repeat;
    position: relative;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index:0; */
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    top: 0; right: 0; bottom: 0; left: 0;
    padding-top: 56%;
}

.date {

color: #222222;
font-family: 'Nunito';
font-weight: light;
font-size: 4rem;
padding-left: 3rem;
padding-top: 3rem;
}

.about-us-body{

  color: #222222;
  font-family: 'Nunito';
  font-weight: light;
  font-size: 1.3rem;
  padding-right: 3rem;
  padding-left: 3rem;
 

}

.about-us-body-2{
  color: #F7C341;
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 1.3rem;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 4rem;

}

.about-us-body-3{
  color: #222222;
  font-family: 'Nunito';
  font-weight: light;
  font-size: 1.3rem;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 4rem;
  padding-bottom: 3rem;

}

.copyright {
  background-color: #222222;
  font-family: 'Nunito';
  font-weight: light;
  font-size: 0.8rem;
  color: #FFFFFF;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
   position: relative;
   bottom:0;
   left: 0;
    width: 100%;
    clear: both;
    height: 140px;

}

.contact {
  background-color: #222222;
  font-family: 'Nunito';
  font-weight: light;
  font-size: 1rem;
  color: #FFFFFF;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;



}

.partner_border {
    width: 140px;
    margin: auto;
    border-top: 2px solid #222222;
}

.partner_border1 {
    width: 270px;
    margin: auto;
    border-top: 2px solid #222222;
}

.partner_border2 {
    width: 200px;
    margin: auto;
    border-top: 2px solid #222222;
}

.features {
	display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
    margin-right: 2%;
}

.single_feature {
	width: 30%;
    text-align: center;
    margin-top: 75px;
    animation: in .3s ease-out 0s 1 normal forwards;
    margin-right:3%
}

.image_div {
	height:60px;
}

.feature_title {
	    margin-top: 20px;
    color: #222222;
}

.feature_text {
	font-size: 13px;
    text-align: justify;
    color: #6b6b6b;
    line-height: 20px;
}

.container {
	margin-top:15%;
	margin-left:80px;
	margin-right:80px;
}

.hdr {
	text-align: center;padding-top: 30px;color: #505050;ont-size: 25px;
}

.flex-box {
	display: flex;
    margin-bottom: 80px;
}

.dropbox-left{
	background: #DCDCDC;
    border: 5px dashed #606060;
    width: 100%;
    height: 440px;
    text-align: center;
    padding: 50px 10px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
}

.dropbox-right{
	background: #DCDCDC;
    border: 5px dashed #606060;
    width: 100%;
    height: 440px;
    text-align: center;
    padding: 50px 10px;
    margin-top:10px;
    margin-bottom:10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}




.navbar {
  .nav {
    list-style-type: none;
    height: 50px;
    background: #222222;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    margin-right:30px;
    .nav-item {
      display: block;
      float: left;
      position: relative;
      background-color: #5c79bc; // Old browsers
      @include filter-gradient(#5c79bc, #6c9ddd, vertical); // IE6-9
      @include background-image(linear-gradient(top,  #5c79bc 10%,#6c9ddd 10%));
      background-position: 0 -5px;
      background-size: 100% 110%;
      transition: all 0.3s;
      &:hover {
        background-position: 0 0;
      }
      &:before {
        content: '';
        opacity: 0;
        display: block;
        background-color: #5c79bc;
        width: 5px;
        height: 8px;
        position: absolute;
        left: 50%;
        top: -20%;
        margin-left: -5px;
        @include transform(rotate(45deg));
        transition: all 0.3s;
      }
      &:hover:before {
        top: 0;
        opacity: 1;
      }
      a {
        display: block;
        padding: 35px 35px;
        text-decoration: none;
        font-size: 16px;
        line-height: 20px;
        font-family: 'Roboto', sans-serif;
      }
      a:hover {
        color: darken($fontcolor, 9%);
      }
    }
  }
}
.navbar .nav .nav-item {
    display: block;
    float: left;
    position: relative;
	/* background-image: linear-gradient(to bottom, #5c79bc 10%, #6c9ddd 10%); */
    background-position: 0 -5px;
    background-size: 100% 110%;
    transition: all 0.3s;    
}

.navbar .nav .nav-item:hover {
  background-position: 0 0;
}
.navbar .nav .nav-item:before {
  content: '';
  opacity: 0;
  display: block;
  /* background-color: #5c79bc; */
  width: 5px;
  height: 8px;
  position: absolute;
  left: 50%;
  top: -20%;
  margin-left: -5px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.3s;
}

.navbar .nav .nav-item:hover:before {
  margin: 0px;
  top: 0;
  opacity: 1;
  
}

.navbar {
	height:50px;
	position: relative;
	z-index: 10;
}

.nav {
	height:50px;
}

ul {
	margin: 0px;
	padding: 0px;
}


.navbar .nav .nav-item a {
    display: block;
    padding: 35px 35px;
    text-decoration: none;
    color: #222222;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
}

p {
	margin: 0px;
}

.terms {
	display: block;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.mock {
	width: 100%;
	height: 670px;
	background-image: url("https://s3.ap-south-1.amazonaws.com/jammatestatic/site/iconbg.png");
}

.row {
  width: 100%;
  text-align: center; 
}

.full {
	width: 100%;
	text-align: right;
}
a { color: inherit; text-decoration: none;} 

.login_link,.login_link:focus,.login_link:hover{
	position:fixed;right:-60px;padding:5px 30px;background-color:orange;
	color:#fff;font-size:16px;-webkit-transform:rotate(-90deg);
	transform:rotate(-90deg);text-decoration:none;
	top:40%;
}

.cont {
	margin: 60px;
	padding: 20px;
}

.block {
  display: inline-block; 
}​
