@CHARSET "UTF-8";

html{
    min-height:100%;
    position:relative;
}

body{
    height:100%; 
    background-color: #ebeff1;
    line-height: 1.42857;
}

#map {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;    
}

.hint {
  position: absolute;
  left: 5px;
  right: auto;
  bottom: -15px;
  font-size: 14px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey; 
}

.copyright {
  background-color: #222222;
  font-family: 'Nunito-Light';
  font-size: 1rem;
  color: #FFFFFF;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
   position: fixed;
   bottom:0;
   left: 0;
    width: 100%;
    clear: both;
    height: 20px;

}

.loginimg {
	padding-left: 46%;
	padding-top:10%;
}

.container {
	position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
	background-image: url("https://s3.ap-south-1.amazonaws.com/jammatestatic/site/iconbg.png");
}

.flex-box {
	display: flex;
    margin-bottom: 80px;
}

.dropbox-left{
	/* background: #DCDCDC;
    border: 5px dashed #606060;
    width: 660px;
    height: 440px; */
    text-align: center;
    padding: 50px 10px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
}

.dropbox-right{
	/* background: #DCDCDC;
    border: 5px dashed #606060;
    width: 660px;
    height: 440px; */
    text-align: center;
    padding: 50px 10px;
    margin-top:10px;
    margin-bottom:10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.btn {    
  display: block;
  width: 50%;
  margin: 0 auto;
}
        
.button-wrapper {
  vertical-align: middle;
  margin-bottom:20px;
}

.loading-widget-div {
    position: fixed;
    width:87%;
    height:100%;
    z-index: 100;
}

.loading-widget-div .loading-container{
    padding:20px;
    border-radius:2px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width:70px;
    height:70px;
    margin:auto;
    margin-top:40vh;
   /*  animation: clockwise-normal 6s linear infinite; */
    /* -webkit-animation: clockwise-normal 6s linear infinite; */


}

.navbr {
	font-family: Nunito;
	 border-bottom: 1px solid #dfdfdf;
	  top: 0;
	position: fixed;
    right: 0;
    left: 0;
    z-index: 40;
    background-color: #fff;
    color: #FFFFFF;
    border-bottom: 1px solid #dfdfdf;
    border-color: rgba(0,0,0,0.12);
}

.outr {
	padding: 90px 15px 0 65px;
    background-color: #ebeff1;
}

.innr	{
	background: #fff;
	margin-right:50px;
}

.split {
	width: 50%;
	margin-left: 30px !important;
	margin-right: 30px !important;
	margin-top:10px;
}

.split label {
	position: relative !important;
}

.cont {
	min-height: 1124px;
}

.pull-right {
	width: 100%;
	float: right;
}

.btn-group {
	display: inline-block;
	vertical-align: middle;
	float: right !important;
}

.sidenv h3 {
	color: #fff;
}

.box {
	width: 33%;
	height: 30vh;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}