<!DOCTYPE html>
<html lang="en" ng-app="partner">
  <head>
    <title>Partner Portal</title>
    <!-- Bootstrap -->
    <link href="bower_components/chosen/chosen.min.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
   <!--  <link href="bower_components/material-design-icons/iconfont/material-icons.css"
      rel="stylesheet"> -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
      <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
	<link href="css/custom.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="https://s3.ap-south-1.amazonaws.com/jammatestatic/site/jammate-favicon.png"/>
  <link href="bower_components/moment-picker/dist/angular-moment-picker.min.css" rel="stylesheet">
  <link href="bower_components/moment-picker/dist/themes/material-ui.min.css" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.min.css">
  	
  </head>
  <body>
  
  <div >
  <div class="navbr" ng-show = "loggedIn">
  <button  aria-label="Side Panel" ng-click="openSideNavPanel()" style="position: absolute; border:none; padding-left:25px; padding-top: 15px;">
    				 <md-tooltip>Side Panel</md-tooltip>
			     <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
			</button>
  <img src="https://s3.ap-south-1.amazonaws.com/jammatestatic/site/jammate-logo.png"
   width="33" height="38" style="padding-left:70px; padding-top:5px;" ng-click="gotoDashboard()"/>
  <md-nav-bar ng-show = "loggedIn" style="float:right;"
      md-no-ink-bar="disableInkBar"
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links" >
      <md-nav-item name="orgSetup" md-nav-href="#!setup/{{hostId}}" aria-label="orgSetup" >
         Org Setup
      </md-nav-item>
      <md-nav-item name="displayName" md-nav-href="#!dashboard/{{hostId}}" aria-label="displayName">
         {{displayName}}
      </md-nav-item>
      <md-nav-item name="logout" ng-click="logout()" md-nav-href="#!login" aria-label="logout" >
         Logout
      </md-nav-item>
 	</md-nav-bar>
 		</div>
 	<md-sidenav class="md-sidenav-left md-whiteframe-z2" style="background: #082331;"
        			md-component-id="left" style="z-index:999">
		    <md-toolbar layout="row">
		     <div class="md-toolbar-tools">
		        <span ng-click="gotoDashboard()" flex>Jammate</span>
		        <md-button class="md-icon-button" aria-label="Close Side Panel" 
		        ng-click="closeSideNavPanel()">
		          <md-tooltip>Hide</md-tooltip>
		          <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
		        </md-button>
		       </div>
		    </md-toolbar> 
		    <md-content layout-padding="" class="sidenv" style="background: #082331;">
		      	<h3><a href="#!transactions/{{hostId}}" ng-click="closeSideNavPanel()" class="nostyle">Transactions</a></h3>
		      	<h3><a href="#!settlements/{{hostId}}" ng-click="closeSideNavPanel()" class="nostyle">Settlements</a></h3>
		    </md-content> 
		</md-sidenav>
 
	    <div class="outr">
						    <div ng-view></div>
						      	<div class="loading-widget-div" data-ng-show="blockUI">
						      		<div class="loading-container">
						            		<img src="assets/wedges.gif">
						            </div>
						        </div>
		</div>
	</div>
	
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/chosen/chosen.jquery.min.js"></script>
	
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-chosen-localytics/dist/angular-chosen.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/restangular/dist/restangular.min.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>
	<script src="bower_components/nvd3/build/nv.d3.min.js"></script> <!-- or use another assembly -->
	<script src="bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
    
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    
  
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="dist/beatnik.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZbsqOvpCfS74fjifWiRuXkP_OkGmuhKw"></script>
    <script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
    <script type="text/javascript">
		angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
	</script>
	<script src="bower_components/firebase/firebase-app.js"></script>
	<script src="bower_components/firebase/firebase-auth.js"></script>
	<script src="bower_components/angularfire/dist/angularfire.min.js"></script>
	<script src="bower_components/firebaseui/dist/firebaseui.js"></script>
	<script src="bower_components/moment/moment.js"></script>
	<script src="bower_components/angular-moment/angular-moment.js"></script>
	<script src="bower_components/moment/min/moment-with-locales.js"></script>
	<script src="bower_components/moment-picker/dist/angular-moment-picker.min.js"></script>
	<link type="text/css" rel="stylesheet" href="bower_components/firebaseui/dist/firebaseui.css" />
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyAZbsqOvpCfS74fjifWiRuXkP_OkGmuhKw",
	    authDomain: "jammate-consumer-app.firebaseapp.com",
	    databaseURL: "https://jammate-consumer-app.firebaseio.com",
	    projectId: "jammate-consumer-app",
	    storageBucket: "jammate-consumer-app.appspot.com",
	    messagingSenderId: "747490138332"
	  };
	  firebase.initializeApp(config);
	</script>

  <footer class="copyright">
	  <div>
	   <span> &copy; 2018. Jammate Inc. &nbsp; | </span>
	    <span> &nbsp; &nbsp; yourfriends@jammate.in &nbsp; | &nbsp; +91 95350 97852</span>
	  </div>
</footer>
	
  </body>
</html>
