<div ng-controller="HomeController">
<md-toolbar>
    		<div class="md-toolbar-tools">
    			<md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
    				 <md-tooltip>Side Panel</md-tooltip>
			     <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
			</md-button>
			
			<md-button class="md-icon-button" aria-label="User">
	          <img src="https://s3.ap-south-1.amazonaws.com/jammatestatic/site/jammate-logo.png"
	           width="37" height="43" style="padding:35px;"/>
	        </md-button>
    		</div>
    		</md-toolbar>
    		<md-sidenav class="md-sidenav-left md-whiteframe-z2"
        			md-component-id="left" style="z-index:999">
		    <md-toolbar layout="row">
		     <div class="md-toolbar-tools">
		        <h2>
		          <span>Filters</span>
		        </h2>
		        <span flex></span>
		        <md-button class="md-icon-button" aria-label="Close Side Panel" 
		        ng-click="closeSideNavPanel()">
		          <md-tooltip>Hide</md-tooltip>
		          <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
		        </md-button>
		       </div>
		    </md-toolbar> 
		    <md-content layout-padding="">
		      	<md-checkbox ng-model="showJamroom" aria-label="jamrooms" ng-change="showTiles()">
				  	Show Avg Real Estate Price Ward Tiles 
				</md-checkbox>
		    </md-content> 
		</md-sidenav>


<div id="mapid">
	    
	    
	    </div>
	    </div>