<div ng-controller="CreateRoomController" class="innr">
		<div layout="column" layout-margin layout-padding>
			<form name="onboardForm" ng-submit="submit()">

		<section>
					<md-toolbar class="md-table-toolbar md-default" style="width:95%">
						  <div class="md-toolbar-tools">
						    <span>Room Details</span>
						  </div>
					</md-toolbar>
					
					<div flex class="flex" layout="column">
						<div flex="50" class="dropbox-left">
						<div class='button-wrapper'>
						<button   ngf-select="imageSelect(0)" class="btn"
						 ngf-drop="imageSelect(0)" ng-model="formData.images[0] "
						 ngf-resize="{width: 600, height: 400, centerCrop: true}">
							Select Image
							</button>
							</div>
							<img ngf-src="formData.images[0]">
							</div>
							<div flex="50" class="dropbox-right">
							<div class='button-wrapper'>
						<button ngf-select="imageSelect(1)" class="btn"
						ngf-drop="imageSelect( 1)" ng-model="formData.images[1] "
						ngf-resize="{width: 600, height: 400, centerCrop: true}">
							Select Image</button>
							</div>
							<img ngf-src="formData.images[1]">
						
						</div>
						<div flex="50" class="dropbox-left">
						<div class='button-wrapper'>
						<button ngf-select="imageSelect(2)"  class="btn"
						ngf-drop="imageSelect( 2)" ng-model="formData.images[2] "
						ngf-resize="{width: 600, height: 400, centerCrop: true}">
							Select Image </button>
							</div>
							<img ngf-src="formData.images[2]">
						
						</div>
						<div flex="50" class="dropbox-right">
						<div class='button-wrapper'>
						<button  ngf-select="imageSelect( 3)"  class="btn"
						ngf-drop="imageSelect( 3)" ng-model="formData.images[3] "
						ngf-resize="{width: 600, height: 400, centerCrop: true}">
							Select Image </button>
							</div>
							<img ngf-src="formData.images[3]">
						</div>
					</div>
					
						
					
					
					
					<div flex class="flex" layout="row">
						<md-input-container style="width:50%">
						<ng-form name="capMinForm">
			    				<label for="capacityMin">Capacity Range Minimum</label>
									<input type="number"  id="capacityMin" name="capacityMin" aria-describedby="capacityMin"
									 placeholder="Capacity Range Minimum" ng-model="formData.minCapacity" >
									 </ng-form>
						  </md-input-container>
							 <md-input-container style="width:45%">
			    				<label for="capacityMax">Capacity Range Maximum</label>
									<input type="number"  id="capacityMax" name="capacityMax" aria-describedby="capacityMax"
									 placeholder="Capacity Range Maximum" ng-model="formData.maxCapacity">
							</md-input-container>
					</div>
					
					<div flex class="flex" layout="row">
						<md-input-container style="width:50%">
			    				<label for="noOfStools">No of Stools</label>
									<input type="number"  id="noOfStools" name="noOfStools" aria-describedby="noOfStools"
									 placeholder="No. of Stools" ng-model="formData.noOfStools" >
						  </md-input-container>
							 <md-input-container style="width:45%">
			    				<label for="noOfMixerBoardInputs">No of Mixer Board Inputs</label>
									<input type="number"  id="noOfMixerBoardInputs" name="noOfMixerBoardInputs" aria-describedby="noOfMixerBoardInputs"
									 placeholder="No of Mixer Board Inputs" ng-model="formData.noOfMixerBoardInputs">
							</md-input-container>
					</div>
					
					<div flex class="flex" layout="row">
						<md-input-container style="width:50%">
			    				<label for="drumkitBrand">Drumkit Brand</label>
									<input type="text"  id="drumkitBrand" name="drumkitBrand" aria-describedby="drumkitBrand"
									 placeholder="Drumkit Brand" ng-model="formData.drumkitBrand" >
						  </md-input-container>
							 <md-input-container style="width:45%">
			    				<label for="drumkitPieces">Drumkit Pieces</label>
									<input type="number"  id="drumkitPieces" name="drumkitPieces" aria-describedby="drumkitPieces"
									 placeholder="Drumkit Pieces" ng-model="formData.drumkitPieces">
							</md-input-container>
					</div>
					
					<div flex class="flex" layout="row">
						<md-input-container style="width:50%">
			    				<label for="speakerBrand">Speaker Brand</label>
									<input type="text"  id="speakerBrand" name="speakerBrand" aria-describedby="speakerBrand"
									 placeholder="Speaker Brand" ng-model="formData.speakerBrand" >
						  </md-input-container>
							 <md-input-container style="width:45%">
									<md-checkbox  id="soundProofed" name="soundProofed" aria-describedby="soundProofed"
									 ng-model="formData.soundProofed">Sound Proofed</md-checkbox>
							</md-input-container>
					</div>
					
					<div flex class="flex" layout="row">
						<md-input-container style="width:50%">
			    				<label for="noOfAmplifiers">No of Amplifiers</label>
									<input type="number"  id="noOfAmplifiers" name="noOfAmplifiers" aria-describedby="noOfAmplifiers"
									 placeholder="No of Amplifiers" ng-model="formData.noOfAmplifiers" 
									 ng-init="formData.amplifierBrands = []">
						  </md-input-container>
						   <div style="width:45%">
						  <ng-form name="otherChipForm" >
								<md-chips name="otherItems" ng-model="formData.otherItems" 
							  placeholder="Other Amenities" ></md-chips>
						 </ng-form>
						 </div>
					</div>
					
					<div flex class="flex" layout="row">
						  <md-input-container style="width:50%">
			    				<label for="noOfMics">No of Mics</label>
									<input type="number"  id=""noOfMics"" name=""noOfMics"" aria-describedby=""noOfMics""
									 placeholder="No. of Mics" ng-model="formData.noOfMics"
									 ng-init="formData.mics = []" ng-change="changeMics($index)">
									 
						  </md-input-container>
						  
						 <div style="width:45%">
						  <ng-form name="ampChipForm" >
								<md-chips name="amplifiers" ng-model="formData.amplifierBrands" 
							  placeholder="Add Amplifier Brand" ></md-chips>
							  <div  ng-if="ampChipForm.$dirty">
							    <div ng-show="formData.amplifierBrands.length != formData.noOfAmplifiers">Please enter {{formData.noOfAmplifiers}} amplifier brands</div>
							 </div>
						 </ng-form>
						 </div>
					</div>
					
				<md-toolbar class="md-table-toolbar md-default" style="width:95%" ng-show="formData.noOfMics > 0">
				  <div class="md-toolbar-tools">
				    <span>Microphones</span>
				  </div>
				  
				</md-toolbar>
				
				<md-table-container>
				<table md-table md-row-select multiple style="width:95%" ng-show="formData.noOfMics > 0">
					<thead md-head>
						<tr md-row>
							<th md-column>Has Condenser?</th>
							<th md-column>Is Wireless?</th>
							<th md-column>For instruments?</th>
						</tr>
					</thead>
					<tbody md-body>
					<tr md-row ng-repeat="mic in formData.mics track by $index">
						<td md-cell>
							<md-checkbox  id="hasCondenser" aria-describedby="hasCondenser"
							  ng-model="mic.hasCondenser" aria-laebl="condenser"></md-checkbox>
					</td>
						<td md-cell>
							<md-checkbox  id="isWireless" aria-describedby="isWireless"
							  ng-model="mic.isWireless" aria-laebl="wireless"></md-checkbox>
					</td>
						<td md-cell>
							<md-checkbox id="forInstrument" aria-describedby="forInstrument"
							  ng-model="mic.forInstrument" aria-laebl="instrument"></md-checkbox>
					</td>
					</tr>
					</tbody>
				</table> 
				</md-table-container>
				<br/><br/><br/>
				
				  
				  <div flex class="flex" layout="row">
						<md-checkbox  style="width:45%" id="hasJamming" aria-describedby="hasJamming" ng-change="hasJamming()"
							  ng-model="formData.hasJamming" aria-laebl="hasJamming">Has Jamming?</md-checkbox>
							  
							  <md-checkbox  style="width:50%" id="hasRecording" aria-describedby="hasRecording" ng-change="hasRecording()"
							  ng-model="formData.hasRecording" aria-laebl="hasRecording">Has Plain Recording?</md-checkbox>
					    
				  </div>
				  
				  <div>
				  	<md-checkbox style="width:45%" id="hasMasterRecording" aria-describedby="hasMasterRecording" ng-change="hasMasterRecording()"
							  ng-model="formData.hasMasterRecording" aria-laebl="hasMasterRecording">Has Master Recording?</md-checkbox>
				  	<md-checkbox style="width:50%" id="hasVoiceover" aria-describedby="hasVoiceover" ng-change="hasVoiceoverRecording()"
							  ng-model="formData.hasVoiceover" aria-laebl="hasVoiceover">Has Voiceover Recording?</md-checkbox>
				  </div>
				  
				  <h3>Prices</h3>
				  <div flex class="flex" layout="row">
				  	<md-input-container style="width:50%">
	    						<label for="xHourPackage">X Hour Package</label>
							<input type="number" id="xHourPackage" name="xHourPackage" aria-describedby="xHourPackage"
							 placeholder="X Hour Package" ng-model="formData.xHourPackage" required>
					</md-input-container> 
				  </div>
				  <div ng-if="formData.hasJamming">
				 <md-toolbar class="md-table-toolbar md-default" style="width:95%">
				  <div class="md-toolbar-tools">
				    <span>Jamming - Hourly</span>
				    <md-button class="md-raised md-primary md-button md-ink-ripple" id="addHourlySlab" name="addHourlySlab"
							value="Add Slab" aria-label="hourlyPrice" ng-click="addSlab(formData.jamming.slabs)" >Add Slab</md-button>
				  </div>
				  
				</md-toolbar>
				
				<md-table-container>
				<table md-table md-row-select multiple style="width:95%">
					<thead md-head>
						<tr md-row>
							<th md-column>Start Day</th>
							<th md-column>End Day</th>
							<th md-column>Start Hours</th>
							<th md-column>End Hours</th>
							<th md-column>Price</th>
							<th md-column>Remove Slab</th>
						</tr>
					</thead>
					<tbody md-body>
					<tr md-row ng-repeat="slab in formData.jamming.slabs track by $index">
						<td md-cell>
						<md-input-container>
							<md-select id="dayOfWeekStart" ng-model="slab.dayOfWeekStart"  aria-describedby="dayOfWeekStart" >
							<md-option ng-value="day" ng-repeat="day in days">{{day}}</md-option>
							</md-select>
					</md-input-container> 
					</td>
						<td md-cell>
						<md-input-container>
							<md-select id="dayOfWeekEnd" ng-model="slab.dayOfWeekEnd"  aria-describedby="dayOfWeekEnd" >
							<md-option ng-value="day" ng-repeat="day in days">{{day}}</md-option>
							</md-select>
					</md-input-container> 
					</td>
						<td md-cell>
						<md-input-container>
							<div  class="form-control" moment-picker="slab.timeStart" format="HH">
								<span>{{ slab.timeStart || 'Select Hour...' }}</span>
							</div>
							</md-input-container>
					</td>
					<td md-cell>
						<md-input-container>
							<div  class="form-control" moment-picker="slab.timeEnd" format="HH">
								<span>{{ slab.timeEnd || 'Select Hour...' }}</span>
							</div>
							</md-input-container>
					</td>
					<td md-cell>
						<md-input-container>
							<input type="number"  id="price" aria-describedby="price"
							 placeholder="Price" ng-model="slab.price">
					</md-input-container> 
					</td>
					<td md-cell>
						<md-button id="deleteButton" class="md-fab md-mini" ng-click="removeSlab(formData.jamming.slabs, $index)" >
				        <md-icon class="material-icons">delete</md-icon>
				      </md-button>
					</td>
					</tr>
					</tbody>
				</table> 
				</md-table-container>
				  <h4>Jamming - {{formData.xHourPackage}} &nbsp; Hour Package</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container style="width:50%">
	    						<label for="jammingXWeekday">Weekdays</label>
							<input type="number" id="jammingXWeekday" name="jammingXWeekday" aria-describedby="jammingXWeekday"
							 placeholder="Weekdays" ng-model="formData.jamming.xweekday" required>
						</md-input-container> 
						<md-input-container style="width:45%">
	    						<label for="jammingXWeekend">Weekends</label>
							<input type="number" id="jammingXWeekend" name="jammingXWeekend" aria-describedby="jammingXWeekend"
							 placeholder="Weekends" ng-model="formData.jamming.xweekend" required>
					</md-input-container> 
				  </div>
				  <h4>Jamming - Full Day</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container style="width:50%">
	    						<label for="jammingFullWeekday">Weekdays</label>
							<input type="number" id="jammingFullWeekday" name="jammingFullWeekday" aria-describedby="jammingFullWeekday"
							 placeholder="Weekdays" ng-model="formData.jamming.fullweekday" required>
						</md-input-container> 
						<md-input-container style="width:45%">
	    						<label for="jammingFullWeekend">Weekends</label>
							<input type="number" id="jammingFullWeekend" name="jammingFullWeekend" aria-describedby="jammingFullWeekend"
							 placeholder="Weekends" ng-model="formData.jamming.fullweekend" required>
					</md-input-container> 
				  </div>
				  </div>
				  <div ng-if="formData.hasRecording">
				 <md-toolbar class="md-table-toolbar md-default" style="width:95%">
				  <div class="md-toolbar-tools">
				    <span>Plain Recording - Hourly</span>
				    <md-button class="md-raised md-primary md-button md-ink-ripple" id="addHourlySlab" name="addHourlySlab"
							value="Add Slab" aria-label="hourlyPrice" ng-click="addSlab(formData.recording.slabs)" >Add Slab</md-button>
				  </div>
				  
				</md-toolbar>
				
				<md-table-container>
				<table md-table md-row-select multiple style="width:95%">
					<thead md-head>
						<tr md-row>
							<th md-column>Start Day</th>
							<th md-column>End Day</th>
							<th md-column>Start Hours</th>
							<th md-column>End Hours</th>
							<th md-column>Price</th>
							<th md-column>Remove Slab</th>
						</tr>
					</thead>
					<tbody md-body>
					<tr md-row ng-repeat="slab in formData.recording.slabs track by $index">
						<td md-cell>
						<md-input-container>
							<md-select id="dayOfWeekStart" ng-model="slab.dayOfWeekStart"  aria-describedby="dayOfWeekStart" >
							<md-option ng-value="day" ng-repeat="day in days">{{day}}</md-option>
							</md-select>
					</md-input-container> 
					</td>
						<td md-cell>
						<md-input-container>
							<md-select id="dayOfWeekEnd" ng-model="slab.dayOfWeekEnd"  aria-describedby="dayOfWeekEnd" >
							<md-option ng-value="day" ng-repeat="day in days">{{day}}</md-option>
							</md-select>
					</md-input-container> 
					</td>
						<td md-cell>
						<md-input-container>
							<div  class="form-control" moment-picker="slab.timeStart" format="HH">
								<span>{{ slab.timeStart || 'Select Hour...' }}</span>
							</div>
							</md-input-container>
					</td>
					<td md-cell>
						<md-input-container>
							<div  class="form-control" moment-picker="slab.timeEnd" format="HH">
								<span>{{ slab.timeEnd || 'Select Hour...' }}</span>
							</div>
							</md-input-container>
					</td>
					<td md-cell>
						<md-input-container>
							<input type="number"  id="price" aria-describedby="price"
							 placeholder="Price" ng-model="slab.price">
					</md-input-container> 
					</td>
					<td md-cell>
						<md-button id="deleteButton" class="md-fab md-mini" ng-click="removeSlab(formData.recording.slabs, $index)" >
				        <md-icon class="material-icons">delete</md-icon>
				      </md-button>
					</td>
					</tr>
					</tbody>
				</table> 
				</md-table-container>
				  
				  
				  <h4>Plain Recording - {{formData.xHourPackage}} &nbsp; Hour Package</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container style="width:50%">
	    						<label for="recordingXWeekday">Weekdays</label>
							<input type="number" id="recordingXWeekday" name="recordingXWeekday" aria-describedby="recordingXWeekday"
							 placeholder="Weekdays" ng-model="formData.recording.xweekday" 
							 ng-required="formData.hasRecording">
						</md-input-container> 
						<md-input-container style="width:45%">
	    						<label for="recordingXWeekend">Weekends</label>
							<input type="number" id="recordingXWeekend" name="recordingXWeekend" aria-describedby="recordingXWeekend"
							 placeholder="Weekends" ng-model="formData.recording.xweekend"
							  ng-required="formData.hasRecording">
					</md-input-container> 
				  </div>
				  <h4>Plain Recording - Full Day</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container style="width:50%">
	    						<label for="recordingFullWeekday">Weekdays</label>
							<input type="number" id="recordingFullWeekday" name="recordingFullWeekday" aria-describedby="recordingFullWeekday"
							 placeholder="Weekdays" ng-model="formData.recording.fullweekday"
							  ng-required="formData.hasRecording">
						</md-input-container> 
						<md-input-container style="width:45%">
	    						<label for="recordingFullWeekend">Weekends</label>
							<input type="number" id="recordingFullWeekend" name="recordingFullWeekend" aria-describedby="recordingFullWeekend"
							 placeholder="Weekends" ng-model="formData.recording.fullweekend"
							  ng-required="formData.hasRecording">
					</md-input-container> 
				  </div>
				  </div>
				  
				  
				  
				  
				  <div ng-if="formData.hasMasterRecording">
				
				
				<md-toolbar class="md-table-toolbar md-default" style="width:95%">
				  <div class="md-toolbar-tools">
				    <h4>Master Recording - Hourly</h4>
				    <md-button class="md-raised md-primary md-button md-ink-ripple" id="addHourlySlab" name="addHourlySlab"
							value="Add Slab" aria-label="hourlyPrice" ng-click="addSlab(formData.master.slabs)" >Add Slab</md-button>
				  </div>
				  
				</md-toolbar>
				
				<md-table-container>
				<table md-table md-row-select multiple style="width:95%">
					<thead md-head>
						<tr md-row>
							<th md-column>Start Day</th>
							<th md-column>End Day</th>
							<th md-column>Start Hours</th>
							<th md-column>End Hours</th>
							<th md-column>Price</th>
							<th md-column>Remove Slab</th>
						</tr>
					</thead>
					<tbody md-body>
					<tr md-row ng-repeat="slab in formData.master.slabs track by $index">
						<td md-cell>
						<md-input-container>
							<md-select id="dayOfWeekStart" ng-model="slab.dayOfWeekStart"  aria-describedby="dayOfWeekStart" >
							<md-option ng-value="day" ng-repeat="day in days">{{day}}</md-option>
							</md-select>
					</md-input-container> 
					</td>
						<td md-cell>
						<md-input-container>
							<md-select id="dayOfWeekEnd" ng-model="slab.dayOfWeekEnd"  aria-describedby="dayOfWeekEnd" >
							<md-option ng-value="day" ng-repeat="day in days">{{day}}</md-option>
							</md-select>
					</md-input-container> 
					</td>
						<td md-cell>
						<md-input-container>
							<div  class="form-control" moment-picker="slab.timeStart" format="HH">
								<span>{{ slab.timeStart || 'Select Hour...' }}</span>
							</div>
							</md-input-container>
					</td>
					<td md-cell>
						<md-input-container>
							<div  class="form-control" moment-picker="slab.timeEnd" format="HH">
								<span>{{ slab.timeEnd || 'Select Hour...' }}</span>
							</div>
							</md-input-container>
					</td>
					<td md-cell>
						<md-input-container>
							<input type="number"  id="price" aria-describedby="price"
							 placeholder="Price" ng-model="slab.price">
					</md-input-container> 
					</td>
					<td md-cell>
						<md-button id="deleteButton" class="md-fab md-mini" ng-click="removeSlab(formData.master.slabs, $index)" >
				        <md-icon class="material-icons">delete</md-icon>
				      </md-button>
					</td>
					</tr>
					</tbody>
				</table> 
				</md-table-container>

				  <h4>Master Recording - {{formData.xHourPackage}} &nbsp; Hour Package</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container style="width:50%">
	    						<label for="masterXWeekday">Weekdays</label>
							<input type="number" id="masterXWeekday" name="masterXWeekday" aria-describedby="masterXWeekday"
							 placeholder="Weekdays" ng-model="formData.master.xweekday"
							  ng-required="formData.hasMasterRecording">
						</md-input-container> 
						<md-input-container style="width:45%">
	    						<label for="masterXWeekend">Weekends</label>
							<input type="number" id="masterXWeekend" name="masterXWeekend" aria-describedby="masterXWeekend"
							 placeholder="Weekends" ng-model="formData.master.xweekend" 
							 ng-required="formData.hasMasterRecording">
					</md-input-container> 
				  </div>
				  <h4>Master Recording - Full Day</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container style="width:50%">
	    						<label for="masterFullWeekday">Weekdays</label>
							<input type="number" id="masterFullWeekday" name="masterFullWeekday" aria-describedby="masterFullWeekday"
							 placeholder="Weekdays" ng-model="formData.master.fullweekday"
							  ng-required="formData.hasMasterRecording">
						</md-input-container> 
						<md-input-container style="width:45%">
	    						<label for="masterFullWeekend">Weekends</label>
							<input type="number" id="masterFullWeekend" name="masterFullWeekend" aria-describedby="masterFullWeekend"
							 placeholder="Weekends" ng-model="formData.master.fullweekend" 
							 ng-required="formData.hasMasterRecording">
					</md-input-container> 
				  </div>
				  </div>
				  <div ng-if="formData.hasVoiceover">
				  
				<md-toolbar class="md-table-toolbar md-default" style="width:95%">
				  <div class="md-toolbar-tools">
				    <h4>Voiceover Recording - Hourly</h4>
				    <md-button class="md-raised md-primary md-button md-ink-ripple" id="addHourlySlab" name="addHourlySlab"
							value="Add Slab" aria-label="hourlyPrice" ng-click="addSlab(formData.voiceover.slabs)" >Add Slab</md-button>
				  </div>
				  
				</md-toolbar>
				
				<md-table-container>
				<table md-table md-row-select multiple style="width:95%">
					<thead md-head>
						<tr md-row>
							<th md-column>Start Day</th>
							<th md-column>End Day</th>
							<th md-column>Start Hours</th>
							<th md-column>End Hours</th>
							<th md-column>Price</th>
							<th md-column>Remove Slab</th>
						</tr>
					</thead>
					<tbody md-body>
					<tr md-row ng-repeat="slab in formData.voiceover.slabs track by $index">
						<td md-cell>
						<md-input-container>
							<md-select id="dayOfWeekStart" ng-model="slab.dayOfWeekStart"  aria-describedby="dayOfWeekStart" >
							<md-option ng-value="day" ng-repeat="day in days">{{day}}</md-option>
							</md-select>
					</md-input-container> 
					</td>
						<td md-cell>
						<md-input-container>
							<md-select id="dayOfWeekEnd" ng-model="slab.dayOfWeekEnd"  aria-describedby="dayOfWeekEnd" >
							<md-option ng-value="day" ng-repeat="day in days">{{day}}</md-option>
							</md-select>
					</md-input-container> 
					</td>
						<td md-cell>
						<md-input-container>
							<div  class="form-control" moment-picker="slab.timeStart" format="HH">
								<span>{{ slab.timeStart || 'Select Hour...' }}</span>
							</div>
							</md-input-container>
					</td>
					<td md-cell>
						<md-input-container>
							<div  class="form-control" moment-picker="slab.timeEnd" format="HH">
								<span>{{ slab.timeEnd || 'Select Hour...' }}</span>
							</div>
							</md-input-container>
					</td>
					<td md-cell>
						<md-input-container>
							<input type="number"  id="price" aria-describedby="price"
							 placeholder="Price" ng-model="slab.price">
					</md-input-container> 
					</td>
					<td md-cell>
						<md-button id="deleteButton" class="md-fab md-mini" ng-click="removeSlab(formData.voiceover.slabs, $index)" >
				        <md-icon class="material-icons">delete</md-icon>
				      </md-button>
					</td>
					</tr>
					</tbody>
				</table> 
				</md-table-container>

				  <h4>Voiceover Recording - {{formData.xHourPackage}} &nbsp; Hour Package</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container style="width:50%">
	    						<label for="voiceoverXWeekday">Weekdays</label>
							<input type="number" id="voiceoverXWeekday" name="voiceoverXWeekday" aria-describedby="voiceoverXWeekday"
							 placeholder="Weekdays" ng-model="formData.voiceover.xweekday" 
							 ng-required="formData.hasVoiceover">
						</md-input-container> 
						<md-input-container style="width:45%">
	    						<label for="voiceoverXWeekend">Weekends</label>
							<input type="number" id="voiceoverXWeekend" name="voiceoverXWeekend" aria-describedby="voiceoverXWeekend"
							 placeholder="Weekends" ng-model="formData.voiceover.xweekend" 
							 ng-required="formData.hasVoiceover">
					</md-input-container> 
				  </div>
				  <h4>Voiceover Recording - Full Day</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container style="width:50%">
	    						<label for="voiceoverFullWeekday">Weekdays</label>
							<input type="number" id="voiceoverFullWeekday" name="voiceoverFullWeekday" aria-describedby="voiceoverFullWeekday"
							 placeholder="Weekdays" ng-model="formData.voiceover.fullweekday"
							  ng-required="formData.hasVoiceover">
						</md-input-container> 
						<md-input-container style="width:45%">
	    						<label for="voiceoverFullWeekend">Weekends</label>
							<input type="number" id="voiceoverFullWeekend" name="voiceoverFullWeekend" aria-describedby="voiceoverFullWeekend"
							 placeholder="Weekends" ng-model="formData.voiceover.fullweekend"
							  ng-required="formData.hasVoiceover">
					</md-input-container> 
				  </div>
				  </div>
				  
				</section>
				
				<br/><br/>
				
				<md-button class="md-raised md-primary md-button md-ink-ripple" type="submit"
				 style="margin-bottom: 30px;"  >Submit</md-button>
</form>
</div>
</div>