<div ng-controller="CreateHostController as vm" class="innr">
		<div layout="column" layout-margin layout-padding>
			<form name="onboardForm" ng-submit="submit()">
			<div flex class="flex" layout="row">
			<md-input-container style="width:50%">
    				<label for="ownerName">Owner Name</label>
						<input type="text"  id="ownerName" name="ownerName" aria-describedby="ownerName"
						 placeholder="Owner Name" ng-model="formData.ownerName" required ng-change="setAccountHolderName()">
						 <div ng-messages="onboardForm.ownerName.$error" ng-show="onboardForm.ownerName.$dirty">
					      	<div ng-show="onboardForm.ownerName.$error.required">This is required!</div>
					    </div>
			  </md-input-container>
				 <md-input-container style="width:45%">
    				<label for="orgName">Organization Name</label>
						<input type="text"  id="orgName" name="orgName" aria-describedby="orgName"
						 placeholder="Organization Name" ng-model="formData.orgName" required>
				</md-input-container>
			</div>
			<div flex class="flex" layout="row">
			<md-input-container style="width:50%">
    				<label for="email">Email address</label>
						<input type="email"  id="email" name="email" aria-describedby="email" 
						placeholder="Email" ng-model="formData.email" required>
				</md-input-container>
				<md-input-container style="width:45%">
    					<label for="contactNo">Contact No</label>
						<input type="tel"  id="contact" name="contact" aria-describedby="contact"
						 placeholder="Contact Number" ng-model="formData.contact" required>
				</md-input-container>
				</div>
				<div flex class="flex" layout="row">
				<md-input-container style="width:50%">
    					<label for="fbPage">Facebook Page</label>
						<input type="text"  id="fbPage" aria-describedby="fbPage"
						 placeholder="Facebook Page" ng-model="formData.fbPage" >
				</md-input-container>
				<md-input-container style="width:45%">
    					<label for="webPage">Website</label>
						<input type="text"  id="website" aria-describedby="website"
						 placeholder="Website" ng-model="formData.website" >
				</md-input-container>
				</div>
				<!-- <div flex class="flex" layout="row">
					<md-input-container class="md-block" style="width:45%">
					    <input type="text" ng-model="file.name" aria-label="filename" disabled required>
	      				<div class="hint">Select your file</div>
				  </md-input-container>
				   <div>
				      <md-button id="uploadButton" class="md-fab md-mini" ngf-select 
				      ng-model="file" name="file" ngf-pattern="'image/*'"
    						ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
				      
				        <md-icon class="material-icons">attach_file</md-icon>
				      </md-button>
				    </div>
			  </div> -->
			  <div flex class="flex" layout="row">
			  <md-input-container style="width:50%">
			      <label for="openTimeH">Open Time Hours</label>
			      <md-select id="openTimeH" ng-model="formData.openHours"  aria-describedby="openTimeHours" 
			      		ng-init="formData.openHours=hourOptions[9]" required>
						<md-option ng-value="hourOption" ng-repeat="hourOption in hourOptions">{{hourOption}}</md-option>
				</md-select>
				</md-input-container>
				<md-input-container style="width:45%">
					<label for="openTimeM">Open Time Miinutes</label>
                   <md-select id="openTimeM" ng-model="formData.openMins" aria-describedby="openTimeMins" 
							ng-init="formData.openMins=minOptions[0]" required >
                       <md-option ng-value="minOption" ng-repeat="minOption in minOptions">{{minOption}}</md-option>
                                    </md-select>
			    </md-input-container>
			    </div>
			    
			    <div flex class="flex" layout="row">
			    <md-input-container style="width:50%">
			    
			      <label for="closeTimeH">Closing Time Hours</label>
			      <md-select id="closeTimeH" ng-model="formData.closeHours" aria-describedby="closeTimeHours" 
							ng-init="formData.closeHours=hourOptions[23]" required>
                                    <md-option ng-value="hourOption" ng-repeat="hourOption in hourOptions">{{hourOption}}</md-option>
                                </md-select>
                  </md-input-container>
                  <md-input-container style="width:45%">
                  <label for="closeTimeM">Closing Time Minutes</label>
                   <md-select id="closeTimeM" ng-model="formData.closeMins" aria-describedby="closeTimeMinutes" 
							ng-init="formData.closeMins=minOptions[0]" required>
                   <md-option ng-value="minOption" ng-repeat="minOption in minOptions">{{minOption}}</md-option>
                   </md-select>
			    </md-input-container>
			  </div>
			   
			  <div flex class="flex" layout="row">
			  <md-input-container style="width:50%">
			      <label for="bookingStartTimeMultiples">Booking Start Time Multiples</label>
			      <md-select id="bookingStartTimeMultiples" ng-model="formData.startTimeMultiples" 
						ng-init="formData.startTimeMultiples=gapOptions[0]" aria-describedby="bookingStartTimeMultiples" required>
			        <md-option ng-value="gapOption" ng-repeat="gapOption in gapOptions">{{gapOption}}</md-option>
			      </md-select>
			   </md-input-container>
			   
			   <md-input-container style="width:45%">
			      <label for="bookingEndTimeMultiples">Slot Duration Multiples</label>
			      <md-select id="bookingEndTimeMultiples" ng-model="formData.slotDurationMultiples"
						ng-init="formData.slotDurationMultiples=mgapOptions[1]" aria-describedby="bookingEndTimeMultiples" required>
			        <md-option ng-value="gapOption" ng-repeat="gapOption in mgapOptions">{{gapOption}}</md-option>
			      </md-select>
			    </md-input-container>
			    </div>
			    
			    <div flex class="flex" layout="row">
				    <md-input-container style="width:50%">
				      <label for="orgType">Organization Type</label>
				      <md-select id="orgType" class="form-control" ng-model="formData.orgTypeId" aria-describedby="locationType" required>
				        <md-option ng-value="orgType.id" ng-repeat="orgType in orgTypes">{{orgType.label}}</md-option>
				      </md-select>
				    </md-input-container>
				    <md-input-container style="width:45%">
				      <label for="houseNo">House number</label>
							<input type="text" id="houseNo" name="houseNo" aria-describedby="houseNo"
							 placeholder="House number" ng-model="formData.houseNo" required>
				    </md-input-container>
			    </div>
			    
			    <div flex class="flex" layout="row">
				    
				    <md-input-container style="width:50%">
				      <label for="street">Street</label>
							<input type="text" id="street" name="street" aria-describedby="street"
							 placeholder="Street" ng-model="formData.street" required>
				    </md-input-container>
				    <md-input-container style="width:45%">
				      <label for="landmark">Landmark</label>
							<input type="text" id="landmark" name="landmark" aria-describedby="landmark"
							 placeholder="Landmark" ng-model="formData.landmark">
				    </md-input-container>
			    </div>
			    
			    <div flex class="flex" layout="row">
				    
				    <md-input-container style="width:50%">
				      <label for="area">Area</label>
							<input type="text" id="area" name="area" aria-describedby="area"
							 placeholder="Area" ng-model="formData.area" required>
				    </md-input-container>
				    <md-input-container style="width:45%">
	    						<label for="state">State</label>
							<md-select id="state" ng-model="stateId" ng-change="fetchCities()" required>
                                     <md-option ng-value="state.id" ng-repeat="state in states">{{state.name}}</md-option>
                                    </md-select>
					</md-input-container>  
			    </div>
			    
			    <div flex class="flex" layout="row">
			    		<md-input-container style="width:50%">
				      <label for="city">City</label>
				      <md-select id="city" ng-model="formData.cityId" required>
                                     <md-option ng-value="city.id" ng-repeat="city in cityOptions">{{city.name}}</md-option>
                                    </md-select>
				    </md-input-container>
				    <md-input-container style="width:45%">
	    						<label for="pinCode">Pincode</label>
							<input type="number" id="pinCode" name="pinCode" aria-describedby="pinCode"
							 placeholder="Pincode" ng-model="formData.pinCode" required>
					</md-input-container> 
					
				    
			    </div>
			    
				
				<ng-map center="current-location"  zoom="16" on-click="vm.addMarker()" style="width:95%">
				<!--  center="[12.929595, 77.631892]" -->
					<marker
	          			ng-repeat="pos in vm.positions" position="{{pos.lat}}, {{pos.lng}}"
	          			></marker> 
				</ng-map>
				<br/><br/>
				
				<div flex class="flex" layout="row">
				 <md-input-container style="width:50%">
    				<label for="accountNo">Account Number</label>
						<input type="text"  id="accountNo" aria-describedby="accountNo"
						 placeholder="Account Number" ng-model="formData.accountNo" required>
				</md-input-container>
				
				<md-input-container style="width:45%">
    				<label for="accountHolderName">Accountholder Name ()</label>
						<input type="text" id="accountHolderName" aria-describedby="accountHolderName"
						 placeholder="Accountholder Name" ng-model="formData.accountHolderName" 
						 required ng-disabled="true">
				</md-input-container>
				</div>
				
				<div flex class="flex" layout="row">
				<md-input-container style="width:50%">
			    
			      <label for="bankName">Bank Name (Enter bank and branch name OR IFSC code)</label>
			      
			      <md-select id="bankName" ng-model="formData.bankName"  ng-change="fetchBranches()" required
                                    >
                                     <md-option ng-value="bank" ng-repeat="bank in bankOptions">{{bank}}</md-option>
                                    </md-select>
			    </md-input-container>
			    
			    <div style="width:45%" ng-hide="branchName">
			    
			      <label for="branchName">Branch Name</label>
			      <select chosen id="branchName"   style="width:100%" 
					      data-placeholder-text-single="Choose Branch"
				          no-results-text="Could not find any branches'"
				          ng-model="formData.ifscCode"
                          ng-options="branch.ifscCode as branch.branchName for branch in branchOptions" value="{{branch.ifscCode}}"
                                  required  >
                                    <option value=""></option>
                                    </select>
			    </div>
			    <md-input-container style="width:45%;" ng-show="branchName">
			    			<label for="branchName">Branch Name</label>
			    			<input type="text" id="branchName" ng-model="branchName"
			    			aria-describedby="branchName" ng-disabled="true">
			    </md-input-container>
			    </div>
			    <div flex class="flex" layout="row">
					 <md-input-container style="width:50%">
	    				<label for="ifscCode">IFSC Code</label>
							<input type="text"  id="ifscCode" aria-describedby="ifscCode"
							 placeholder="IFSC Code" ng-model="formData.ifscCode" ng-blur='fetchBranch()' required>
					</md-input-container> 
					
			    
			      <md-input-container style="width:45%">
				      <label for="accountType">Account Type</label>
				      <md-select id="accountType" class="form-control" ng-model="formData.accountTypeId" aria-describedby="accountType" required>
				        <md-option ng-value="accountType.id" ng-repeat="accountType in accountTypes">{{accountType.label}}</md-option>
				      </md-select>
				    </md-input-container>
				</div>
				
				<md-toolbar class="md-table-toolbar md-default" style="width:95%">
				  <div class="md-toolbar-tools">
				    <span>Cancellation Policy</span>
				    <md-button class="md-raised md-primary md-button md-ink-ripple" id="addCancellationSlab" name="addCancellationSlab"
							value="Add Slab" aria-label="cancellationPolicy" ng-click="addSlab()" >Add Slab</md-button>
				  </div>
				  
				</md-toolbar>
				
				<md-table-container>
				<table md-table md-row-select multiple style="width:95%">
					<thead md-head>
						<tr md-row>
							<th md-column>Start - Hours before booking</th>
							<th md-column>End - Hours before booking</th>
							<th md-column>Percentage Refund</th>
							<th md-column>Remove Slab</th>
						</tr>
					</thead>
					<tbody md-body>
					<tr md-row ng-repeat="slab in formData.slabs track by $index">
						<td md-cell>
						<md-input-container>
							<input type="number"  id="slabStart" aria-describedby="slabStart"
							 placeholder="Start" ng-model="slab.start">
					</md-input-container> 
					</td>
						<td md-cell>
						<md-input-container>
							<input type="number"  id="slabEnd" aria-describedby="slabEnd"
							 placeholder="End" ng-model="slab.end">
					</md-input-container> 
					</td>
						<td md-cell>
						<md-input-container>
							<input type="number"  id="percent" aria-describedby="percent"
							 placeholder="Percent" ng-model="slab.percent">
					</md-input-container> 
					</td>
					<td md-cell>
						<md-button id="deleteButton" class="md-fab md-mini" ng-click="removeSlab($index)" >
				        <md-icon class="material-icons">delete</md-icon>
				      </md-button>
					</td>
					</tr>
					</tbody>
				</table> 
				</md-table-container>
				
				
							  
				<br/><br/>
				
				<md-button class="md-raised md-primary md-button md-ink-ripple" 
				type="submit" style="margin-bottom: 30px;"  >Submit</md-button>
			</form> 
			</div>
				
</div>
