<div class="innr" ng-controller="DashboardController">
	<div flex class="flex" layout="row">
		<div id="#first" style="width:33%;">
			<nvd3 options="options" data="hoursData" ></nvd3>
			<h3>Weekly Hours Ratio</h3>
		</div>
		
		 <div id="#second" style="width:33%;">
			<nvd3 options="options" data="bookingData"></nvd3>
			<br/><br/><h3>Weekly Booking Ratio</h3>
		</div>
		<!-- <div id="#third" style="width:34%;">
			<nvd3 options="options" data="revenueData"></nvd3>
			<br/><br/><h3>Weekly Revenue Ratio</h3>
		</div> -->
	</div>
	<div flex class="flex" layout="row">
		<!-- <div id="#fourth" style="width:50%;">
			<nvd3 options="options" data="bookingData"></nvd3>
			<br/><br/><h3>Daily Booking Ratio</h3>
		</div>
		<div id="#fifth" style="width:50%;">
			<nvd3 options="options" data="reviewData"></nvd3>
			<br/><br/><h3>Reviews and Feedback</h3>
		</div>	 -->
</div>