<div ng-controller="LoginController">
	<div class="container">
	<div class="loginimg">
		<img src="https://s3.ap-south-1.amazonaws.com/jammatestatic/site/jammate-logo.png" 
		width="127" height="150" />
	</div>
	<div id="firebaseui-auth-container" ng-hide="loggedIn"></div>
	</div>
</div>