<div class="innr" ng-controller="SettlementController">
	<div layout="column" layout-margin layout-padding>
			<form name="txnForm" ng-submit="submit()">
			<div flex class="flex" layout="row">
				<md-input-container style="width:40%">
				  <label>From Date</label>
				  <input type="date" ng-model="from">
				</md-input-container>
				
				<md-input-container style="width:40%">
				  <label>To Date</label>
				  <input type="date" ng-model="to">
				</md-input-container>
				
				<md-button class="md-accent md-raised" style="width:20%" ng-click="search()"> Search </md-button>
			</div>
			</form>
			<md-toolbar class="md-table-toolbar md-default" style="width:95%">
				  <div class="md-toolbar-tools">
				    <span>Settlements</span>
				  </div>
				  
				</md-toolbar>
				
				<md-table-container>
				<table md-table md-row-select multiple style="width:95%">
					<thead md-head>
						<tr md-row>
							<th md-column>Initiated Date</th>
							<th md-column>Settlement Date</th>
							<th md-column>Service Type</th>
							<th md-column>Payment Mode</th>
							<th md-column>Amount</th>
						</tr>
					</thead>
					<tbody md-body>
					<tr md-row ng-repeat="order in orders">
						<td md-cell>
						{{order.settlementInitiatedDate}}
					</td>
						<td md-cell>
						{{order.settlementDate}}
					</td>
						<td md-cell>
						{{order.serviceType}}
					</td>
					<td md-cell>
						{{order.paymentMode}}
					</td>
					<td md-cell>
						{{order.amount}}
					</td>
					</tr>
					</tbody>
				</table> 
				</md-table-container>
	</div>
</div>