<div ng-controller="SetupController" class="innr">

	<md-tabs md-selected="selectedIndex" md-dynamic-height>
		<md-tab label="Basic Details">
			<md-tab-body>
				<div class="cont">
				<div flex class="flex" layout="row">
   					<div class="pull-right">
   						<div class="btn-group">
   								<md-button class="md-raised md-primary md-button md-ink-ripple" 
							type="submit" style="margin: 0px;" ng-click="editRoom()"  >Edit</md-button>
   						</div>
   					</div>
   				</div>
				<div flex class="flex" layout="row">
	   				<md-input-container class="split">
	   					<label for="name">Name</label>
	   					<input type="text"  id="name" aria-describedby="name"
						 ng-model="host.name" ng-disabled=true>
	   				</md-input-container>
	   				<md-input-container class="split">
	   					<label for="ownerName">Owner Name</label>
	   					 <input type="text"  id="ownerName" aria-describedby="ownerName"
						 ng-model="host.ownerName" ng-disabled=true>
	   				</md-input-container>
   				</div>
   				<div flex class="flex" layout="row">
	   				<md-input-container class="split">
	   					<label for="houseNo">House No</label>
	   					 <input type="text"  id="houseNo" aria-describedby="houseNo"
						 ng-model="host.houseNo" ng-disabled=true>
	   				</md-input-container>
	   				<md-input-container class="split">
	   					<label for="street">Street</label>
	   					  <input type="text"  id="street" aria-describedby="street"
						 ng-model="host.street" ng-disabled=true>
	   				</md-input-container>
   				</div>
   				<div flex class="flex" layout="row">
	   				<md-input-container class="split">
	   					<label for="landmark">Landmark</label>
	   					  <input type="text"  id="landmark" aria-describedby="landmark"
						 ng-model="host.landmark" ng-disabled=true> 
	   				</md-input-container>
	   				<md-input-container class="split">
	   					<label for="area">Area</label>
	   					  <input type="text"  id="area" aria-describedby="area"
						 ng-model="host.area" ng-disabled=true>
	   				</md-input-container>
   				</div>
   				<div flex class="flex" layout="row">
	   				<md-input-container class="split">
	   					<label for="city">City</label>
	   					  <input type="text"  id="city" aria-describedby="city"
						 ng-model="host.city" ng-disabled=true>
	   				</md-input-container>
	   				<md-input-container class="split">
	   					<label for="pinCode">Postal Code</label>
	   					  <input type="text"  id="pinCode" aria-describedby="pinCode"
						 ng-model="host.pinCode" ng-disabled=true>
	   				</md-input-container>
   				</div>
   				<div flex class="flex" layout="row">
	   				<md-input-container class="split">
	   					<label for="email">Email</label>
	   					  <input type="text"  id="email" aria-describedby="email"
						 ng-model="host.email" ng-disabled=true>
	   				</md-input-container>
	   				<md-input-container class="split">
	   					<label for="contact">Contact</label>
	   					  <input type="text"  id="contact" aria-describedby="contact"
						 ng-model="host.contact" ng-disabled=true>
	   				</md-input-container>
   				</div>
   				<div flex class="flex" layout="row">
	   				<md-input-container class="split">
	   					<label for="website">Website</label>
	   					 <input type="text"  id="website" aria-describedby="website"
						 ng-model="host.website" ng-disabled=true>
	   				</md-input-container>
	   				<md-input-container class="split">
	   					<label for="fbPage">Facebook Page</label>
	   					 <input type="text"  id="fbPage" aria-describedby="fbPage"
						 ng-model="host.fbPage" ng-disabled=true>
	   				</md-input-container>
   				</div>
   				<div flex class="flex" layout="row">
	   				<md-input-container class="split">
	   					<label for="startTimeMultiples">Start Time Multiples</label>
	   					 <input type="text"  id="startTimeMultiples" aria-describedby="startTimeMultiples"
						 ng-model="host.startTimeMultiples" ng-disabled=true> 
	   				</md-input-container>
	   				<md-input-container class="split">
	   					<label for="slotDurationMultiples">Slot Duration Multiples</label>
	   					 <input type="text"  id="slotDurationMultiples" aria-describedby="slotDurationMultiples"
						 ng-model="host.slotDurationMultiples" ng-disabled=true>
	   				</md-input-container>
   				</div>
   				<div flex class="flex" layout="row">
	   				<md-input-container class="split">
	   					<label for="accountHolderName">Accountholder Name</label>
	   					 <input type="text"  id="accountHolderName" aria-describedby="accountHolderName"
						 ng-model="host.accountHolderName" ng-disabled=true>
	   				</md-input-container>
	   				<md-input-container class="split">
	   					<label for="accountNo">Account No</label>
	   					 <input type="text"  id="accountNo" aria-describedby="accountNo"
						 ng-model="host.accountNo" ng-disabled=true> 
	   				</md-input-container>
   				</div>
   				<div flex class="flex" layout="row">
	   				<md-input-container class="split">
	   					<label for="ifscCode">IFSC Code</label>
	   					 <input type="text"  id="ifscCode" aria-describedby="ifscCode"
						 ng-model="host.ifscCode" ng-disabled=true>
	   				</md-input-container>
	   				<md-input-container class="split">
	   					<label for="accountType">Account Type</label>
	   					 <input type="text"  id="accountType" aria-describedby="accountType"
						 ng-model="host.accountType" ng-disabled=true>
	   				</md-input-container>
   				</div>
   				<div flex class="flex" layout="row">
	   				<md-input-container class="split">
	   					<label for="openHours">Open Hours</label>
	   					 <input type="text"  id="openHours" aria-describedby="openHours"
						 ng-model="host.openHours" ng-disabled=true>
	   				</md-input-container>
	   				<md-input-container class="split">
	   					<label for="openMins">Open Mins</label>
	   					<input type="text"  id="openMins" aria-describedby="openMins"
						 ng-model="host.openMins" ng-disabled=true>
	   				</md-input-container>
   				</div>
   				<div flex class="flex" layout="row">
	   				<md-input-container class="split">
	   					<label for="closeHours">Close Hours</label>
	   					<input type="text"  id="closeHours" aria-describedby="closeHours"
						 ng-model="host.closeHours" ng-disabled=true>
	   				</md-input-container>
	   				<md-input-container class="split">
	   					<label for="closeMins">Close Mins</label>
	   					<input type="text"  id="closeMins" aria-describedby="closeMins"
						 ng-model="host.closeMins" ng-disabled=true>
	   				</md-input-container>
   				</div>
   				<div flex class="flex" layout="row">
	   				<md-input-container class="split">
	   					<label for="orgType">Org Type</label>
	   					 <input type="text"  id="orgType" aria-describedby="orgType"
						 ng-model="host.orgType" ng-disabled=true>
	   				</md-input-container>
   				</div>
   				</div>
   			</md-tab-body>
		</md-tab>
		<md-tab ng-repeat="room in rooms track by $index" md-on-select="onTabSelected(room)">
			<md-tab-label>
      			Room {{$index + 1}}
   			</md-tab-label>
   			<md-tab-body>
   				<div flex class="flex" layout="row">
   					<div class="pull-right">
   						<div class="btn-group">
   								<md-button class="md-raised md-primary md-button md-ink-ripple" 
							type="submit" style="margin: 0px;" ng-click="editRoom()"  >Edit</md-button>
   						</div>
   					</div>
   				</div>
   				<div flex class="flex" layout="row">
						<md-input-container class="split">
						<ng-form name="capMinForm">
			    				<label for="capacityMin">Capacity Range Minimum</label>
									<input ng-disabled="true" type="number"  id="capacityMin" name="capacityMin" aria-describedby="capacityMin"
									 placeholder="Capacity Range Minimum" ng-model="form.data.minCapacity" >
									 </ng-form>
						  </md-input-container>
							 <md-input-container class="split">
			    				<label for="capacityMax">Capacity Range Maximum</label>
									<input ng-disabled="true" type="number"  id="capacityMax" name="capacityMax" aria-describedby="capacityMax"
									 placeholder="Capacity Range Maximum" ng-model="form.data.maxCapacity">
							</md-input-container>
					</div>
					<div flex class="flex" layout="row">
						<md-input-container class="split">
			    				<label for="noOfStools">No of Stools</label>
									<input ng-disabled="true" type="number"  id="noOfStools" name="noOfStools" aria-describedby="noOfStools"
									 placeholder="No. of Stools" ng-model="form.data.noOfStools" >
						  </md-input-container>
							 <md-input-container class="split">
			    				<label for="noOfMixerBoardInputs">No of Mixer Board Inputs</label>
									<input ng-disabled="true" type="number"  id="noOfMixerBoardInputs" name="noOfMixerBoardInputs" aria-describedby="noOfMixerBoardInputs"
									 placeholder="No of Mixer Board Inputs" ng-model="form.data.mixerBoardInputs">
							</md-input-container>
					</div>
					
					<div flex class="flex" layout="row">
						<md-input-container class="split">
			    				<label for="drumkitBrand">Drumkit Brand</label>
									<input ng-disabled="true" type="text"  id="drumkitBrand" name="drumkitBrand" aria-describedby="drumkitBrand"
									 placeholder="Drumkit Brand" ng-model="form.data.drumkitBrand" >
						  </md-input-container>
							 <md-input-container class="split">
			    				<label for="drumkitPieces">Drumkit Pieces</label>
									<input ng-disabled="true" type="number"  id="drumkitPieces" name="drumkitPieces" aria-describedby="drumkitPieces"
									 placeholder="Drumkit Pieces" ng-model="form.data.drumkitPieces">
							</md-input-container>
					</div>
					
					<div flex class="flex" layout="row">
						<md-input-container class="split">
			    				<label for="speakerBrand">Speaker Brand</label>
									<input ng-disabled="true" type="text"  id="speakerBrand" name="speakerBrand" aria-describedby="speakerBrand"
									 placeholder="Speaker Brand" ng-model="form.data.speakerBrand" >
						  </md-input-container>
							 <md-input-container class="split">
									<md-checkbox  id="soundProofed" name="soundProofed" aria-describedby="soundProofed"
									 ng-model="form.data.hasSoundproofing" ng-disabled="true">Sound Proofed</md-checkbox>
							</md-input-container>
					</div>
					
					<div flex class="flex" layout="row">
						<md-input-container class="split">
			    				<label for="noOfAmplifiers">No of Amplifiers</label>
									<input ng-disabled="true" type="number"  id="noOfAmplifiers" name="noOfAmplifiers" aria-describedby="noOfAmplifiers"
									 placeholder="No of Amplifiers" ng-model="form.data.noOfAmplifiers" 
									 ng-init="form.data.amplifierBrands = []">
						  </md-input-container>
						   <div style="width:45%">
						  <ng-form name="otherChipForm" >
								<md-chips name="otherItems" ng-model="form.data.otherItems" 
							  placeholder="Other Amenities" ng-disabled="true"></md-chips>
						 </ng-form>
						 </div>
					</div>
					
					<div flex class="flex" layout="row">
						  <md-input-container class="split">
			    				<label for="noOfMics">No of Mics</label>
									<input ng-disabled="true" type="number"  id=""noOfMics"" name=""noOfMics"" aria-describedby=""noOfMics""
									 placeholder="No. of Mics" ng-model="form.data.totalMics">
									 
						  </md-input-container>
						  
						 <div style="width:45%">
						  <ng-form name="ampChipForm" >
								<md-chips name="amplifiers" ng-model="form.data.amplifierBrands" 
							  placeholder="Add Amplifier Brand" ng-disabled="true"></md-chips>
							  <div  ng-if="ampChipForm.$dirty">
							    <div ng-show="form.data.amplifierBrands.length != form.data.noOfAmplifiers">Please enter {{form.data.noOfAmplifiers}} amplifier brands</div>
							 </div>
						 </ng-form>
						 </div>
					</div>
					
				<md-toolbar class="md-table-toolbar md-default" style="width:95%" ng-show="form.data.totalMics > 0">
				  <div class="md-toolbar-tools">
				    <span>Microphones</span>
				  </div>
				  
				</md-toolbar>
				<md-table-container>
				<table md-table md-row-select multiple style="width:95%" ng-show="form.data.mics">
					<thead md-head>
						<tr md-row>
							<th md-column>Has Condenser?</th>
							<th md-column>Is Wireless?</th>
							<th md-column>For instruments?</th>
						</tr>
					</thead>
					<tbody md-body>
					<tr md-row ng-repeat="mic in form.data.mics track by $index">
						<td md-cell>
							<md-checkbox  id="hasCondenser" aria-describedby="hasCondenser"
							  ng-model="mic.hasCondenser" aria-laebl="condenser" ng-disabled="true"></md-checkbox>
					</td>
						<td md-cell>
							<md-checkbox  id="isWireless" aria-describedby="isWireless"
							  ng-model="mic.isWireless" aria-laebl="wireless" ng-disabled="true"></md-checkbox>
					</td>
						<td md-cell>
							<md-checkbox id="forInstrument" aria-describedby="forInstrument"
							  ng-model="mic.forInstrument" aria-laebl="instrument" ng-disabled="true"></md-checkbox>
					</td>
					</tr>
					</tbody>
				</table> 
				</md-table-container>
				<br/><br/><br/> 
				
				  
				  <div flex class="flex" layout="row">
						<md-checkbox  class="split" id="hasJamming" aria-describedby="hasJamming"
							  ng-model="form.data.hasJamming" aria-laebl="hasJamming" ng-disabled="true">Has Jamming?</md-checkbox>
							  
							  <md-checkbox  class="split" id="hasRecording" aria-describedby="hasRecording"
							  ng-model="form.data.hasRecording" aria-laebl="hasRecording" ng-disabled="true">Has Plain Recording?</md-checkbox>
					    
				  </div>
				  
				  <div flex class="flex" layout="row">
				  	<md-checkbox class="split" id="hasMasterRecording" aria-describedby="hasMasterRecording"
							  ng-model="form.data.hasMixingAndMastering" aria-laebl="hasMasterRecording" ng-disabled="true">Has Master Recording?</md-checkbox>
				  	<md-checkbox class="split" id="hasVoiceover" aria-describedby="hasVoiceover"
							  ng-model="form.data.hasMixingAndMastering" aria-laebl="hasVoiceover" ng-disabled="true">Has Voiceover Recording?</md-checkbox>
				  </div>
				  
				  <h3 class="split">Prices</h3>
				  <div flex class="flex" layout="row">
				  	<md-input-container class="split">
	    						<label for="xHourPackage">X Hour Package</label>
							<input ng-disabled="true" type="number" id="xHourPackage" name="xHourPackage" aria-describedby="xHourPackage"
							 placeholder="X Hour Package" ng-model="form.data.xHourPackage" required>
					</md-input-container> 
				  </div>
				  <h4 class="split">Jamming - Hourly</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="jammingHourWeekdayMorning">Weekday Morning Till 12</label>
							<input ng-disabled="true" type="number" id="jammingHourWeekdayMorning" name="jammingHourWeekdayMorning" aria-describedby="jammingHourWeekdayMorning"
							 placeholder="Weekday Morning Till 12" ng-model="form.data.price.jammingHourlyWeekdayMorning" required>
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="jammingHourWeekdayAfternoon">Weekday Afternoon 12-4</label>
							<input ng-disabled="true" type="number" id="jammingHourWeekdayAfternoon" name="jammingHourWeekdayAfternoon" aria-describedby="jammingHourWeekdayAfternoon"
							 placeholder="Weekday Afternoon 12-4" ng-model="form.data.price.jammingHourlyWeekdayAfternoon" required>
					</md-input-container> 
				  </div>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="jammingHourWeekdayEvening">Weekday Evening 4-7</label>
							<input ng-disabled="true" type="number" id="jammingHourWeekdayEvening" name="jammingHourWeekdayEvening" aria-describedby="jammingHourWeekdayEvening"
							 placeholder="Weekday Evening 4-7" ng-model="form.data.price.jammingHourlyWeekdayEvening" required>
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="jammingHourWeekdayNight">Weekday Night 7 till Close</label>
							<input ng-disabled="true" type="number" id="jammingHourWeekdayNight" name="jammingHourWeekdayNight" aria-describedby="jammingHourWeekdayNight"
							 placeholder="Weekday Evening 7 till Close" ng-model="form.data.price.jammingHourlyWeekdayNight" required>
					</md-input-container> 
				  </div>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="jammingHourWeekendMorning">Weekend Morning till 12</label>
							<input ng-disabled="true" type="number" id="jammingHourWeekendMorning" name="jammingHourWeekendMorning" aria-describedby="jammingHourWeekendMorning"
							 placeholder="Weekend Morning till 12" ng-model="form.data.price.jammingHourlyWeekendMorning" required>
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="jammingHourWeekendAfternoon">Weekend Afternoon 12 - 4</label>
							<input ng-disabled="true" type="number" id="jammingHourWeekendAfternoon" name="jammingHourWeekendAfternoon" aria-describedby="jammingHourWeekendAfternoon"
							 placeholder="Weekend Afternoon 12 - 4" ng-model="form.data.price.jammingHourlyWeekendAfternoon" required>
					</md-input-container> 
				  </div>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="jammingHourWeekendEvening">Weekend Evening 4 - 7</label>
							<input ng-disabled="true" type="number" id="jammingHourWeekendEvening" name="jammingHourWeekendEvening" aria-describedby="jammingHourWeekendEvening"
							 placeholder="Weekend Evening 4 - 7" ng-model="form.data.price.jammingHourlyWeekendEvening" required>
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="jammingHourWeekendNight">Weekend Night 7 till close</label>
							<input ng-disabled="true" type="number" id="jammingHourWeekendNight" name="jammingHourWeekendNight" aria-describedby="jammingHourWeekendNight"
							 placeholder="Weekend Evening 7 till close" ng-model="form.data.price.jammingHourlyWeekendNight" required>
					</md-input-container> 
				  </div>
				  <h4 class="split">Jamming - {{form.data.xHourPackage}} &nbsp; Hour Package</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="jammingXWeekday">Weekdays</label>
							<input ng-disabled="true" type="number" id="jammingXWeekday" name="jammingXWeekday" aria-describedby="jammingXWeekday"
							 placeholder="Weekdays" ng-model="form.data.price.jammingXHourWeekday" required>
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="jammingXWeekend">Weekends</label>
							<input ng-disabled="true" type="number" id="jammingXWeekend" name="jammingXWeekend" aria-describedby="jammingXWeekend"
							 placeholder="Weekends" ng-model="form.data.price.jammingXHourWeekend" required>
					</md-input-container> 
				  </div>
				  <h4 class="split">Jamming - Full Day</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="jammingFullWeekday">Weekdays</label>
							<input ng-disabled="true" type="number" id="jammingFullWeekday" name="jammingFullWeekday" aria-describedby="jammingFullWeekday"
							 placeholder="Weekdays" ng-model="form.data.price.jammingFullWeekday" required>
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="jammingFullWeekend">Weekends</label>
							<input ng-disabled="true" type="number" id="jammingFullWeekend" name="jammingFullWeekend" aria-describedby="jammingFullWeekend"
							 placeholder="Weekends" ng-model="form.data.price.jammingFullWeekend" required>
					</md-input-container> 
				  </div>
				  <div ng-if="form.data.hasRecording">
				  
				  
				  
				  
				  <h4 class="split">Plain Recording - Hourly</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="recordingHourWeekdayMorning">Weekday Morning Till 12</label>
							<input ng-disabled="true" type="number" id="recordingHourlyWeekdayMorning" name="recordingHourWeekdayMorning" aria-describedby="recordingHourWeekdayMorning"
							 placeholder="Weekday Morning Till 12" ng-model="form.data.price.recordingHourlyWeekdayMorning"
							  ng-required="form.data.hasRecording">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="recordingHourWeekdayAfternoon">Weekday Afternoon 12-4</label>
							<input ng-disabled="true" type="number" id="recordingHourlyWeekdayAfternoon" name="recordingHourWeekdayAfternoon" aria-describedby="recordingHourWeekdayAfternoon"
							 placeholder="Weekday Afternoon 12-4" ng-model="form.data.price.recordingHourlyWeekdayAfternoon"
							  ng-required="form.data.hasRecording">
					</md-input-container> 
				  </div>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="recordingHourWeekdayEvening">Weekday Evening 4-7</label>
							<input ng-disabled="true" type="number" id="recordingHourlyWeekdayEvening" name="recordingHourWeekdayEvening" aria-describedby="recordingHourWeekdayEvening"
							 placeholder="Weekday Evening 4-7" ng-model="form.data.price.recordingHourlyWeekdayEvening"
							  ng-required="form.data.hasRecording">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="recordingHourWeekdayNight">Weekday Night 7 till Close</label>
							<input ng-disabled="true" type="number" id="recordingHourlyWeekdayNight" name="recordingHourWeekdayNight" aria-describedby="recordingHourWeekdayNight"
							 placeholder="Weekday Evening 7 till Close" ng-model="form.data.price.recordingHourlyWeekdayNight"
							  ng-required="form.data.hasRecording">
					</md-input-container> 
				  </div>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="recordingHourWeekendMorning">Weekend Morning till 12</label>
							<input ng-disabled="true" type="number" id="recordingHourlyWeekendMorning" name="recordingHourWeekendMorning" aria-describedby="recordingHourWeekendMorning"
							 placeholder="Weekend Morning till 12" ng-model="form.data.price.recordingHourlyWeekendMorning"
							  ng-required="form.data.hasRecording">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="recordingHourWeekendAfternoon">Weekend Afternoon 12 - 4</label>
							<input ng-disabled="true" type="number" id="recordingHourlyWeekendAfternoon" name="recordingHourWeekendAfternoon" aria-describedby="recordingHourWeekendAfternoon"
							 placeholder="Weekend Afternoon 12 - 4" ng-model="form.data.price.recordingHourlyWeekendAfternoon"
							  ng-required="form.data.hasRecording">
					</md-input-container> 
				  </div>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="recordingHourWeekendEvening">Weekend Evening 4 - 7</label>
							<input ng-disabled="true" type="number" id="recordingHourlyWeekendEvening" name="recordingHourWeekendEvening" aria-describedby="recordingHourWeekendEvening"
							 placeholder="Weekend Evening 4 - 7" ng-model="form.data.price.recordingHourlyWeekendEvening"
							  ng-required="form.data.hasRecording">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="recordingHourWeekendNight">Weekend Night 7 till close</label>
							<input ng-disabled="true" type="number" id="recordingHourlyWeekendNight" name="recordingHourWeekendNight" aria-describedby="recordingHourWeekendNight"
							 placeholder="Weekend Evening 7 till close" ng-model="form.data.price.recordingHourlyWeekendNight"
							  ng-required="form.data.hasRecording">
					</md-input-container> 
				  </div>
				  <h4 class="split">Plain Recording - {{form.data.xHourPackage}} &nbsp; Hour Package</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="recordingXWeekday">Weekdays</label>
							<input ng-disabled="true" type="number" id="recordingXWeekday" name="recordingXWeekday" aria-describedby="recordingXWeekday"
							 placeholder="Weekdays" ng-model="form.data.price.recordingXHourWeekday" 
							 ng-required="form.data.hasRecording">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="recordingXWeekend">Weekends</label>
							<input ng-disabled="true" type="number" id="recordingXWeekend" name="recordingXWeekend" aria-describedby="recordingXWeekend"
							 placeholder="Weekends" ng-model="form.data.price.recordingXHourWeekend"
							  ng-required="form.data.hasRecording">
					</md-input-container> 
				  </div>
				  <h4 class="split">Plain Recording - Full Day</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="recordingFullWeekday">Weekdays</label>
							<input ng-disabled="true" type="number" id="recordingFullWeekday" name="recordingFullWeekday" aria-describedby="recordingFullWeekday"
							 placeholder="Weekdays" ng-model="form.data.price.recordingFullWeekday"
							  ng-required="form.data.hasRecording">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="recordingFullWeekend">Weekends</label>
							<input ng-disabled="true" type="number" id="recordingFullWeekend" name="recordingFullWeekend" aria-describedby="recordingFullWeekend"
							 placeholder="Weekends" ng-model="form.data.price.recordingFullWeekend"
							  ng-required="form.data.hasRecording">
					</md-input-container> 
				  </div>
				  </div>
				  
				  
				  
				  
				  <div ng-if="form.data.hasMixingAndMastering">
				  <h4 class="split">Master Recording - Hourly</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="masterHourWeekdayMorning">Weekday Morning Till 12</label>
							<input ng-disabled="true" type="number" id="masterHourWeekdayMorning" name="masterHourWeekdayMorning" aria-describedby="masterHourWeekdayMorning"
							 placeholder="Weekday Morning Till 12" ng-model="form.data.price.masteringHourlyWeekdayMorning"
							  ng-required="form.data.hasMasterRecording">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="masterHourWeekdayAfternoon">Weekday Afternoon 12-4</label>
							<input ng-disabled="true" type="number" id="masterHourWeekdayAfternoon" name="masterHourWeekdayAfternoon" aria-describedby="masterHourWeekdayAfternoon"
							 placeholder="Weekday Afternoon 12-4" ng-model="form.data.price.masteringHourlyWeekdayAfternoon"
							  ng-required="form.data.hasMasterRecording">
					</md-input-container> 
				  </div>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="masterHourWeekdayEvening">Weekday Evening 4-7</label>
							<input ng-disabled="true" type="number" id="masterHourWeekdayEvening" name="masterHourWeekdayEvening" aria-describedby="masterHourWeekdayEvening"
							 placeholder="Weekday Evening 4-7" ng-model="form.data.price.masteringHourlyWeekdayEvening"
							  ng-required="form.data.hasMasterRecording">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="masterHourWeekdayNight">Weekday Night 7 till Close</label>
							<input ng-disabled="true" type="number" id="masterHourWeekdayNight" name="masterHourWeekdayNight" aria-describedby="masterHourWeekdayNight"
							 placeholder="Weekday Evening 7 till Close" ng-model="form.data.price.masteringHourlyWeekdayNight"
							  ng-required="form.data.hasMasterRecording">
					</md-input-container> 
				  </div>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="masterHourWeekendMorning">Weekend Morning till 12</label>
							<input ng-disabled="true" type="number" id="masterHourWeekendMorning" name="masterHourWeekendMorning" aria-describedby="masterHourWeekendMorning"
							 placeholder="Weekend Morning till 12" ng-model="form.data.price.masteringHourlyWeekendMorning" 
							 ng-required="form.data.hasMasterRecording">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="masterHourWeekendAfternoon">Weekend Afternoon 12 - 4</label>
							<input ng-disabled="true" type="number" id="masterHourWeekendAfternoon" name="masterHourWeekendAfternoon" aria-describedby="masterHourWeekendAfternoon"
							 placeholder="Weekend Afternoon 12 - 4" ng-model="form.data.price.masteringHourlyWeekendAfternoon"
							  ng-required="form.data.hasMasterRecording">
					</md-input-container> 
				  </div>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="masterHourWeekendEvening">Weekend Evening 4 - 7</label>
							<input ng-disabled="true" type="number" id="masterHourWeekendEvening" name="masterHourWeekendEvening" aria-describedby="masterHourWeekendEvening"
							 placeholder="Weekend Evening 4 - 7" ng-model="form.data.price.masteringHourlyWeekendEvening"
							  ng-required="form.data.hasMasterRecording">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="masterHourWeekendNight">Weekend Night 7 till close</label>
							<input ng-disabled="true" type="number" id="masterHourWeekendNight" name="masterHourWeekendNight" aria-describedby="masterHourWeekendNight"
							 placeholder="Weekend Evening 7 till close" ng-model="form.data.price.masteringHourlyWeekendNight"
							  ng-required="form.data.hasMasterRecording">
					</md-input-container> 
				  </div>
				  <h4 class="split">Master Recording - {{form.data.xHourPackage}} &nbsp; Hour Package</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="masterXWeekday">Weekdays</label>
							<input ng-disabled="true" type="number" id="masterXWeekday" name="masterXWeekday" aria-describedby="masterXWeekday"
							 placeholder="Weekdays" ng-model="form.data.price.masteringXHourWeekday"
							  ng-required="form.data.hasMasterRecording">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="masterXWeekend">Weekends</label>
							<input ng-disabled="true" type="number" id="masterXWeekend" name="masterXWeekend" aria-describedby="masterXWeekend"
							 placeholder="Weekends" ng-model="form.data.price.masteringXHourWeekend" 
							 ng-required="form.data.hasMasterRecording">
					</md-input-container> 
				  </div>
				  <h4 class="split">Master Recording - Full Day</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="masterFullWeekday">Weekdays</label>
							<input ng-disabled="true" type="number" id="masterFullWeekday" name="masterFullWeekday" aria-describedby="masterFullWeekday"
							 placeholder="Weekdays" ng-model="form.data.price.masteringFullWeekday"
							  ng-required="form.data.hasMasterRecording">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="masterFullWeekend">Weekends</label>
							<input ng-disabled="true" type="number" id="masterFullWeekend" name="masterFullWeekend" aria-describedby="masterFullWeekend"
							 placeholder="Weekends" ng-model="form.data.price.masteringFullWeekend" 
							 ng-required="form.data.hasMasterRecording">
					</md-input-container> 
				  </div>
				  </div>
				  <div ng-if="form.data.hasMixingAndMastering">
				  <h4 class="split">Voiceover Recording - Hourly</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="voiceoverHourWeekdayMorning">Weekday Morning Till 12</label>
							<input ng-disabled="true" type="number" id="voiceoverHourWeekdayMorning" name="voiceoverHourWeekdayMorning" aria-describedby="voiceoverHourWeekdayMorning"
							 placeholder="Weekday Morning Till 12" ng-model="form.data.price.voiceoverHourlyWeekdayMorning"
							  ng-required="form.data.hasVoiceover">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="voiceoverHourWeekdayAfternoon">Weekday Afternoon 12-4</label>
							<input ng-disabled="true" type="number" id="voiceoverHourWeekdayAfternoon" name="voiceoverHourWeekdayAfternoon" aria-describedby="voiceoverHourWeekdayAfternoon"
							 placeholder="Weekday Afternoon 12-4" ng-model="form.data.price.voiceoverHourlyWeekdayAfternoon" 
							 ng-required="form.data.hasVoiceover">
					</md-input-container> 
				  </div>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="voiceoverHourWeekdayEvening">Weekday Evening 4-7</label>
							<input ng-disabled="true" type="number" id="voiceoverHourWeekdayEvening" name="voiceoverHourWeekdayEvening" aria-describedby="voiceoverHourWeekdayEvening"
							 placeholder="Weekday Evening 4-7" ng-model="form.data.price.voiceoverHourlyWeekdayEvening" 
							 ng-required="form.data.hasVoiceover">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="voiceoverHourWeekdayNight">Weekday Night 7 till Close</label>
							<input ng-disabled="true" type="number" id="voiceoverHourWeekdayNight" name="voiceoverHourWeekdayNight" aria-describedby="voiceoverHourWeekdayNight"
							 placeholder="Weekday Evening 7 till Close" ng-model="form.data.price.voiceoverHourlyWeekdayNight"
							  ng-required="form.data.hasVoiceover">
					</md-input-container> 
				  </div>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="voiceoverHourWeekendMorning">Weekend Morning till 12</label>
							<input ng-disabled="true" type="number" id="voiceoverHourWeekendMorning" name="voiceoverHourWeekendMorning" aria-describedby="voiceoverHourWeekendMorning"
							 placeholder="Weekend Morning till 12" ng-model="form.data.price.voiceoverHourlyWeekendMorning" 
							 ng-required="form.data.hasVoiceover">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="voiceoverHourWeekendAfternoon">Weekend Afternoon 12 - 4</label>
							<input ng-disabled="true" type="number" id="voiceoverHourWeekendAfternoon" name="voiceoverHourWeekendAfternoon" aria-describedby="voiceoverHourWeekendAfternoon"
							 placeholder="Weekend Afternoon 12 - 4" ng-model="form.data.price.voiceoverHourlyWeekendAfternoon" 
							 ng-required="form.data.hasVoiceover">
					</md-input-container> 
				  </div>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="voiceoverHourWeekendEvening">Weekend Evening 4 - 7</label>
							<input ng-disabled="true" type="number" id="voiceoverHourWeekendEvening" name="voiceoverHourWeekendEvening" aria-describedby="voiceoverHourWeekendEvening"
							 placeholder="Weekend Evening 4 - 7" ng-model="form.data.price.voiceoverHourlyWeekendEvening" 
							 ng-required="form.data.hasVoiceover">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="voiceoverHourWeekendNight">Weekend Night 7 till close</label>
							<input ng-disabled="true" type="number" id="voiceoverHourWeekendNight" name="voiceoverHourWeekendNight" aria-describedby="voiceoverHourWeekendNight"
							 placeholder="Weekend Evening 7 till close" ng-model="form.data.price.voiceoverHourlyWeekendNight"
							  ng-required="form.data.hasVoiceover">
					</md-input-container> 
				  </div>
				  <h4 class="split">Voiceover Recording - {{form.data.xHourPackage}} &nbsp; Hour Package</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="voiceoverXWeekday">Weekdays</label>
							<input ng-disabled="true" type="number" id="voiceoverXWeekday" name="voiceoverXWeekday" aria-describedby="voiceoverXWeekday"
							 placeholder="Weekdays" ng-model="form.data.price.voiceoverXHourWeekday" 
							 ng-required="form.data.hasVoiceover">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="voiceoverXWeekend">Weekends</label>
							<input ng-disabled="true" type="number" id="voiceoverXWeekend" name="voiceoverXWeekend" aria-describedby="voiceoverXWeekend"
							 placeholder="Weekends" ng-model="form.data.price.voiceoverXHourWeekend" 
							 ng-required="form.data.hasVoiceover">
					</md-input-container> 
				  </div>
				  <h4 class="split">Voiceover Recording - Full Day</h4>
				  <div flex class="flex" layout="row">
				  		<md-input-container class="split">
	    						<label for="voiceoverFullWeekday">Weekdays</label>
							<input ng-disabled="true" type="number" id="voiceoverFullWeekday" name="voiceoverFullWeekday" aria-describedby="voiceoverFullWeekday"
							 placeholder="Weekdays" ng-model="form.data.price.voiceoverFullWeekday"
							  ng-required="form.data.hasVoiceover">
						</md-input-container> 
						<md-input-container class="split">
	    						<label for="voiceoverFullWeekend">Weekends</label>
							<input ng-disabled="true" type="number" id="voiceoverFullWeekend" name="voiceoverFullWeekend" aria-describedby="voiceoverFullWeekend"
							 placeholder="Weekends" ng-model="form.data.price.voiceoverFullWeekend"
							  ng-required="form.data.hasVoiceover">
					</md-input-container> 
				  </div>
				  </div>
   			</md-tab-body>
		</md-tab>
		<md-tab>
			<md-button class="md-raised md-primary md-button md-ink-ripple" 
				type="submit" style="margin: 0px;" ng-click="addRoom()"  >Add Room</md-button>
		</md-tab>
	</md-tabs>


</div>