<div class="innr" ng-controller="TxnController">
	<div layout="column" layout-margin layout-padding>
			<form name="txnForm" ng-submit="submit()">
			<div flex class="flex" layout="row">
				<md-input-container style="width:40%">
				  <label>From Date</label>
				  <input type="date" ng-model="from">
				</md-input-container>
				
				<md-input-container style="width:40%">
				  <label>To Date</label>
				  <input type="date" ng-model="to">
				</md-input-container>
				
				<md-button class="md-accent md-raised" style="width:20%" ng-click="search()"> Search </md-button>
			</div>
			</form>
			
			<md-toolbar class="md-table-toolbar md-default" style="width:95%">
				  <div class="md-toolbar-tools">
				    <span>Transactions</span>
				  </div>
				  
				</md-toolbar>
				
				<md-table-container>
				<table md-table md-row-select multiple style="width:95%">
					<thead md-head>
						<tr md-row>
							<th md-column>ID</th>
							<th md-column>From</th>
							<th md-column>To</th>
							<th md-column>Duration</th>
							<th md-column>Status</th>
							<th md-column>Amount</th>
							<th md-column>Cancellation Refund Amount</th>
						</tr>
					</thead>
					<tbody md-body>
					<tr md-row ng-repeat="order in orders">
					<td md-cell>
						{{order.orderId}}
					</td>
						<td md-cell>
						{{order.dateTo}} {{order.timeTo}}
					</td>
						<td md-cell>
						{{order.dateFrom}} {{order.timeFrom}}
					</td>
						<td md-cell>
						{{-order.duration}}
					</td>
					<td md-cell>
						{{order.status}}
					</td>
					<td md-cell>
						{{order.amount}}
					</td>
					<td md-cell>
						{{order.cancellationRefundAmount}}
					</td>
					</tr>
					</tbody>
				</table> 
				</md-table-container>
	</div>
</div>