<div>
<div class="cont">
<h2>About Us</h2>

<p>Jammate  started one friday night when two childhood friends felt a sudden urge to jam together and were unable to
 contact any jamroom or get a drummer to jam with. After digging deeper, they realised they were just scratching
  the surface of a mountain of problems that many aspiring musicians face everyday: finding the right people to jam
   with, access jam rooms and instruments, recording songs and getting sound engineers to guide them… the list was
    never ending. </p>

<br/><br/>

<p>
They shared there finding with two more friends and Jammate was born. Together, the four of them decided to embark on a mission to help musicians across skill levels grow in a bigger, better and connected community. 
</p>
<br/><br/>
<p>
We are a passionate group of people united by our shared love of music and the believe that music can form deep meaningful relationships between people. Our teams consists of old friends, passionate musicians and avid techies. Together, the four of us have 7 years of design experience, 13 years of development experience, 20 years of playing music together and 30 years of friendship. 
</p><br/><br/>
</div>
<div class="copyright">
<div style="width:40%; float:left; vertical-align:center;
 text-align:left; margin-top:30px; margin-left:100px;">
		   
		   <p>2, 3rd Floor, Padmavati Complex, </p>
		   <p>Nanjappa Reddy Layout, Koramangala </p>
		   <p> Koramangala 8th Block, Bengaluru, Karnataka 560095 </p>
		    <p> support@jammate.in | 08296807999</p>
		    <p> &copy; 2018 Jammate Inc. </p>
		  </div>
	<div style="width:30%; float:right; vertical-align:center; text-align: right;
	 margin-top:15px; margin-right:200px;">
		<p class="full">
			<a href="aboutus">About Us</a>
		</p><p class="full">
			<a href="contactus">Contact Us</a>
		</p>
		<p class="full">
			<a href="partnertos">Partner Terms of Service</a>
		</p>
		<p class="full">
			<a href="consumerterms">Consumer Terms of Service</a>
		</p>
		<p class="full">
			<a href="privacypolicy">Privacy Policy</a>
		</p>
		<p class="full">
			<a href="refundpolicy">Cancellation and Refund Policy</a>
		</p>
		<p class="full">
			<a href="pricing">Pricing</a>
		</p>
	</div>
		  
		</div>
</div>