<div>
<div class="cont">
<h2 style="text-align: center;">Contact Us</h2>


<p style="text-align: center;">Email - support@jammate.in</p><br/>
<p style="text-align: center;">Customer Service Portal - jammate.freshdesk.com</p><br/>
<p style="text-align: center;">Raise a concern  - http://bit.ly/jammateticket</p><br/>
<p style="text-align: center;">Whatsapp & Phone - 08296807999</p><br/>
<p style="text-align: center;">Facebook - https://www.facebook.com/Jammate.in/
</p><br/>
</div>
<div class="copyright">
<div style="width:40%; float:left; vertical-align:center;
 text-align:left; margin-top:30px; margin-left:100px;">
		   
		   <p>2, 3rd Floor, Padmavati Complex, </p>
		   <p>Nanjappa Reddy Layout, Koramangala </p>
		   <p> Koramangala 8th Block, Bengaluru, Karnataka 560095 </p>
		    <p> support@jammate.in | 08296807999</p>
		    <p> &copy; 2018 Jammate Inc. </p>
		  </div>
	<div style="width:30%; float:right; vertical-align:center; text-align: right;
	 margin-top:15px; margin-right:200px;">
		<p class="full">
			<a href="aboutus">About Us</a>
		</p><p class="full">
			<a href="contactus">Contact Us</a>
		</p>
		<p class="full">
			<a href="partnertos">Partner Terms of Service</a>
		</p>
		<p class="full">
			<a href="consumerterms">Consumer Terms of Service</a>
		</p>
		<p class="full">
			<a href="privacypolicy">Privacy Policy</a>
		</p>
		<p class="full">
			<a href="refundpolicy">Cancellation and Refund Policy</a>
		</p>
		<p class="full">
			<a href="pricing">Pricing</a>
		</p>
	</div>
		  
		</div>
</div>