

<layout>
<div class="bg">



</div>
<div class="toptext">
<span>Jammate</span>
</div>

<div class="middletext">
    <div id="inline">Meet your future band here.</div>
</div>
</layout>
<layout>
<div class="mock">
	<div class="block" style="float:left;padding-top:60px; padding-left:10%; position: absolute; z-index: 7;">
		<img src="https://s3.ap-south-1.amazonaws.com/jammatestatic/site/homescreen.png">
	</div>
	<div class="block" style="height:100px; width:100%; background-color: #F7D341;
		 text-align: center; position: absolute; top: 950px; z-index: 5; ">
		<div style="line-height: 100px; padding-left:35%;
		 font-family: 'Nunito'; font-weight: light; font-size:19px;">Jammate helps you find like-minded musicians around you and book jam rooms together.</div>
	</div>
	<div class="block" style="position:absolute; top: 1100px; padding-left:50%;">
		<a href="https://play.google.com/store/apps/details?id=in.jammate.consumer" >
		<img src="https://s3.ap-south-1.amazonaws.com/jammatestatic/site/playstore-icon.png">
		</a>
	</div>
</div>
</layout>
<layout>
<div class="about-us-head" style="width:100%; height:auto; ">
<br/><br/>
<p class= "date">
	6 July 1957
</p>
<br/><br/>

<p class="about-us-body">
A 15 year old kid from the sleepy town of Liverpool decides to walk down to the nearby church fete to hear a few local bands play, play some hoop-la and also watch the police dog demonstration among other things. Watching the bands play on stage, he recognises one of the band members to be his school friend, so after the show goes up to greet them. His friend, who was a bass player introduces him to his band mates which included a vocalist, a guitarist, and a washboardist. </p>
 
<p class="about-us-body">This seemingly insignificant meet up would eventually change the history of music forever. </p>
 
<p class="about-us-body">For that 15 year kid was Paul McCartney. And the vocalist of the band he was introduced to was John Lennon.</p>

<p class="about-us-body">Its almost scary to imagine how rock’n’roll as we know it was all defined in a singular moment of chance when an unknown neighborhood guitarist met another unknown neighborhood vocalist and eventually decided to jam together. One missed connection, maybe a sudden change of mind, a broken string, an untimely bus, and the world wouldn’t have had Lennon-McCartney. No ‘Yesterday’, no ‘Hey Jude’, no ‘All we need is love’.</p>

</p>

<p class="about-us-body-2"> Extraordinary things can happen when people come and jam together. 
</p>

<p class="about-us-body-3">That is why we made Jammate: where you can find musicians around you, jam together and form your dream band.  Join us now by downloading our android app. Who knows, maybe the next Lennon is somewhere near you, looking for his McCartney.</p>


</div>

<div class="copyright">
<div style="width:40%; float:left; vertical-align:center;
 text-align:left; margin-top:30px; margin-left:100px;">
		   
		   <p>2, 3rd Floor, Padmavati Complex, </p>
		   <p>Nanjappa Reddy Layout, Koramangala </p>
		   <p> Koramangala 8th Block, Bengaluru, Karnataka 560095 </p>
		    <p> support@jammate.in | 08296807999</p>
		    <p> &copy; 2018 Jammate Inc. </p>
		  </div>
	<div style="width:30%; float:right; vertical-align:center; text-align: right;
	 margin-top:15px; margin-right:200px;">
		<p class="full">
			<a href="aboutus">About Us</a>
		</p><p class="full">
			<a href="contactus">Contact Us</a>
		</p>
		<p class="full">
			<a href="partnertos">Partner Terms of Service</a>
		</p>
		<p class="full">
			<a href="consumerterms">Consumer Terms of Service</a>
		</p>
		<p class="full">
			<a href="privacypolicy">Privacy Policy</a>
		</p>
		<p class="full">
			<a href="refundpolicy">Cancellation and Refund Policy</a>
		</p>
		<p class="full">
			<a href="pricing">Pricing</a>
		</p>
	</div>
		  
		</div>


</layout>