<layout>

	
	<div class="container">
		<h3 class="hdr">
	Partner with Us</h3>
	<hr class="partner_border">
		<br/><br/><br/><p style="text-align:center; font-family: 'Nunito'; font-weight: light;"> We empower studios and jamrooms by helping them engage with our community to increase outreach.
		 Our technology solutions also helps such business owners manage their operations efficiently and 
		 integrate seamlessly with online booking and sales channels.</p>
		 
		 <h3 class="hdr" style="font-family: 'Nunito'; font-weight: light;">Businesses we enable include:</h3>
		 <hr class="partner_border1"><br/><br/><br/>
		 <div class="flex-box">
		 <div style="width:45%; color:#222222; text-align:right; margin-right:10%; font-family: 'Nunito'; font-weight: light;">Jamrooms and Studios</div>
		 <div style="width:45%; color:#222222; text-align:left; font-family: 'Nunito'; font-weight: light;">Event Organizers and Clubs</div>
		 </div>
		 <h3 class="hdr">Jamrooms and Studios</h3>
		 <hr class="partner_border2"><br/><br/><br/>
		 <p style="text-align:center; font-family: 'Nunito'; font-weight: light;">Manage your venue and users while enabling online bookings</p>
		 
		 <div class="features">
		 	<div class="single_feature">
		 		<div class="image_div">
		 			<img src="https://s3.ap-south-1.amazonaws.com/jammatestatic/site/sales.png" alt="">
		 		</div><br/>
		 		<p class="feature_title" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Increase sales and outreach</p>
		 		<br/><p class="feature_text" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Get access to a large active artist community to boost your sales and increase outreach</p>
		 	</div>
		 	<div class="single_feature">
		 		<div class="image_div">
		 			<img src="https://s3.ap-south-1.amazonaws.com/jammatestatic/site/bookings.png" alt="">
		 		</div><br/>
		 		<p class="feature_title" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Enable advance reservations and online bookings</p>
		 		<br/><p class="feature_text" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Empower your users and members to reserve in advance or pay online to increase room utilization and reduce no-shows</p>
		 	</div>
		 	<div class="single_feature">
		 		<div class="image_div">
		 			<img src="https://s3.ap-south-1.amazonaws.com/jammatestatic/site/scheduling.png" alt="">
		 		</div><br/>
		 		<p class="feature_title" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Scheduling and Inventory Management</p>
		 		<br/><p class="feature_text" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Manage room / facility availability in real time and reduce your operational overheads via seamless online integration</p>
		 	</div>
		 	<div class="single_feature">
		 		<div class="image_div">
		 			<img src="https://s3.ap-south-1.amazonaws.com/jammatestatic/site/reports.png" alt="">
		 		</div><br/>
		 		<p class="feature_title" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Financial and transaction reports</p>
		 		<br/><p class="feature_text" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Track your sales, utilization and users with ease with downloadable tabular data and customized graphs</p>
		 	</div>
		 	<div class="single_feature">
		 		<div class="image_div">
		 			<img src="https://s3.ap-south-1.amazonaws.com/jammatestatic/site/invoice.png" alt="">
		 		</div><br/>
		 		<p class="feature_title" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Invoices and billing integration</p>
		 		<br/><p class="feature_text" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Generate invoices and receipts</p>
		 	</div>
		 	<div class="single_feature">
		 		<div class="image_div">
		 			<img src="https://s3.ap-south-1.amazonaws.com/jammatestatic/site/policy.png" alt="">
		 		</div><br/>
		 		<p class="feature_title" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Flexible pricing, cancellation and rescheduling policies</p>
		 		<br/><p class="feature_text" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Happy hour pricing! Also, set your own cancellation and rescheduling policies based on the offered service</p>
		 	</div>
		 	<div class="single_feature">
		 		<div class="image_div">
		 			<img src="https://s3.ap-south-1.amazonaws.com/jammatestatic/site/membership.png" alt="">
		 		</div>
		 		<br/><p class="feature_title" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Membership packages and credit schemes</p>
		 		<br/><p class="feature_text" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Create, sell and track customized membership packages and prepaid credit packages</p>
		 	</div>
		 	<div class="single_feature">
		 		<div class="image_div">
		 			<img src="https://s3.ap-south-1.amazonaws.com/jammatestatic/site/notifications.png" alt="">
		 		</div>
		 		<br/><p class="feature_title" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Real time alerts and notifications</p>
		 		<br/><p class="feature_text" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Enable instant user and administrator alerts via sms and email for bookings and cancellations</p>
		 	</div>
		 	<div class="single_feature">
		 		<div class="image_div">
		 			<img src="https://s3.ap-south-1.amazonaws.com/jammatestatic/site/loyalty.png" alt="">
		 		</div>
		 		<br/><p class="feature_title" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Loyalty programme and discount vouchers</p>
		 		<br/><p class="feature_text" style="font-family: 'Nunito'; font-weight: light; text-align:center;">Generate discount vouchers for specific users/members and run a reward/loyalty programme to incentivize repeat visits</p>
		 	</div>
		 </div>
		<br/>
		<br/>
		<br/>
	 </div>
	 <div class="copyright">
<div style="width:40%; float:left; vertical-align:center;
 text-align:left; margin-top:30px; margin-left:100px;">
		   
		   <p>2, 3rd Floor, Padmavati Complex, </p>
		   <p>Nanjappa Reddy Layout, Koramangala </p>
		   <p> Koramangala 8th Block, Bengaluru, Karnataka 560095 </p>
		    <p> support@jammate.in | 08296807999</p>
		    <p> &copy; 2018 Jammate Inc. </p>
		  </div>
	<div style="width:30%; float:right; vertical-align:center; text-align: right;
	 margin-top:15px; margin-right:200px;">
		<p class="full">
			<a href="aboutus">About Us</a>
		</p><p class="full">
			<a href="contactus">Contact Us</a>
		</p>
		<p class="full">
			<a href="partnertos">Partner Terms of Service</a>
		</p>
		<p class="full">
			<a href="consumerterms">Consumer Terms of Service</a>
		</p>
		<p class="full">
			<a href="privacypolicy">Privacy Policy</a>
		</p>
		<p class="full">
			<a href="refundpolicy">Cancellation and Refund Policy</a>
		</p>
		<p class="full">
			<a href="pricing">Pricing</a>
		</p>
	</div>
		  
		</div>
</layout>