<div>
<div class="cont">
<h1> TERMS OF USE</h1>
<ol>
	<li> <h5><a href= "#about">ABOUT JAMMATE</a></h5></li>
	<li> <h5><a href = "#user">USER ACCOUNT </a></h5> </li>
	<li> <h5><a href= "#owner">OWNERSHIP OF THE WEBSITE AND/OR APP</a></h5> </li>
	<li> <h5><a href = "#conduct">USE OF THE WEBSITE AND/OR APP and CONDUCT</a></h5> </li>
	<li> <h5><a href = "#booking">BOOKING , CANCELLATION, RESCHEDULING AND REFUND POLICY</a> </h5> </li>
	<li> <h5><a href = "#ratings">RATINGS</a> </h5> </li>
	<li> <h5><a href = "#advert">ADVERTISEMENTS</a> </h5> </li>
	<li> <h5><a href = "#rights">RIGHTS TO USER CONTENT</a> </h5> </li>
	<li> <h5><a href = "#obligations">MERCHANT OBLIGATIONS AND RULES</a></h5> </li>
	<li> <h5><a href = "#exceptions">EXCEPTIONS AND LIMITATIONS</a>  </h5> </li>
	<li> <h5><a href = "#warranty"> WARRANTY</a> </h5> </li>
	<li> <h5><a href = "#terminate">TERMINATION</a> </h5> </li>
	<li> <h5><a href = "#indemnification"> INDEMNIFICATION</a>  </h5> </li>
	<li> <h5><a href = "#limitations">LIMITATION OF LIABILITY</a> </h5> </li>
	<li> <h5><a href = "#law" >GOVERNING LAW</a>  </h5> </li>
	<li> <h5><a href = "#provisions"> MISCELLANEOUS PROVISIONS</a>  </h5> </li>
	</ol>
<div>

These Terms of Use ("<b>Terms</b>") apply to a users’ ("<b>Onboard Partner/Your</b>") access to, and use
 of, the Website [www.jammate.in] and the Jammate mobile application ("<b>App</b>"). The Website 
 and/or App is operated by Jammate, and its subsidiaries, licensees, and affiliated companies 
 (collectively,"<b>Jammate/We</b>"). </br> </br>
  
As a condition of using the Website and/or App and the services provided therein ("<b>Services</b>"), 
you agree to be bound by these Terms.  By using or accessing the Website and/or App and/or the
 Services, you agree to these Terms, as may be updated from time to time. If you do not agree 
 to these Terms, kindly do not use this Website and/or App. Because these Terms are a legal 
 contract between you and Jammate, it is important that you review the Terms carefully before 
 accessing or using the Website and/or App. These Terms are not intended to alter in any way or 
 limit the terms or conditions of any other agreement that you may have with Jammate, including 
 without limitation the privacy policy ("<b>Privacy Policy</b>").</br> 

<h5 id="about"> 1. ABOUT JAMMATE </h5>
1.1.	The Jammate Platform is an online space that enables Onboard Partners to connect with third-
 party users ("<b>Members</b>") for the purposes of allowing access to jamrooms/studios and 
 allied services. </br> </br> 

1.2.	The access to or use of certain areas and features of Jammate may be subject to separate 
policies, standards or guidelines, or may require that you accept additional terms and conditions.
 If there is a conflict between these terms and terms and conditions applicable to a specific 
 area or feature of Jammate the latter will take precedence with respect to your access to, or
  use of, that area or feature unless specified otherwise. </br> </br> 

1.3.	Your relationship with Jammate is limited to being an independent, third-party contractor,
 and not an employee, agent, joint venturer or partner of Jammate for any reason and you act 
 exclusively on your own behalf and for your own benefit and not on behalf or for the benefit 
 of Jammate. </br> </br> 
 
<h5 id= "user"> 2.USER ACCOUNT</h5>
2.1.	In order to use the Website and/or App, you are required to provide various information 
about yourself including your name, email address and other information regarding your
 establishment. </br>You agree that any information you provide to Jammate on the Website </br>
 and/or App will always be accurate, correct and up to date. You shall not pass off your 
 business as that of another business or provide account information, an email address or any
  other information that does not pertain to your own business.</br> </br>  

2.2.	To list an Offering or Onboard Partner service, you must create a Listing and submit
 the Offering. To be considered for publishing on the Jamate, you must at all times meet the 
 quality standards for Experiences and meet Member’s demand. Jammate or Jammate reserves the 
 right to decide, in its sole discretion, if a submitted Offering will be published on Jammate. 
 When listing an Offering you must, where applicable, fully educate and inform Members about (i)
  any risks inherent to the Offering, (ii) any requirements for participation, such as the minimum age,
   related skills or other requirements, and (iii) anything else they may need to know to safely 
   participate in the Offering (including dress codes, equipment, special certifications or Onboard
    Partner, etc.).</br> </br> 
   <h5 id = "owner"> 3.OWNERSHIP OF THE WEBSITE AND/OR APP</h5>

3.1.	The Website and/or App contains content owned or licensed by Jammate ("<b>Jammate Content</b>"). Jammate owns and retains all rights in the Jammate Content. You will not remove, alter or conceal any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Jammate Content and you will not reproduce, modify, adapt, prepare derivative works based on, perform, display, publish, distribute, transmit, broadcast, sell, license or otherwise exploit the Jammate Content. </br></br>

3.2.	The Jammate name and logo are trademarks of Jammate, and may not be copied, imitated or used, in whole or in part, without the prior written permission of Jammate, except with prior consent. In addition, all custom graphics, button icons and scripts are service marks, trademarks and/or trade dress of Jammate, and may not be copied, imitated or used, in whole or in part, without prior written permission from Jammate. </br></br>

<h5 id = "conduct">4.USE OF THE WEBSITE AND/OR APP AND CONDUCT</h5>

4.1.	Use of the Website and/or App 

4.1.1.	You may use the Website and/or App for lawful purposes only. You shall not post or transmit through the Website and/or App any material which violates or infringes the rights of others, or which is threatening, abusive, defamatory, libelous, invasive of privacy or publicity rights, vulgar, obscene, profane or otherwise objectionable, contains injurious formulas, recipes, or instructions, which encourages conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any law.</br></br>
4.1.2.	You agree not to engage in any of the following prohibited activities: (i) copying, distributing, or disclosing any part of the Website and/or App in any medium; (ii) transmitting spam, chain letters, or other unsolicited email; (iv) attempting to interfere with, compromise the system integrity or security or decipher any transmissions to or from the servers running the Website and/or App; (iii) taking any action that imposes, or may impose at our sole discretion an unreasonable or disproportionately large load on our infrastructure; (iv) uploading invalid data, viruses, worms, or other software agents through the Website and/or App; (v) collecting or harvesting any personally identifiable information, including account names, from the Website and/or App; (vi) using the Website and/or App for any commercial purposes without having all necessary rights and licenses to the Onboard Partner Content; (vii) impersonating another person or otherwise misrepresenting your affiliation with a person or entity, conducting fraud, hiding or attempting to hide your identity; (viii) interfering with the proper working of the Website and/or App; (ix) accessing any content on the Website and/or App through any technology or means other than those capabilities provided by the Website and/or App; or (x) bypassing the measures we may use to prevent or restrict access to the Website and/or App, including without limitation features that prevent or restrict use or copying of any content or enforce limitations on use of the Website and/or App or the content therein.</br></br>

4.2.	Onboard Partner Content Guidelines: 

4.2.1.	You are solely responsible for your conduct and any data, text, files, information, images, photos, links and other content or materials that you submit, post or display on or via the Website and/or App. Jammate shall have no liability for conduct in relation to your use of our Website and/or App. Violations of these Terms may result in legal consequences prescribed by the applicable laws.</br></br> 
4.2.2.	The Website and/or App provides Onboard Partners the facility to create, share and post content such as profile information, photographs, packages, offers, prices, facilities, images and other material used to create a content or material (together, "Onboard Partner Content"). Jammate claims no ownership rights over Onboard Partner Content created by you. Jammate has the right (but not the obligation) in its sole discretion to remove any Onboard Partner Content that is stored via the Website and/or App.</br></br>
4.2.3.	Jammate takes no responsibility and assumes no liability for any Onboard Partner Content that you or any other Onboard Partner or third party creates, stores, shares, posts or sends through the Website and/or App. You shall be solely responsible for your Onboard Partner Content and the consequences of posting, publishing it, or sharing it and you agree that we are only acting as a passive conduit for your online distribution and publication of your Onboard Partner Content. If your Content violates these Terms, you may bear legal responsibility for that content.</br></br> 
4.2.4.	You agree not to post, store, transmit, create or share any Onboard Partner Content that: (i) may create a risk of harm, loss, physical or mental injury, emotional distress, death, disability, disfigurement, or physical or mental illness to you, to any other person, or to any animal; (ii) may create a risk of any other loss or damage to any person or property; (iii) seeks to harm or exploit children by exposing them to inappropriate content, asking for personally identifiable details or otherwise; (iv) may constitute or contribute to a crime or tort; (v) contains any information or content that we deem to be unlawful, harmful, abusive, racially or ethnically offensive, defamatory, infringing, invasive of personal privacy or publicity rights, harassing, humiliating to other people (publicly or otherwise), libelous, threatening, profane, or otherwise objectionable; (vi) contains any information or content that is illegal (including, without limitation, the disclosure of insider information under securities law or of another party’s trade secrets); or (vii) contains any information or content that you do not have a right to make available under any law or under contractual or fiduciary relationships. You agree that any Onboard Partner Content that you create, store, or share does not and will not violate third-party rights of any kind, including without limitation any Intellectual Property Rights (as defined below) or rights of privacy. Jammate reserves the right, but is not obligated, to reject and/or remove any Onboard Partner Content that Jammate believes, in its sole discretion, violates these provisions. For the purposes of these Terms, "Intellectual Property Rights" means all patent rights, copyright rights, mask work rights, moral rights, rights of publicity, trademark, trade dress and service mark rights, goodwill, trade secret rights and other intellectual property rights as may now exist or hereafter come into existence, and all Website and/or App therefore and registrations, renewals and extensions thereof, under the laws of any state, country, territory or other jurisdiction.</br></br>

4.2.5.	In connection with your Onboard Partner Content, you affirm, represent and warrant the following:</br></br>

a.	Your Onboard Partner Content and your use thereof as contemplated by these Terms and the Website and/or App will not violate any law or infringe any rights of any third party, including but not limited to any Intellectual Property Rights or privacy rights.</br></br>
b.	To the extent that you use the Website and/or App for any commercial purpose and your Onboard Partner Content contains any copyrighted material that is not your original work or in which you do not otherwise own the copyright, you have obtained all rights, licenses, consents, and permissions necessary in order to use that copyrighted material in connection with the creation and/or dissemination of that Onboard Partner Content using the Website and/or App.</br></br>
c.	Jammate may exercise the rights to your Onboard Partner Content granted under these Terms without liability for payment of any guild fees, residuals, payments, fees, or royalties payable under any collective bargaining agreement or otherwise.
d.	Jammate takes no responsibility and assumes no liability for any Onboard Partner Content that you or any other Onboard Partner or third party creates, stores, shares, posts, sends or otherwise makes available through the Website and/or App, whether directly or indirectly. You shall be solely responsible for your Onboard Partner Content and the consequences of posting, publishing it, or sharing it and you agree that Jammate is only acting a passive conduit for the distribution and publication of your Onboard Partner Content. If your Content violates these Terms, you may bear legal responsibility for that content.</br></br>

	<h5 id = "booking"> 5.BOOKING , CANCELLATION, RESCHEDULING AND REFUND POLICY</h5>

5.1.	Jammate may require you to provide a calendar of available appointment times and allow Members to schedule appointments with the Onboard Partner through Jammate. Jammate shall email or call you to check if the availability for its Member and Onboard Partner shall confirm the same within twenty four (24) hours if not instantly as per the price stated on the Website and/or App. Once this is done, the booking is deemed confirmed. The balance amount, if any, will be paid as per the Onboard Partner’s policy as declared on the Website and/or App.</br></br> 

5.2.	All bookings accepted by the Onboard Partner at the time of booking must be honoured. The Onboard Partner shall not overbook and ensure that the reservation is honoured as per the booking details.</br></br> 

5.3.	If the Onboard Partner becomes aware of any circumstances that are likely to prevent the Onboard Partner from honouring a Member’s booking, the Onboard Partner shall immediately notify Jammate in writing stating the reason for same, and shall provide a list of alternate dates and time-slots. If none of the alternate dates and time-slots are amenable to the Member, the Onboard Partner shall refund the entire fee paid by the Member.</br></br>

5.4.	Cancellation and refunds shall be as per the Onboard Partner’s policy stated on the Website and/or App. In case of refunds, the Onboard Partner shall refund within five (5) working days the said amount less applicable charges as stated in the policy for the amount received directly through Jammate. </br></br>

5.5.	Rescheduling: In case of any rescheduling request, the same shall be accommodated subject to Onboard Partner’s availability, as per standard policy.</br></br>

<h5 id = "ratings">6.RATINGS</h5>

6.1.	Jammate may rate the Onboard Partner through reviews received by Members or may outsource the same to certain individuals at its discretion. The Onboard Partner agrees to that these ratings maybe exhibited in Jammate Website and/or App. In case of any dispute regarding the ratings, the Onboard Partner may inform Jammate of its reservation and Jammate has the sole authority to amend at its discretion. In case the dispute cannot be resolved, Jammate may at its discretion, decide to withdraw the said rating.</br></br> 

6.2.	If Jammate, based on reviews and feedback from Members, determines Onboard Partner response times or the quality of service to be unsatisfactory, Jammate may terminate these Terms and return the amounts paid to Members for services that have not yet been availed of, if any.</br></br>

<h5 id = "advert"> 7.ADVERTISEMENTS</h5>

7.1.	Jammate may also advertises certain the Onboard Partners at various places on the Website and/or App at its discretion, and at terms that are mutually agreeable between the advertising Onboard Partner and Jammate.</br></br> 

<h5 id = "rights"> 8.RIGHTS TO USER CONTENT</h5>

8.1.	If you share your Onboard Partner Content with Jammate or link your Onboard Partner Content to Jammate on a third party service, you expressly grant, and you represent and warrant that you have all rights necessary to grant, to Jammate a royalty-free, sublicensable, transferable, perpetual, irrevocable, non-exclusive, worldwide license to use, reproduce, modify, publish, list information regarding, edit, translate, distribute, syndicate, publicly perform, publicly display, and make derivative works of all such Onboard Partner Content and your name, voice, and/or likeness as contained in your Onboard Partner Content, in whole or in part, and in any form, media or technology, whether now known or hereafter developed, for use in connection with the Website and/or App and Jammate’s (and its successors’ and affiliates’) business, including without limitation for promoting and redistributing part or all of our Website and/or App (and derivative works thereof) in any media formats and through any media channels.</br></br>

<h5 id = "obligations"> 9.MERCHANT OBLIGATIONS AND RULES</h5>

9.1.	You shall be responsible for providing information and content relating to the services or packages proposed to be sold by you, and undertake that all such information shall be accurate in all respects. You undertake that you shall not exaggerate or over emphasize the specifics of the services or packages so as to mislead the Members.</br></br>

9.2.	You acknowledge that you have obtained all necessary permits, consents and permissions to make available your premises ("Premises") for use as a commercial space to the general public.</br></br>

9.3.	You shall be liable for all unsatisfactory service, as pointed out by the Member, and Jammate shall have no obligation with respect to the same.</br></br>

9.4.	It is the Onboard Partner’s obligation to determine what, if any, taxes apply to the payments Onboard Partner makes or receives and it shall indicate the same with respect to each package/service, and it is Onboard Partner’s responsibility to collect, report and remit the correct tax to the appropriate tax authority, and Jammate shall not be responsible for the same.</br></br> 

9.5.	The Onboard Partner agrees that Jammate only acts as an intermediary to facilitate payment, and the Onboard Partner shall bear sole financial responsibility for any and all sales, use, excise, general, GST, or other similar taxes, including any interest penalties and additions related thereto, imposed on or arising from the transactions contemplated by these Terms between Jammate and the Onboard Partner, if any. Once a Member requests a booking of your Listing, you may not request that the Member to pay a higher price than in the booking request. 7</br></br>

9.6.	When creating a listing through Jammate ("Listing") you must (i) provide complete and accurate information about your offering (Offering"") (such as listing description, location, slot bookings, time slot availability, onstage timings, calendar availability and any other such criteria), (ii) disclose any deficiencies, restrictions (such as studio rules, bar rules, pub rules, venue rules, or onstage conduct rules or any other similar or allied rules) and requirements that apply (such as any minimum age, proficiency or Members experience) and (iii) provide any other pertinent information requested by Jammate You are responsible for keeping your Listing information updated at all times.</br></br>

9.7.	Any terms and conditions included in your Listing, in particular in relation to cancellations and/or rescheduling, must not conflict with those Terms or the cancellation and/or rescheduling policy you have selected for your Listing. When you accept or have pre-approved a booking request by a Member, you are entering into a legally binding agreement with the Member and are required to provide your Service(s) to the Member as described in your Listing when the booking request is made. You also agree to collect the applicable Fee including the service charge accrued to Us and any applicable Taxes, which will be collected pursuant to the Payments Terms. 7.1.7 Jammate or Jammate recommends that Onboard Partners obtain appropriate insurance for their Services. Please review any respective insurance policy carefully, and in particular make sure that you are familiar with and understand any exclusions to, and any deductibles that may apply for, such insurance policy, including, but not limited to, whether or not your insurance policy will cover the actions or inactions of Members (and the individuals the Member has booked for, if applicable) while availing of your services or participating in your event or any other service or participating in your Experience, Event or other Service.</br></br>

9.8.	You may accept only one booking by a Member for a particular venue at a particular slot. 7.2.2 If you choose to require a security deposit for your booking, you must specify this in your Listing ("Security Deposit"). Onboard Partners are not allowed to ask for a Security Deposit after a booking has been confirmed or outside of Jammate. Jammate or Jammate will use commercially reasonable efforts to address Onboard Partners’ requests and claims related to Security Deposits, but Jammate or Jammate is not responsible for administering or accepting any claims by Hosts related to Security Deposits.</br></br> 

9.9.	You represent and warrant that any Listing you post and the booking of, or a Member's performance/popularity at, a venue or place will (i) not breach any agreements you have entered into with any third parties, such as homeowners association, condominium, or other agreements, and (ii) comply with all applicable laws (such as zoning laws), Tax requirements, and other rules and regulations (including having all required permits, licenses and registrations). As an Onboard Partner, you are responsible for your own acts and omissions and are also responsible for the acts and omissions of any individuals who reside at or are otherwise are present at the venue or place at your request or invitation, including any other person that the Member may invite at the venue.</br></br>

9.10.	Jammate or Jammate may enable Onboard Partners to authorize other Members ("Co-Hosts") to administer the Onboard Partner’s Listing(s), and to bind the Onboard Partner and take certain actions in relation to the Listing(s) as permitted by the Onboard Partner, such as accepting booking requests, messaging and welcoming Members, and updating the Listing Fee and slot availability (collectively, "Co-Onboard Partner Services"). Any agreement formed between Onboard Partner and Co-Onboard Partner may not conflict with these Terms and the Payments Terms. Co-Onboard Partners may only act in an individual capacity and not on behalf of a company or other organization, unless expressly authorized by Jammate or Jammate. Jammate or Jammate reserves the right, in our sole discretion, to limit the number of Co-Onboard Partners an Onboard Partner may invite for each Listing and to limit the number of Listings a Co-Onboard Partner may manage.</br></br>

9.11.	Onboard Partner and Co-Onboard Partner may agree on a fee ("Co-Onboard Partner Services Fee") in consideration for the Co-Onboard Partner Services provided by the Co-Onboard Partner. When such an agreement is made, the Onboard Partner agrees to pay the Co-Onboard Partner Services Fee for any confirmed booking of their Listing, which will be deducted directly from the Listing Fee after deduction of any applicable Onboard Partner Fee. In addition, Onboard Partner may instruct a Co-Onboard Partner to provide certain one-time services in relation to their Listing. Onboard Partners can pay Co-Onboard Partner for one-time services and any other expenses using the resolution mechanism on the Website and/or App. Jammate will process Co-Onboard Partner Services Fees and other payments pursuant to the Payments Terms of the Onboard Partner.</br></br>

9.12.	Onboard Partner and Co-Onboard Partners agree that each activity, booking, or other transaction reported on Jammate, including any Co-Onboard Partner Services provided by the Co-Onboard Partner and any amounts due from an Onboard Partner to the Co-Onboard Partner for the provision of such services, will be deemed accurate, correct and binding, unless challenged, by notifying the other person and Jammate or Jammate (by emailing yourfriends@jammate.in), within 21 days of posting of the disputed activity, booking or other transaction on Jammate.</br></br>

9.13.	Onboard Partners should exercise due diligence and care when deciding who to add as a Co-Onboard Partner to their Listing(s). Onboard Partners remain solely responsible and liable for any and all Listings and Member Content published on Jammate, including any Listing created by a Co-Onboard Partner on their behalf. Further, Onboard Partners remain responsible and liable for their own acts and omissions, including, but not limited to, conduct that causes harm or damage to the Co-Onboard Partner(s). Co-Onboard Partners remain responsible and liable for their own acts and omissions when engaging in their roles and responsibilities as a Co-Onboard Partner, including, but not limited to, conduct that causes harm or damage to the Onboard Partner. In addition, both Onboard Partner and Co-Onboard Partner are jointly responsible and severally liable for third party claims, including claims from other persons, arising from the acts and omissions of the other person as related to Onboard Partner activities, communications with Members, and the provision of any Co-Onboard Partner Services.</br></br>

9.14.	Unless agreed otherwise by Onboard Partners and Co-Onboard Partners, Onboard Partners and Co-Onboard Partners may terminate the Co-Onboard Partners agreement at any time. In addition, both Onboard Partner and Co-Onboard Partner acknowledge that their Co-Onboard Partner relationship will terminate in the event that Jammate or Jammate (i) terminates the Co-Onboard Partner service or (ii) terminates either party’s participation in the Co-Onboard Partner service. When the Co-Onboard Partner's agreement is terminated, the Onboard Partner will remain responsible for all of the Co-Onboard Partner’s actions prior to the termination, including the responsibility to fulfil any pending or future bookings initiated prior to the termination. When a Member is removed as a Co-Onboard Partner, that Member will no longer have access to any Onboard Partner or Guest information related to the applicable Onboard Partner’s Listing(s). In addition, Onboard Partner agrees to pay Co-Onboard Partners for all Co-Onboard Partner Services completed prior to Co-Onboard Partner’s termination within 14 days of Co-Onboard Partner’s termination via the resolution mechanism. A Co-Onboard Partner will not be entitled to any fees for any Co-Onboard Partners Services that have not been completed prior to the Co-Onboard Partner’s termination.</br></br>

9.15.	As a Co-Onboard Partner, you will not be reviewed by Members, meaning that your Co-Onboard Partner activities will not affect your reviews or ratings for other Listings for which you are an Onboard Partner. Instead, the Onboard Partner of such Listing(s) will be reviewed by Members (including potentially on the basis of the Co-Onboard Partner’s conduct and performance). Onboard Partners acknowledge that reviews and ratings from Members for their Listing(s) may be impacted by a Co-Onboard Partner’s conduct and performance.</br></br>

<h5 id = "exceptions"> 10.EXCEPTIONS AND LIMITATIONS</h5>

10.1.	The Website and/or App is a platform through which Onboard Partners and Members agree upon certain commercial terms, and are solely responsible for their respective conduct, and Jammate shall have no obligation with respect to the same.</br></br> 

10.2.	You agree and acknowledge that all commercial/contractual terms are between you and the Member(s) a. Jammate does exercise any control or does not determine or advise or in any way involve itself in the offering or acceptance of such commercial/contractual terms between you and the Member.</br></br>

10.3.	Jammate is not responsible for any non-performance or breach of any contract entered into between you and the Member(s), and while we may extend our best efforts, at our discretion, to resolve the same, Jammate shall not and is not required to mediate or resolve any such dispute or disagreement.</br></br> 

10.4.	You acknowledge that there will be occasions when the Website and/or App may be interrupted, including, without limitation, for scheduled maintenance or upgrades, for emergency repairs, or due to failure of telecommunications links and/or equipment.</br></br> 

10.5.	You agree that Jammate is not responsible for, and does not endorse, Onboard Partner Content posted within the Website and/or App. Jammate does not have any obligation to prescreen, monitor, edit, or remove any Onboard Partner Content. If your Onboard Partner Content violates these Terms, you shall be solely responsible for any legal consequences with respect to such Onboard Partner Content.</br></br>

10.6.	Jammate reserves the right to remove any Onboard Partner Content from the Website and/or App for any reason, without prior notice. Onboard Partner Content removed from the Website and/or App may continue to be stored by Jammate, including, without limitation, in order to comply with certain legal obligations, but may not be retrievable without a valid court order. Jammate will not be liable to you for any modification, suspension, or discontinuation of the Website and/or App, or the loss of any Onboard Partner Content.</br></br> 

10.7.	The content or information posted on the Website and/or App is posted by other users and may contain errors, and while Jammate reserves the right to correct/remove the same, it is under no obligation to do so. You acknowledge that you read and act upon this information at your own risk and shall make additional efforts to verify the authenticity of such information.</br></br> 

10.8.	We may, without prior notice, change the Website and/or App, stop providing the Website and/or App or features of the Website and/or App, to you or to Onboard Partners generally, or create usage limits for the Website and/or App. We may permanently or temporarily terminate or suspend your access to the Website and/or App, or delete any Onboard Partner Content without notice and liability for any reason, including if in our sole determination you violate any provision of these Terms, or for no reason. Upon termination for any reason or no reason, you continue to be bound by these Terms.</br></br>

10.9.	YOUR SOLE AND EXCLUSIVE RIGHT AND REMEDY IN CASE OF DISSATISFACTION WITH THE WEBSITE AND/OR APP, THE SERVICES, OR ANY OTHER GRIEVANCE SHALL BE YOUR TERMINATION AND DISCONTINUATION OF ACCESS TO, OR USE OF THE SITE.</br></br>

<h5 id = "warranty">	11.WARRANTY</h5>

11.1.	THE WEBSITE AND/OR APP IS PROVIDED ON AN "AS IS" BASIS, AND USE OF THE WEBSITE AND/OR APP IS AT THE USER’S RISK. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE WEBSITE AND/OR APP IS PROVIDED WITHOUT WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM JAMMATE OR THROUGH THE WEBSITE AND/OR APP WILL NOT CREATE ANY WARRANTY NOT EXPRESSLY STATED HEREIN. WITHOUT LIMITING THE FOREGOING, JAMMATE, ITS SUBSIDIARIES, ITS AFFILIATES, AND ITS LICENSORS DO NOT WARRANT THAT THE CONTENT FOUND ON THE WEBSITE AND/OR APP IS ACCURATE, RELIABLE OR CORRECT; THAT THE WEBSITE AND/OR APP WILL MEET YOUR REQUIREMENTS; THAT THE WEBSITE AND/OR APP WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION, UNINTERRUPTED OR SECURE; THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED; OR THAT THE WEBSITE AND/OR APP IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. ANY CONTENT DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE WEBSITE AND/OR APP IS DOWNLOADED AT YOUR OWN RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR MOBILE DEVICE OR LOSS OF DATA THAT RESULTS FROM SUCH DOWNLOAD OR YOUR USE OF THE WEBSITE AND/OR APP.</br></br> 

11.2.	JAMMATE DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE WEBSITE AND/OR APP OR ANY HYPERLINKED WEBSITE AND/OR APP OR SERVICE, AND JAMMATE WILL NOT BE A PARTY TO OR IN ANY WAY MONITOR ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.</br></br> 

<h5 id = "terminate">	12.TERMINATION</h5>

12.1.	Jammate may terminate these Terms for any reason at any time. Jammate reserves the right, in its sole discretion, to restrict, suspend, or terminate your access to and use of the Website and/or App, with or without prior notice.  Otherwise applicable sections of the Terms shall survive termination.  In addition to any termination rights, we reserve the right to enforce and prosecute any violations of these Terms.</br></br>

13.	<h5 id = "indemnification"> 13.INDEMNIFICATION</h5>

13.1.	You shall indemnify and hold us harmless from and against any and all losses, damages, settlements, liabilities, costs, charges, assessments and expenses, as well as third party claims and causes of action, including, without limitation, attorneys’ fees, arising out of any breach by you of any of these Terms, or any use by you of the Website and/or App. You shall provide us with such assistance, without charge, as we may request in connection with any such defence, including, without limitation, providing us with such information, documents, records and reasonable access to you, as we deem necessary. You shall not settle any third party claim or waive any defence without our prior written consent.</br></br>

<h5 id = "limitations"> 14.LIMITATION OF LIABILITY</h5>

14.1.	IN NO EVENT WILL JAMMATE OR ITS AFFILIATES OR ANY PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE WEBSITE AND/OR APP BE LIABLE FOR ANY DIRECT, INCIDENTAL, CONSEQUENTIAL, INDIRECT, SPECIAL, OR PUNITIVE DAMAGES ARISING OUT OF YOUR ACCESS, USE, MISUSE, OR INABILITY TO USE THE WEBSITE AND/OR APP OR ANY LINKED SITES, OR IN CONNECTION WITH ANY FAILURE OF PERFORMANCE.  THESE LIMITATIONS APPLY WHETHER THE ALLEGED LIABILITY IS BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR ANY OTHER BASIS, EVEN IF JAMMATE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.  IN NO EVENT WILL JAMMATE’S LIABILITY EXCEED THE COMMISSION RECEIVED BY JAMMATE FOR THE RELEVANT PRODUCT OR SERVICE.</br></br> 

<h5 id = "law"> 15.GOVERNING LAW</h5>

15.1.	This Agreement shall be governed by the laws of India, and the courts of Bangalore shall have exclusive jurisdiction with respect to any dispute arising hereunder.</br></br>

<h5 id = "provisions">	16.MISCELLANEOUS PROVISIONS</h5>

16.1.	Survival: In the event of termination or expiration of these Terms for any reason, any provisions of these Terms that by their nature should survive termination of these Terms will survive termination of these Terms, unless contrary to the pertinent provisions herein stated.</br></br>

16.2.	Severability: If any term or provision in these Terms is held to be either illegal or unenforceable, in whole or in part, under any enactment or rule of law, such term or provision or part shall to that extent be deemed not to form part of these Terms, but the validity and enforceability of the remainder of these Terms shall not be affected.</br></br>

16.3.	Unenforceability: If any provision of these Terms or any word, phrase, clause, sentence, or other portion thereof should be held to be unenforceable or invalid for any reason, then provided that the essential consideration for entering into these Terms on the part of any Party is not unreasonably impaired, such provision or portion thereof shall be modified or deleted in such manner as to render these Terms as modified legal and enforceable to the maximum extent permitted under applicable laws.</br></br>

16.4.	No Waiver: No delay or omission by either Party hereto to exercise any right or power occurring upon any noncompliance or default by the other party with respect to any of the terms of these Terms shall impair any such right or power or be construed to be a waiver thereof.  The terms and conditions of these Terms may be waived or amended only in writing or mutual agreement of the Parties. A waiver by either of the Parties hereto of any of the covenants, conditions, or agreements to be performed by the other shall not be construed to be a waiver of any succeeding breach thereof or of any covenant, condition, or agreement herein contained (whether or not the provision is similar).</br></br>

16.5.	Notices: 
Any notice required or permitted to be given to Jammate hereunder shall be in writing and sent or transmitted by (i) registered or certified mail; (ii) hand-delivery; (iii) email; or (iv) internationally recognized courier service, provided its receipt is acknowledged and, dispatched or sent or transmitted to the address specified Jammate. All notice required to be given under these Terms shall be addressed to:</br></br>  
[Jammate Solutions]</br></br>

[2, 3rd Floor, Padmavati Complex, Nanjappa Reddy Layout, Koramangala, Bengaluru, Karnataka 560095]</br></br>
or
[yourfriends@jammate.in]</br></br>

We may change the Terms or modify any features of the Website and/or App at any time at our sole discretion.  The most current version of the Terms can be viewed by clicking on the "Terms and Conditions" section at the.  If you continue to use the Website and/or App after changes are posted you will be deemed to have accepted the change.</br></br>

 </div>
 </div>
 <div class="copyright">
<div style="width:40%; float:left; vertical-align:center;
 text-align:left; margin-top:30px; margin-left:100px;">
		   
		   <p>2, 3rd Floor, Padmavati Complex, </p>
		   <p>Nanjappa Reddy Layout, Koramangala </p>
		   <p> Koramangala 8th Block, Bengaluru, Karnataka 560095 </p>
		    <p> support@jammate.in | 08296807999</p>
		    <p> &copy; 2018 Jammate Inc. </p>
		  </div>
	<div style="width:30%; float:right; vertical-align:center; text-align: right;
	 margin-top:15px; margin-right:200px;">
		<p class="full">
			<a href="aboutus">About Us</a>
		</p><p class="full">
			<a href="contactus">Contact Us</a>
		</p>
		<p class="full">
			<a href="partnertos">Partner Terms of Service</a>
		</p>
		<p class="full">
			<a href="consumerterms">Consumer Terms of Service</a>
		</p>
		<p class="full">
			<a href="privacypolicy">Privacy Policy</a>
		</p>
		<p class="full">
			<a href="refundpolicy">Cancellation and Refund Policy</a>
		</p>
		<p class="full">
			<a href="pricing">Pricing</a>
		</p>
	</div>
		  
		</div>
 </div>    


