<div>
<div class="cont">
<h1> PRIVACY POLICY</h1>
<ol>
	<li> <h5><a href= "#collection">COLLECTION OF PERSONAL INFORMATION< </a> </h3> </li>
	<li> <h5><a href = "#useContent">USE YOUR CONTENT</a></h3> </li>
	<li> <h5><a href = "#dataShare">SHARING YOUR DATA</a></h3> </li>
	<li> <h5><a href = "#social">SOCIAL MEDIA</a> </h3> </li>
	<li> <h5><a href = "#security"> SECURITY</a> </h3> </li>
	</ol>
<div>
This policy explains our privacy practices for the Website [www.jammate.in] and the mobile application  <b> ("App") </b>. The Website and/or App is operated by Jammate, and its subsidiaries, licensees, and affiliated  companies (collectively, <b>"Jammate/We"</b>).  
By using the Website/App and the services provided therein <b>("Services")</b>, you <b>("You/Your/User")</b> are  accepting the terms of this Privacy Policy. Any external links to other websites are clearly identifiable as such, and we are not responsible for the content or the privacy policies of these other websites. We recognise the importance of your privacy and respect that you want to safeguard your personal information  shared with us. Subsequently, we too make it a high priority to ensure that your personal information (including credit card details) remains secure and confidential and is used only for the intended purpose. In this privacy policy we explain our practices regarding personal information we collect when you use the Website.<br/> 
Our Privacy Policy sets out how <b>Jammate ("Jammate/We/Our")</b> collects, use, share and protect information provided through the Website (collectively, the <b>"Service"</b>), and your choices about the collection and use of your information.<br/> 
Jammate's Terms of Use require all account owners to be at least 18 years of age (or have the permission and supervision of a responsible parent or legal guardian), therefore, this policy does not discuss use of our Website,  or services by minors.  </h1>
<h5 id = "collection">  1. COLLECTION OF PERSONAL INFORMATION </h5>
In the course of providing the Services to you, Jammate collects the following personal information <b> ("User Data") </b>: <br/><br/>

1.1.	Personal information such as your username, password, e-mail address and phone number when you register for a Jammate account. <br/><br/> 

1.2.	We may automatically collect some information about your hardware devices when you access  Jammate.  For example, when you utilize our Wesbite, we may collect your internet protocol <b> ("IP") </b> address and the type of device you use and your geographic location. We may combine this  automatically-gathered information with other information, including personal information we have  collected about you. <br/><br/>

1.3.	We may receive information from third parties (including, for example, business partners, providers of technical, payment and delivery services, social media service providers, advertising networks, analytics providers, and search information providers) about your usage trends. <br/><br/>

1.4.	If you send us personal correspondence, such as emails, we may collect such information into a file specific to you.<br/>  </h1> <h2>
 <h5 id = "useContent"> 2. USE OF YOUR CONTENT </h5> 
 2.1. In order to provide a personalised browsing experience, Jammate may collect information from you,  and you agree that Jammate may use such information to improve its marketing and promotional  efforts, to analyze usage, improve the content of Jammate, product offerings, and to customise Jammate's content, layout, and services, in order to improve Jammate and better tailor it to meet your needs. <br/><br/> 

2.2.	We use your personal information and other information we obtain from your current and past activities on the Website to: resolve disputes; troubleshoot problems; help promote safe trading; collect fees owed; measure consumer interest in the services provided by us, inform you about online and offline offers, products, services, and updates; customize your experience; detect and protect us against error, fraud and other criminal activity; enforce our Terms of Use; and as otherwise described to you at the time of collection. At times, we may look across multiple users to identify problems or resolve disputes. We may compare and review your personal information for errors, omissions and for accuracy.<br/><br/> 

2.3.	Our group companies (which means all direct and indirect subsidiaries of Jammate), may collect,  hold and use information you share with us in order to provide our services  and products to you, including (without limitation) enabling you to make, and us to accept,  reservations online for our services worldwide. We may contact you about other services we offer that are similar to those you have already purchased or enquired about, or with any other related marketing material.<br/><br/> 

2.4.	To extend this personalized experience, Jammate may track the internet protocol <em>("IP")<em> address of  your device and save certain User Data on your device in the form of cookies. Jammate uses this  data to deliver web pages to you upon request, to customize the site to your interests, to measure traffic within the Website, and let advertisers know the geographic locations of Website's users. You agree that we may use your User Data to contact you and deliver information to you that, in some cases, are targeted to your interests, such as targeted banner advertisements, administrative notices, product offerings, and communications relevant to your use of the Website. Such portion of the User Data provided by you to Jammate that may be personal or sensitive in nature, will not be provided to third parties without previous consent of the user concerned. User Data of a general nature may however be revealed to external parties. <br/><br/> 

2.5.	We use or may use the data collected through cookies, log file, device identifiers, location data and clear gifs information to: (a) remember information so that you will not have to re-enter it during your visit or the next time you visit the site; (b) provide custom, personalized content and information; (c) provide and monitor the effectiveness of our Services; (d) monitor aggregate metrics and demographic patterns; (e) diagnose or fix technology problems; and (f) otherwise to plan for and enhance our service. <br/><br/>

2.6.	We may use third parties that we refer to as internal service providers to facilitate or outsource one or more aspects of the business, product and service operations (such as email or credit card payments) that we provide to you on the Website and therefore we may provide some of your personal information directly to these internal service providers. These internal service providers are subject to confidentiality agreements with us and other legal restrictions that prohibit their use of the information we provide them for any other purpose except to facilitate the specific outsourced Website related operation, unless you have explicitly agreed or given your prior permission to them for additional uses. If you provide additional information to an internal service provider directly, then their use of your personal information is governed by their applicable privacy policy.<br/><br/> 

2.7.	We use your User Data to communication with you, and to provide your information announcements. <br/><br/>

2.8.	Jammate promises that we will not sell or rent your personal information to third parties for their marketing purposes without your explicit consent. From time to time we may reveal general statistical information about our Website and visitors, without revealing personal details. Your trust and confidence are our highest priority.<br/><br/> 

2.9.	In the event you choose to make reservations at the studio(s) via net banking, credit/debit card or online wallets, you shall be required to provide information, which may include payment instrument number (e.g., credit card), name and billing address, the security code associated with the payment instrument, etc ("Payment Data"). We use Payment Data to complete transactions, as well as to detect and prevent fraud. When you provide Payment Data while logged in, Jammate shall store such data to facilitate future transactions. Upon deletion or closure of your account, we may retain the Payment Data for as long as reasonably necessary to comply with Jammate's legal and reporting requirements. In the course of processing or transmitting your Payment Data, we will observe and fully comply with the current Data Security Standard of the PCI Security Standards Council.<br/><br/> 
<h5 id = "dataShare">3. SHARING YOUR DATA </h5> 
 3.1We may share User Data and your information (including but not limited to, information from cookies, log files, device identifiers, location data, and usage data) with businesses that are legally part of the same group of companies that Jammate is part of, or that become part of that group <b>("Affiliates")</b>.	 Affiliates may use this information to help provide, understand, and improve the Service (including by providing analytics) and Affiliates' own services (including by providing you with better and more relevant experiences). <b> Information shared with other users of Jammate </b> 3.2. To help facilitate bookings, we may share your information with other Onboard Partners in the following manner:<br/> <br/>

3.2.1	When you as a Member make a booking, certain information about you is shared with the Onboard Partner, including your full name, your cancellation history, and other information you agree to share. When your booking is confirmed, we will disclose additional information to assist with coordinating the trip, like your phone number.<br/><br/>
3.2.2.	When you as an Onboard Partner have confirmed a booking, certain information is shared with the Member to coordinate the booking, such as your full name, phone number, and the address of the Premises.<br/><br/>
<b> Information shared with the general public </b>  <br/><br/>
3.3	Certain information pertaining to you is made available to the general public who view the Website/App, including but not limited to the following:<br/> <br/>
&bull;	Public details such as your first name, your description, description of the Premises or Experience offered by you (if applicable) and the city you are located in, are publicly visible to others.<br/><br/>
&bull;	Reviews that other Members/Onboard Partners write about you.<br/><br/>
&bull;	Any other content that you make visible, including your User Content. <br/>
Please note information you share publicly on Jammate may be indexed through third party search engines. Despite altering your privacy settings, some content may remain in caches or as part of search engine databases. You acknowledge that we do not control the practices of third party search engines.<br/><br/>
3.4.	We also may share your information as well as information from tools like cookies, log files, and device identifiers and location data, with third-party organizations that help us provide the Services <br/>to you. Our service providers will be given access to your information as is reasonably necessary to provide the Services under reasonable confidentiality terms.<br/><br/>

3.5.	We may remove parts of data that can identify you and share anonymized data with other parties. We may also combine your information with other information in a way that it is no longer associated with you and share that aggregated information. <br/><br/>

3.6.	To selected third parties, where you have chosen to share such information. <br/><br/>

3.7.	Jammate may share sensitive your personal information with any third party without obtaining your prior consent in the following limited circumstances: <br/><br/>

3.7.1.	When it is requested or required by law or by any court or governmental agency or authority to disclose, for the purpose of verification of identity, or for the prevention, detection, investigation including cyber incidents, or for prosecution and punishment of offences. These disclosures are made in good faith and belief that such disclosure is reasonably necessary for enforcing the Terms of Use, this Privacy Policy, or for complying with the applicable laws and regulations. <br/><br/>

3.7.2.	Jammate proposes to share such information within its group companies and officers and <br/>employees of such group companies for the purpose of processing personal information on its behalf. Jammate also ensures that the recipients of such information agree to process such information based on our instructions and in compliance with this Privacy Policy and any other appropriate confidentiality and security measures.<br/><br/>
<h5 id = "social"> 4.SOCIAL MEDIA </h5>
4.1.	When you create and/or upload any content (including but not limited to, photographs, articles, location, text etc.) with respect to a Jammate venue ("<b>Social Media Content</b>"), you grant us and our affiliates, and our or our affiliates' respective employees, agents and contractors a worldwide, perpetual, irrevocable, royalty-free, fully-paid, non-exclusive, transferable, sub-licensable right to use the Social Media Content in any form for any commercial purposes including. You acknowledge that the sharing and privacy settings regarding such Social Media Content shall be subject to the privacy settings of the relevant social media platform.<br/><br/>

4.2.	You acknowledge that such Social Media Content shall not be unlawful or defamatory, obscene, pornographic, abusive, indecent, threatening, hateful or offensive, and shall not infringe upon the proprietary rights of any other party.<br/><br/>

<h5 id = "security"></h5> 5.SECURITY </h5> <br/>

5.1.	The security of your personal information is important to us. Your Jammate account information is protected by a password. It is important that you protect against unauthorized access of your account and information by choosing your password carefully, and keeping your password and computer secure by signing out after using our services.<br/><br/> 

5.2.	We have implemented procedures to help protect the information that you provide to us.  However, no method of transmitting or storing electronic data is ever completely secure, and we cannot guarantee that such information will never be accessed, used, or released in a manner that is inconsistent with this policy.  You agree and acknowledge that we may engage third-party services providers for the provision of cloud service storage solutions, and Jammate is not responsible for any lapse in security on the part of such service providers. We expressly disclaim any representation or warranty, whether express or implied, with respect to ensuring, guaranteeing, or otherwise offering any definitive promise of security in connection with your Information. YOU ARE SOLELY RESPONSIBLE FOR MAINTAINING THE SECRECY OF YOUR ACCOUNT INFORMATION AT ALL TIMES. <br/><br/>

5.3.	You shall be solely responsible for all activities and transmission performed by you through your Jammate account. Jammate assumes no responsibility or liability for their improper use of information relating to such usage of credit cards and/or debit cards by you, whether online or off-line. <br/><br/>

5.4.	To protect your privacy and security, we will verify your identity before granting access or making changes to your personally-identifying information. If you have registered your profile on Jammate, your Jammate ID and Password are required in order to access your profile information. <br/><br/>	

5.5.	Our Website may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that they have their own privacy policies and we do not accept any responsibility or liability for these policies. Please check these policies before you provide any personal information using these websites. <br/><br/>

Jammate may change or amend this Privacy Policy from time to time to incorporate necessary future changes. Jammate's use of User Data shall be in adherence with consistent with the provisions of the relevant privacy policy under which the information was collected, regardless of new or conflicting provisions in an updated Privacy Policy. <br/><br/>

To unsubscribe from our emailer list you can send us the email at [unsubscribe@jammate.in]. We at our end will take required steps as soon as reasonably practical. Do note here, should you opt out of our emailing list, as described here, we will not be able to remove your personal information from the databases of affiliates, franchisees or business partners with which we have already shared your personal information, prior to the date of your opt-out request. <br/><br/>
In compliance with Information Technology Act, 2000 and rules made there under, the name and contact details of the Grievance Officer are provided below: <br/><br/> 

Arnab Barua<br/> 

arnab@jammate.in<br/> 
2, 3rd Floor, Padmavati Complex, Nanjappa Reddy Layout, Koramangala, Bengaluru, Karnataka 560095<br/> 



</div>
</div>
<div class="copyright">
<div style="width:40%; float:left; vertical-align:center;
 text-align:left; margin-top:30px; margin-left:100px;">
		   
		   <p>2, 3rd Floor, Padmavati Complex, </p>
		   <p>Nanjappa Reddy Layout, Koramangala </p>
		   <p> Koramangala 8th Block, Bengaluru, Karnataka 560095 </p>
		    <p> support@jammate.in | 08296807999</p>
		    <p> &copy; 2018 Jammate Inc. </p>
		  </div>
	<div style="width:30%; float:right; vertical-align:center; text-align: right;
	 margin-top:15px; margin-right:200px;">
		<p class="full">
			<a href="aboutus">About Us</a>
		</p><p class="full">
			<a href="contactus">Contact Us</a>
		</p>
		<p class="full">
			<a href="partnertos">Partner Terms of Service</a>
		</p>
		<p class="full">
			<a href="consumerterms">Consumer Terms of Service</a>
		</p>
		<p class="full">
			<a href="privacypolicy">Privacy Policy</a>
		</p>
		<p class="full">
			<a href="refundpolicy">Cancellation and Refund Policy</a>
		</p>
		<p class="full">
			<a href="pricing">Pricing</a>
		</p>
	</div>
		  
		</div>
</div>











