<div>
<div class="cont">
<h2>Refund and Cancellation Policy</h2>
<p>In case of refunds, the Onboard Partner shall refund within five (5) working days the said amount less applicable charges as stated in the policy for the amount received directly through Jammate.</p>
</div>
<div class="copyright">
<div style="width:40%; float:left; vertical-align:center;
 text-align:left; margin-top:30px; margin-left:100px;">
		   
		   <p>2, 3rd Floor, Padmavati Complex, </p>
		   <p>Nanjappa Reddy Layout, Koramangala </p>
		   <p> Koramangala 8th Block, Bengaluru, Karnataka 560095 </p>
		    <p> support@jammate.in | 08296807999</p>
		    <p> &copy; 2018 Jammate Inc. </p>
		  </div>
	<div style="width:30%; float:right; vertical-align:center; text-align: right;
	 margin-top:15px; margin-right:200px;">
		<p class="full">
			<a href="aboutus">About Us</a>
		</p><p class="full">
			<a href="contactus">Contact Us</a>
		</p>
		<p class="full">
			<a href="partnertos">Partner Terms of Service</a>
		</p>
		<p class="full">
			<a href="consumerterms">Consumer Terms of Service</a>
		</p>
		<p class="full">
			<a href="privacypolicy">Privacy Policy</a>
		</p>
		<p class="full">
			<a href="refundpolicy">Cancellation and Refund Policy</a>
		</p>
		<p class="full">
			<a href="pricing">Pricing</a>
		</p>
	</div>
		  
		</div>
</div>