<div style="margin-top: 130px; margin-left:50px; margin-right:50px; margin-bottom: 100px;">

<h2 style="text-align: center;">
Terms of Service
</h2>

<div class="terms">
These Terms of Service ("Terms") constitute a legally binding agreement ("Agreement") between you and Jammate Solutions Pvt. Ltd. (as defined below) governing your access to, and use of, the Jammate website, including any subdomains thereof, and any other websites through which Jammate Solutions Pvt. Ltd. makes the Jammate Services available (collectively, "Site"), our mobile, tablet and other smart device applications, and application program interfaces (collectively, "Application") and all associated services (collectively, "Jammate  Services"). The Site, Application and Jammate Services together are hereinafter collectively referred to as the “Jammate Platform”. Our Host Guarantee Terms, Guest Refund Policy, Nondiscrimination Policy and other Policies applicable to your use of the Jammate Platform are incorporated by reference into this Agreement.
</div>
<div class="terms">
When these Terms mention “Jammate Solutions Pvt. Ltd.,” “Jammate”,“we,” “us,” or “our,” it refers to the Jammate Solutions Pvt. Ltd.  you are contracting with.
</div><div class="terms">
If you reside in or outside India, you are contracting with Jammate Solutions Pvt. Ltd. having its registered office at K.K.B Road, Chenikuthi, Guwahati-781003.
Our collection and use of personal information in connection with your access to and use of the Jammate Platform is described in our Privacy Policy.
</div>
<h3> Table of Contents </h3>
<ol>
<li>Scope of Jammate Services</li>
<li>Eligibility, Using the Jammate Platform, Member Verification</li>
<li>Modification of these Terms</li>
<li>Account Registration</li>
<li>Content</li>
<li>Service Fees</li>
<li>Terms specific for Hosts</li>
<li>Terms specific for Guests</li>
<li>Booking Modifications, Cancellations and Refunds, Resolution Center</li>
<li>Ratings and Reviews</li>
<li>Damage to Accommodations, Disputes between Members</li>
<li>Rounding off, Currency conversion</li>
<li>Taxes</li>
<li>Prohibited Activities</li>
<li>Term and Termination, Suspension and other Measures</li>
<li>Disclaimers</li>
<li>Liability</li>
<li>Indemnification</li>
<li>Dispute Resolution</li>
<li>Feedback</li>
<li>Applicable Law and Jurisdiction</li>
<li>General Provisions</li>
</ol>
<div>
1. Scope of Jammate Services: 
<div class="terms">The Jammate Platform is an online space that enables registered users (“Members”) and 
certain partners (which may include studio, jamroom and pub owners, and any other person who may
 be interested in exchanging their services for a consideration) to utilise jamroom amenities, 
 rescheduling, cancellation policy, flexible pricing for weekdays/happy hours/weekends, etc. for
  the purpose of Jamroom activities and the application is for artists or for anyone who wishes
   to use the service of these jamrooms/studios. Onboard Partners may include  studio, jamroom
    owner, pub owners, and any other person who may be interested in exchanging their services
  for a consideration and other companies, entities, organisations offering such services.
As the provider of the Jammate Platform, Jammate Solutions Pvt. Ltd. does not own, create, sell,
 resell, provide, control, manage, offer, deliver or supply any services that are rendered by the Onboard Partners.
  Onboard Partners alone are responsible for their services. When Members make or accept a booking,
   they are entering into a contract directly with each other. Jammate is not and does not become a
    party to or other participant in any contractual relationship between Members inter se, Members and Onboard Partners.
     Jammate Solutions Pvt. Ltd. or Jammate is not a broker or insurer. Jammate is not acting as an agent in any capacity
      for any Member except as specified in the payment terms.
      </div><div class="terms">
While we may help facilitate the resolution of disputes, Jammate Solutions Pvt. Ltd. has no control over and does not guarantee
I) The existence, quality, safety, suitability or legality of any Onboard Partner services.
II) The Truth or accuracy of any descriptions as provided by the Onboard Partners, ratings, reviews or other Member content as defined below, or
III) The performance or conduct of any Member or third party. Jammate does not endorse any Member listing or Onboard Partner services.
 Any reference to a Member being “verified (or similar language) only indicates that the Member has completed a relevant verification or 
 identification process and nothing else. Any such description is not an endorsement, certification or guarantee by Jammate Solutions Pvt. Ltd.
  or Jammate about any Member, including but not limited to the Members identity or background or whether the Member is trustworthy,
   safe or suitable. Members should always exercise due diligence and care when deciding whether to avail the services provided by the
    Onboard Partners, participate in an experience or event or use any other Onboard Partner services, communicate and interact with other 
    Members and/or Onboard Partners, whether online or in person. Verified images, as defined below are intended only to indicate a photographic
     representation of a listing at the time the photograph was taken, and are therefore not an endorsement by Jammate Solutions Pvt. Ltd. or Jammate
      of any Onboard Partner's amenities or listing. 
      </div><div class="terms">
If you choose to use the Jammate Platform as an Onboard Partner as defined below your relationship with Jammate Solutions Pvt. Ltd. or Jammate
 is limited to being an independent, third-party contractor, and not an employee, agent, joint venturer or partner of Jammate Solutions Pvt. Ltd.
  for any reason and you act exclusively on your own behalf and for your own benefit and not on behalf or for the benefit of Jammate.
To promote the Jammate Platform and increase the exposure of listings to potential Guests, listings and other Member Content may be displayed
 on other websites, in applications, within emails and in online and offline advertisements. To assist Members who speak different languages other
  than English, listings and other Member content may be translated in whole or in part to other languages. Jammate cannot guarantee the accuracy
   or quality of such translations and Members are responsible for reviewing and verifying the accuracy of such translations. The Jammate Platform
    may contain translations powered by Google. Google disclaims all warranties related to the translations, express or implied including any
     warranties or accuracy, reliability, and any implied warranties for Merchantability, fitness for a particular purpose and non-infringement.
The Jammate Platform may contain weblinks to third-party websites or resources. Such third-party services may be subject to different conditions
 and privacy practices. Jammate Solutions Pvt. Ltd. or Jammate is not responsible or liable for the availability or accuracy of such third-party
  services or the content, products, or services available from such third-parties. Links to such third-party services are not an endorsement
   by Jammate Solutions Pvt. Ltd. or Jammate of such third-parties and the services provided by them.
Due to the nature of the internet Jammate Solutions Pvt. Ltd. or Jammate cannot guarantee the continuous and uninterrupted availability
 and accessibility of the Jammate Platform. Jammate Solutions Pvt. Ltd. may restrict the availability of the Jammate Platform or certain areas
  or features thereof, if such is necessary in view of capacity limits, the security or integrity of our servers, or to carry out maintenance
   measures that ensure proper or improved functioning of the Jammate Platform. Jammate Solutions Pvt. Ltd. may improve, enhance and modify
    the Jammate Platform and introduce new Jammate services from time to time.
    </div>
</div><div>
<div class="terms">
2.	Eligibility, Using the Jammate Platform, Member Verification
You must be 16 (sixteen) years old or older to be able to enter into legally binding contracts to access and use the Jammate Platform or register
 a Jammate Account. By accessing or using the Jammate Platform, you represent and warrant that you are 16 (sixteen) years of age or older and have
  the legal capacity and authority to enter into a contract.
  </div><div class="terms">
You will comply with any applicable export control laws in your local jurisdiction. You also represent and warrant that 
(I) 	you are not located in a country that is subject to an Indian Government embargo, or that has been designated by
 the Indian Government as a “terrorist supporting” country and
(II)	you are not listed on any Indian Government list of prohibited or restricted parties. 
</div><div class="terms">
Jammate Solutions Pvt. Ltd. or Jammate may make the access to and use of the Jammate Platform, or certain areas or features of the
 Jammate Platform, subject to certain conditions or requirements, such as completing a verification process, meeting specific quality
  or eligibility criteria, meeting ratings or review thresholds, or booking and cancellation history. 
User verification on the internet is difficult and we do not assume any responsibility for the confirmation of any members identity.
 Notwithstanding the above, for transparency and fraud prevention purposes, and as permitted by applicable laws, we may, but have no
  obligation to (I) ask members to provide a form of Government identification or other information or undertake additional checks designed
   to help verify the identities or backgrounds of Members, (II) Screen Members against third-party databases or other sources and request
    reports from service providers and (III) where we have sufficient information to identify Members, obtain reports from public records
     of criminal convictions or an equivalent version of background checks in your local jurisdiction, if available.
     </div><div class="terms">
The access to or use of certain areas and features of the Jammate Platform may be subject to separate policies, standards or guidelines,
 or may require that you accept additional terms and conditions. If there is a conflict between these terms and terms and conditions applicable
  to a specific area or feature of the Jammate Platform the latter will take precedence with respect to your access to, or use of, that area
   or feature unless specified otherwise.
If you access or download the application from the Apple App Store, you agree to Apple's Licensed Application End User License Agreement.
 If you access or download the application from the Google Play Store, you agree to Google's Licensed Application End User License Agreement.
  Some areas of the Jammate Platform, implement, Google Maps/Earth Mapping Services, including Google Maps Api(s). Your use of Google Map/Earth
   is subject to the Google Maps/Google Earth additional terms of service. 
   </div>
</div><div>
<div class="terms">3.	Modification of these Terms.
Jammate Solutions Pvt. Ltd. reserves the right to modify these terms at any time in accordance with this provision. 
If we make changes to these terms, we will post the revised terms on the Jammate Platform and update the “last updated” date at 
the top of these terms. We will also provide you with notice of the modifications by e-mail at least 30 (Thirty) days before the date 
they become effective. If you disagree with the revised terms you may terminate this agreement with immediate effect. We will inform you about 
your right to terminate the agreement in the notification e-mail. If you do not terminate your agreement before the date the revised terms become effective,
 your continued access to or use of the Jammate Platform will constitute acceptance of the revised terms.
 </div>
</div><div>
<div class="terms">
4.	Account Registration.
4.1	You must register an account (Jammate Account) to access and use certain features of the Jammate Platform such as, book jamroom/studio amenities,
 reschedule or cancel a booking, use flexible pricing for weekdays/weekends/happy hours, etc. for the purpose of Jamroom activities and the application
  is for artists or for anyone who wishes to use the service of these jamrooms/studios.
  </div><div class="terms">
4.2	You can register a Jammate Account using certain third-party social networking services, such as Facebook or Google (SNS Account).
 You have the ability to disable the connection between your Jammate Account and your SNS Account at any time, by accessing the “ Settings” section of the Jammate Platform.
 </div><div class="terms">
4.3	You must provide accurate, current and complete information during the registration process and keep your Jammate Account and public Jammate Account profile page
 information updated at all times.
 </div><div class="terms">
4.4 	You may not register more than one Jammate Account unless Jammate authorises you to do so. You may not assign or otherwise transfer your Jammate Account
 to another person or entity in any manner or at all.</div><div class="terms">
4.5	You are responsible for maintaining the confidentiality and security of your Jammate Account credentials and may not disclose
 your credentials to any third party. You must immediately notify Jammate Solutions Pvt. Ltd. or Jammate if you know or have any reason
  to suspect that your credentials have been lost, stolen, misappropriated, or otherwise compromised or in case of any actual or suspected
   unauthorised use of your Jammate Account you are liable for any and all activities conducted through your Jammate Account, unless such
    activities are not authorised by you and you are not otherwise negligent (such as failing to report the unauthorised use or loss of your credentials).
    </div><div class="terms">
4.6	Jammate Solutions Pvt. Ltd. or Jammate may enable features that allow you to authorise other Members or certain third parties to take certain
 actions that affect your Jammate Account. For example, we may allow Members to collaborate with one another or with onboard Members to release 
 a final product that they might publish on the Jammate Platform.
 </div>
</div><div>
<div class="terms">
5. Content
5.1	Jammate Solutions Pvt. Ltd. or Jammate may at its sole discretion enable Members to
 	(I) Create, upload, post, send, receive and store any content such as text, images, audio and/or video recordings, on or through the Jammate
 	 Platform (“Member Content”); and Access and view, Member Content and any content that Jammate itself makes available on or through the Jammate Platform,
 	  including proprietory Jammate Solutions Pvt. Ltd. or Jammate Content and any content licensed or authorised for use by or through Jammate Solutions Pvt. Ltd. 
 	  from a third-party.
 	  </div><div class="terms">
5.2	The Jammate Platform, Jammate Content and Member Content may in its entirety or in part be protected by Copyright, Trademark and/ or Other Laws of India.
 You acknowledge and agree that the Jammate Platform and the Jammate Content including all associated Intellectual Property Rights are the exclusive property
  of Jammate Solutions Pvt. Ltd. and/or its licensors or authorising third-parties. You shall not remove, alter or obscure any Copyright, Trademark, Service Mark
   or other proprietary rights, notices incorporated in or accompanying the Jammate Platform, Jammate Content or Member Content. All Trademarks, Service Marks, Logos,
    Trade Names and any other source identifiers of either Jammate Solutions Pvt. Ltd. or Jammate used on or in connection with the Jammate Platform or Jammate Content
     are Trademarks or Registered Trademarks owned by Jammate Solutions Pvt. Ltd. in India or any other country. Trademarks, Service Marks, Logos, Trade Names and any
      other proprietary designations of Third Parties used on or in connection with the Jammate Platform, Jammate Content, and/or collective content are used for
       identification purposes only and may be the exclusive property of their respective owners.
       </div><div class="terms">
5.3	You will not use, copy, adapt, modify, prepare derivative works of, distribute, license, sell, transfer, publicly display, publicly perform, transmit,
 broadcast or otherwise exploit the Jammate Platform or collective content except to the extent you are the legal owner of certain Member Content or expressly
  permitted in these terms. No license or rights are granted to you by implication or otherwise under any Intellectual Property Rights owned or controlled
   by Jammate Solutions Pvt. Ltd. or its licensors, except for the licenses and rights expressly granted in these terms or otherwise.
   </div><div class="terms">
5.4	Subject to your compliance with these terms, Jammate Solutions Pvt. Ltd. grants you a limited, non-exclusive, sub-license-able, revokable,
 non-transferrable license to:
(I)	Download and use the application on your personal device(s) and 
(II)	Access and view any collective content made available on or through the Jammate Platform and accessible to you solely for your personal and non-commercial use.
</div><div class="terms">
5.5	By creating, uploading, posting, sending, receiving, storing or otherwise making available any Member Content on or through the Jammate Platform,
 you grant to Jammate Solutions Pvt. Ltd. or Jammate an non-exclusive, world-wide, royalty free, irrevocable, perpetual, sub-license-able,
  and transferrible license to such Member Content to access, use, store, copy, modify, prepare derivative works of, distribute, publish, transmit, stream,
   broadcast, and otherwise exploit in any manner such Member Content to provide and/or promote the Jammate Platform, in any media or platform.
    Unless you provide specific consent Jammate Solutions Pvt. Ltd. or Jammate does not claim any ownership rights in any Member Content and nothing
     in these terms will be deemed to restrict any rights that you may have to use or exploit your Member Content.
     </div><div class="terms">
5.6	Jammate Solutions Pvt. Ltd. or Jammate may offer Onboard Partners the option of having professional photographers to take photographs of Onboard Partner
 services which are made available by the Photographer to Onboard Partners to include in their listings with or without a watermark baring the words
  “Jammate Verified Photo” or similar terminology such as “Verified Images”. You are responsible for ensuring that your Onboard Partner Service is accurately
   represented and displayed as part of the images in the Verified Images. As an onboard Partner it is your duty to stop using the Verified Images on or through
    the Jammate Platform, if they no longer accurately represent your listing, if you stop hosting the Onboard Partner Service as featured in the Jammate Platform
     or if your Jammate Account is terminated or suspended for any reason. You acknowledge and agree that Jammate Solutions Pvt. Ltd. shall have the right to use
      any Verified Images in advertising, marketing and/or any other business purposes in any media or platform, whether in relation to your listing or otherwise,
       without further notice or compensation to you. Where Jammate Solutions Pvt. Ltd. is not the exclusive owner of Verified Images, by such Verified Images on or
        through the Jammate Platform, you grant to Jammate Solutions Pvt. Ltd. an exclusive, world-wide, royalty free, irrevocable, perpetual, sub- licens-able,
         and transferrable license to use such Verified Images for advertising, marketing and/or any other business purposes in any media or platform whether in
          relation to your listing or otherwise without further notice or compensation to you. Jammate Solutions Pvt. Ltd. in turn grants you a limited, non-exclusive,
           non-sub-license-able, revocable, non-transferrable license to use verified images outside the Jammate Platform solely for your personal and non-commercial use.
           </div><div class="terms">

You are solely responsible for all Member Content that you make available on or through the Jammate Platform. Accordingly, you represent and warrant that:
(I) You either are the sole and exclusive owner of all Member Content that you make available on or through the Jammate Platform or you have all rights,
 licenses, consents and releases that are necessary to grant to Jammate Solutions Pvt. Ltd. or Jammate the rights in and to such Member Content as contemplated
  under these terms; and 
(II) Neither the Member Content nor your posting, uploading, publication, submission, or transmittal of the Member Content or Jammate Solutions Pvt. Ltd.'s use
 of the Member Content or any part thereof will infringe, misappropriate, violate a third-party's patent, copyright, trademark, trade secret, moral rights or 
 any other proprietary or intellectual property rights, or rights to publicity or privacy, or result in the violation of any applicable law or regulation.
You will not post, upload, publish, submit or transmit any member content that:
(I)	Is fraudulent, false, misleading (directly or by omission or by failure to update information) or deceptive;
(II)	Is defamatory, libellous, obscene, pornographic, vulgar or offensive;
(III) Promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group;
(IV) Is violent or threatening or promotes violence or actions to any other person or group of persons.
(V)	Promotes illegal or harmful activities or substances or 
(IV) Violates Jammate's content policy or any other Jammate Policy. Jammate Solutions Pvt. Ltd. may without prior notice,
 remove or disable access to any Member Content that it finds to be in violation of these terms or Jammate Solutions Pvt. Ltd.'s then 
 applicable policies or standards or otherwise may be harmful or objectionable to Jammate Solutions Pvt. Ltd., Jammate, its members, third-parties or property. 
 </div><div class="terms">
Jammate Solutions Pvt. Ltd. respects the laws of Intellectual Property and expects Members to do the same. If a Member has reason to believe that any content on 
the Jammate Platform infringes copyrights, one must notify Jammate in accordance with Jammate's copyright policy.</div>
</div><div>
<div class="terms">
6.	Service Fees
6.1 Jammate Solutions Pvt. Ltd. or Jammate may charge fees to Onboard Partners or Guests in consideration for the use of the Jammate Platform. 
</div><div class="terms">
6.2 Any applicable Service Fees (including any applicable Taxes) will be displayed to an Onboard Partner or Guest prior to publishing or booking a Listing.
 Jammate reserves the right to change the Service Fees at any time, and we will provide Members and Onboard Partners adequate notice of any fee changes
  before they become effective.</div><div class="terms">
6.3 You are responsible for paying any Service Fees that you owe to Jammate Solutions Pvt. Ltd. or Jammate. The applicable Service Fees are due
 and payable and collected by Jammate  Payments pursuant to the Payments Terms. Except as otherwise provided on the Jammate Platform, Service Fees
  are refundable if the cancellation qualifies for a full refund as per Partner’s Cancellation Policy.</div>
</div><div>
<div class="terms">
7. Terms specific for Onboard Partners
7.1 Terms applicable to all Listings
7.1.1 When creating a Listing through the Jammate Platform you must (i) provide complete and accurate information about your Service
 (such as listing description, location, slot bookings, time slot availability, onstage timings, calendar availability and any other such criteria),
  (ii) disclose any deficiencies, restrictions (such as studio rules, bar rules, pub rules, venue rules, or onstage conduct rules or any other similar or allied rules)
   and requirements that apply (such as any minimum age, proficiency or Members experience) and (iii) provide any other pertinent information requested by Man
    and Mate or Jammate. You are responsible for keeping your Listing information updated at all times.
7.1.2 You are solely responsible for setting a price (including any Taxes if applicable) for your Listing (“Listing Fee”). 
Once a Member requests a booking of your Listing, you may not request that the Member to pay a higher price than in the booking request.
7.1.3 Any terms and conditions included in your Listing, in particular in relation to cancellations and/or rescheduling, must not conflict with those 
Terms or the cancellation and/or rescheduling policy you have selected for your Listing.
7.1.4 Pictures, animations or videos (collectively, "Images") used in your Listings must accurately reflect the quality and condition of your Services.
 Jammate Solutions Pvt. Ltd. or Jammate reserves the right to require that Listings have a minimum number of Images of a certain format, size and resolution.
7.1.5 The placement and ranking of Listings in search results on the Jammate Platform may vary and depend on a variety of factors,
 such as Member's search parameters and preferences, requirements, price and slot availability, number and quality of Images, customer
  service and cancellation history, Reviews and Ratings, type of Service, and/or ease of booking.
7.1.6 When you accept or have pre-approved a booking request by a Member, you are entering into a legally binding agreement with the
 Member and are required to provide your Service(s) to the Member as described in your Listing when the booking request is made. You 
 also agree to collect the applicable Fee including the service charge accrued to Us and any applicable Taxes, which will be collected pursuant to the Payments Terms.
7.1.7 Jammate Solutions Pvt. Ltd. or Jammate recommends that Onboard Partners obtain appropriate insurance for their Services.
 Please review any respective insurance policy carefully, and in particular make sure that you are familiar with and understand any exclusions to,
  and any deductibles that may apply for, such insurance policy, including, but not limited to, whether or not your insurance policy will cover
   the actions or inactions of Members (and the individuals the Member has booked for, if applicable) while availing of your services or participating
    in your event or any other service or participating in your Experience, Event or other Service.
    </div><div class="terms">
7.2 Bookings
7.2.1 Only one booking by a Member for a particular venue at a particular slot.
7.2.2 If you choose to require a security deposit for your booking, you must specify this in your Listing ("Security Deposit"). Onboard Partners
 are not allowed to ask for a Security Deposit after a booking has been confirmed or outside of the Jammate Platform. Jammate Solutions Pvt. Ltd.
  or Jammate will use commercially reasonable efforts to address Onboard Partners’ requests and claims related to Security Deposits, but Jammate 
  Solutions Pvt. Ltd. or Jammate is not responsible for administering or accepting any claims by Hosts related to Security Deposits.
7.2.3 You represent and warrant that any Listing you post and the booking of, or a Member's performance/popularity at, a venue or place will 
(i) not breach any agreements you have entered into with any third parties, such as homeowners association, condominium, or other agreements, and 
(ii) comply with all applicable laws (such as zoning laws), Tax requirements, and other rules and regulations (including having all required permits,
 licenses and registrations). As an Onboard Partner, you are responsible for your own acts and omissions and are also responsible for the acts and
  omissions of any individuals who reside at or are otherwise are present at the venue or place at your request or invitation, including any other
   person that the Member may invite at the venue.
   </div><div class="terms">
7.3 Listing Experiences, Events and other Onboard Partner Services
7.3.1 To list an Experience, Event or other Onboard Partner Service, you must create a Listing and submit the Experience, Event or Onboard Partner
 Service to Jammate Solutions Pvt. Ltd. or Jammate. To be considered for publishing on the Jamate Platform, Experiences, Events or other Onboard Partner
  Services, you must at all times meet the quality standards for Experiences and meet Member's demand. Jammate Solutions Pvt. Ltd. or Jammate reserves the
   right to decide, in its sole discretion, if a submitted Experience, Event or other Host Service will be published on the Jammate Platform.
7.3.2 When listing an Experience, Event or other Onboard Partner Service you must, where applicable, fully educate and inform Members about (i) any risks
 inherent to the Experience, Event or other Onboard Partner Service, (ii) any requirements for participation, such as the minimum age, related skills or
  other requirements, and (iii) anything else they may need to know to safely participate in the Experience, Event or other Onboard Partner Service 
  (including dress codes, equipment, special certifications or Onboard Partner, etc.).
7.3.3 If you wish to list an Experience on behalf of a Nonprofit (“Social Impact Experience”), you must comply with the eligibility requirements for 
hosting a Social Impact Experience. When listing a Social Impact Experience you (i) represent and warrant that you are duly authorized to act on behalf
 of your Nonprofit and (ii) acknowledge and agree that all payouts will be directed to an account owned by your Nonprofit. You and your Nonprofit acknowledge
  that listing a Social Impact Experience does not create a commercial fundraising or co-venturer, or charitable trust relationship with Jammate Solutions 
  Pvt. Ltd. and Jammate is not a professional fundraiser or commercial participator. Nonprofits, and not Jammate Solutions Pvt. Ltd. and Jammate, are responsible
   for determining what, if any, portion of their Listing Fee is a charitable contribution and for providing Member's charitable tax receipts for any applicable
    charitable contributions. You and your Nonprofit are solely responsible for complying with all laws that apply to your organization and your Social Impact Experience.
7.3.4 You represent and warrant that you (i) understand and comply with all laws, rules and regulations that may apply to your Experience, Event or other Onboard
 Partner Service(s), and (ii) will obtain any required licenses, permits, or registrations prior to providing your Experience, Event or other Service(s).
7.3.5 You must provide an Experience, Event or other Onboard Partner Service in person and may not allow any third party to provide the Experience, Event or 
other Service on your behalf, unless authorized by Jammate Solutions Pvt. Ltd. or Jammated.
</div><div class="terms">
7.4 Co-Hosts
7.4.1 Jammate Solutions Pvt. Ltd. or Jammate may enable Onboard Partners to authorize other Members (“Co-Hosts”) to administer the Onboard Partner’s 
Listing(s), and to bind the Onboard Partner and take certain actions in relation to the Listing(s) as permitted by the Onboard Partner, such as accepting
 booking requests, messaging and welcoming Members, and updating the Listing Fee and slot availability (collectively, “Co-Onboard Partner Services”). Any agreement
  formed between Onboard Partner and Co-Onboard Partner may not conflict with these Terms and the Payments Terms. Co-Onboard Partners may only act in an individual
   capacity and not on behalf of a company or other organization, unless expressly authorized by Jammate Solutions Pvt. Ltd. or Jammate. Jammate Solutions Pvt. Ltd.
    or Jammate reserves the right, in our sole discretion, to limit the number of Co-Onboard Partners an Onboard Partner may invite for each Listing and to limit 
    the number of Listings a Co-Onboard Partner may manage.
    </div><div class="terms">
7.4.2 Onboard Partner and Co-Onboard Partner may agree on a fee (“Co-Onboard Partner Services Fee”) in consideration for the Co-Onboard Partner Services provided
 by the Co-Onboard Partner. When such an agreement is made, the Onboard Partner agrees to pay the Co-Onboard Partner Services Fee for any confirmed booking of their
  Listing, which will be deducted directly from the Listing Fee after deduction of any applicable Onboard Partner Fee. In addition, Onboard Partner may instruct
   a Co-Onboard Partner to provide certain one-time services in relation to their Listing. Onboard Partners can pay Co-Onboard Partner for one-time services and
    any other expenses using the Resolution Center. Jammate Payments will process Co-Onboard Partner Services Fees and Resolution Center payments pursuant to the
     Payments Terms.
     </div><div class="terms">
7.4.3 Onboard Partner and Co-Onboard Partners agree that each activity, booking, or other transaction reported on the Jammate Platform, including any Co-Onboard
 Partner Services provided by the Co-Onboard Partner and any amounts due from an Onboard Partner to the Co-Onboard Partner for the provision of such services, will
  be deemed accurate, correct and binding, unless challenged, by notifying the other person and Jammate Solutions Pvt. Ltd. or Jammate (by emailing yourfriends@jammate.in),
   within 21 days of posting of the disputed activity, booking or other transaction on the Jammate Platform.
   </div><div class="terms">
7.4.4 Onboard Partners should exercise due diligence and care when deciding who to add as a Co-Onboard Partner to their Listing(s). 
Onboard Partners remain solely responsible and liable for any and all Listings and Member Content published on the Jammate Platform, including any 
Listing created by a Co-Onboard Partner on their behalf. Further, Onboard Partners remain responsible and liable for their own acts and omissions,
 including, but not limited to, conduct that causes harm or damage to the Co-Onboard Partner(s). Co-Onboard Partners remain responsible and liable 
 for their own acts and omissions when engaging in their roles and responsibilities as a Co-Onboard Partner, including, but not limited to, conduct 
 that causes harm or damage to the Onboard Partner. In addition, both Onboard Partner and Co-Onboard Partner are jointly responsible and severally liable
  for third party claims, including claims from other persons, arising from the acts and omissions of the other person as related to Onboard Partner activities,
   communications with Members, and the provision of any Co-Onboard Partner Services.
   </div><div class="terms">
7.4.5 Unless agreed otherwise by Onboard Partners and Co-Onboard Partners, Onboard Partners and Co-Onboard Partners may terminate the Co-Onboard Partners agreement
 at any time. In addition, both Onboard Partner and Co-Onboard Partner acknowledge that their Co-Onboard Partner relationship will terminate in the event that
  Jammate Solutions Pvt. Ltd. or Jammate (i) terminates the Co-Onboard Partner service or (ii) terminates either party’s participation in the Co-Onboard Partner
   service. When the Co-Onboard Partner's agreement is terminated, the Onboard Partner will remain responsible for all of the Co-Onboard Partner’s actions prior
    to the termination, including the responsibility to fulfill any pending or future bookings initiated prior to the termination. When a Member is removed as a
     Co-Onboard Partner, that Member will no longer have access to any Onboard Partner or Guest information related to the applicable Onboard Partner’s Listing(s).
      In addition, Onboard Partner agrees to pay Co-Onboard Partners for all Co-Onboard Partner Services completed prior to Co-Onboard Partner’s termination within
       14 days of Co-Onboard Partner’s termination via the Resolution Center. A Co-Onboard Partner will not be entitled to any fees for any Co-Onboard Partners Services
        that have not been completed prior to the Co-Onboard Partner’s termination.
        </div><div class="terms">
7.4.6 As a Co-Onboard Partner, you will not be reviewed by Members, meaning that your Co-Onboard Partner activities will not affect your Reviews or Ratings for
 other Listings for which you are a Onboard Partner. Instead, the Onboard Partner of such Listing(s) will be reviewed by Members (including potentially on the basis
  of the Co-Onboard Partner’s conduct and performance). Onboard Partners acknowledge that Reviews and Ratings from Members for their Listing(s) may be impacted by
   a Co-Onboard Partner’s conduct and performance.</div>

</div><div>
<div class="terms">
8. Terms specific for Guests
8.1 Terms applicable to all bookings
8.1.1 Subject to meeting any requirements (such as completing any verification processes) set by the Onboard Partner, you can book a Listing
 available on the Jammate Platform by following the respective booking process. All applicable fees, including the Listing Fee, Security Deposit
  (if applicable), Member's Fee and any applicable Taxes (collectively, “Total Fees”) will be presented to you prior to booking a Listing. You agree
   to pay the Total Fees for any booking requested in connection with your Jammate Account.
   </div><div class="terms">
8.1.2 Upon receipt of a booking confirmation from Jammate Solutions Pvt. Ltd. or Jammate, a legally binding agreement is formed between you and our 
Partner, subject to any additional terms and conditions of the Onboard Partner that apply, including in particular the applicable cancellation policy
 and any rules and restrictions specified in the Listing. Jammate Payments will collect the Total Fees at the time of the booking request or upon the
  Onboard Partner’s confirmation pursuant to the Payments Terms.
  </div><div class="terms">
8.1.3 If you book a Service on behalf of additional guests, you are required to ensure that every additional guest meets any requirements
 set by the Onboard Partner, and is made aware of and agrees to these Terms and any terms and conditions, rules and restrictions set by the
  Onboard Partner. If you are booking for an additional guest who is a minor, you represent and warrant that you are legally authorized to act
   on behalf of the minor. Minors may only participate in an Experience, Event or other Service if accompanied by an adult who is responsible for them.
   </div><div class="terms">
8.2 Slot Accommodations
8.2.1 You understand that a confirmed booking of an slot (“Slot Booking”) is a limited license granted to you by the Onboard Partner to enter,
 occupy and use the Accommodation for the duration of your stay, during which time the Onboard Partner (only where and to the extent permitted
  by applicable law) retains the right to re-enter the slot, in accordance with your agreement with the Onboard Partner.
  </div><div class="terms">
8.2.2 You agree to leave the slot no later than the checkout time that the Onboard Parter specifies in the Listing or such other time as mutually
 agreed upon between you and the Onboard Partner. If you stay past the agreed upon checkout time without the Onboard Partner's consent (“Overstay”),
  you no longer have a license to stay in the Slot and the Onboard Partner is entitled to make you leave in a manner consistent with applicable law. 
  </div><div class="terms">
8.3 Booking Experiences, Events and other Services
8.3.1 You should carefully review the description of any Experience, Event or other Service you intend to book to ensure you (and any additional guests
 you are booking for) meet any minimum age, proficiency, fitness or other requirements which the Onboard Partner has specified in their Listing.
  You are required to inform the Onboard Partner of any medical or physical conditions, or other circumstances that may impact your and any additional guest’s
   ability to safely participate in any Experience, Event or other Service. In addition, certain laws, like the minimum legal drinking age in the location of
    the Experience, Event or other Service, may also apply. You are responsible for identifying, understanding, and complying with all laws, rules and regulations
     that apply to your participation in an Experience, Event or other Service.
     </div><div class="terms">
8.3.2 Before and during an Experience, Event or other Service you must at all times adhere to the Onboard Partners’ instructions.
</div><div class="terms">
8.3.3 You may not bring any additional individuals to an Experience, Event or other  Service unless such an individual was added by you as an
 additional guest during the booking process on the Jammate Platform.</div>
</div><div>
<div class="terms">
9. Slot Modifications, Cancellations and Refunds, Resolution Center
9.1 Onboard Partners and Members are responsible for any modifications to a booking that they make via the Jammate Platform or direct Jammate Solutions 
Pvt. Ltd. or Jammate customer service to make ("Slot Modifications"), and agree to pay any additional Listing Fees, Onboard Partners Fees or Members Fees 
and/or Taxes associated with such Slot Modifications.
</div><div class="terms">
9.2 Members can cancel a confirmed booking at any time subject to the Listing’s cancellation policy, and Jammate Payments will provide any refund to the Members
 in accordance with such cancellation policy. Unless extenuating circumstances exist, any amounts due to the Onboard Partner under the applicable cancellation
  policy will be remitted to the Onboard Partner by Jammate Payments pursuant to the Payments Terms.
  </div><div class="terms">
9.3 If an Onboard Partner cancels a confirmed booking, the Member will receive a full refund of the Total Fees for such booking and Jammate may publish
 an automated review on the Listing cancelled by the Onboard Partner indicating that a booking was cancelled. In addition, Jammate Solutions Pvt. Ltd.
  or Jammate may (i) keep the calendar for the Listing unavailable or blocked for the dates of the cancelled booking, and/or (ii) impose a cancellation fee,
   unless the Host has a valid reason for cancelling the booking pursuant to Jammate's Extenuating Circumstances Policy or has legitimate concerns about
    the Member’s or any other persons behavior.
    </div><div class="terms">
9.4 For Experiences, Events and other Services, if inclement weather creates an unsafe or uncomfortable scenario for Members, Onboard Partners may modify or
 cancel a  Service. If there is a substantial change in the itinerary or the Service needs to be cancelled, Jammate Solutions Pvt. Ltd. or Jammate will work
  with the Onboard Partner to provide  an alternative date for the Service, an appropriate refund or a rebooking.
  </div><div class="terms">
9.5 In certain circumstances, Jammate Solutions Pvt. Ltd. or Jammate may decide, in its sole discretion, that it is necessary to cancel a confirmed booking
 and make appropriate refund and payout decisions. This may be for reasons set forth in Jammates's Extenuating Circumstances Policy or (i) where Jammate
  Solutions Pvt. Ltd. or Jammate believes in good faith, while taking the legitimate interests of both parties into account, this is necessary to avoid
   significant harm to Jammate Solutions Pvt. Ltd. or Jammates, other Members, third parties or property, or (ii) for any of the reasons set out in these Terms.
   </div><div class="terms">
9.6 If a Member suffers a Travel Issue pursuant to the Refund Policy, Jammate Solutions Pvt. Ltd. or Jammate may determine, in its sole discretion,
 to refund the Members part or all of the Total Fees in accordance with the Partner’s Refund Policy.
 </div><div class="terms">
9.7 Members may use the Resolution Center to send or request money for refunds, additional Onboard Partner Services, Co-Onboard Partner Services
 or Damage Claims related to bookings. You agree to pay all amounts sent through the Resolution Center in connection with your Jammate Account, and
  Jammate Payments will handle all such payments pursuant to the Payments Terms.
  </div>
</div><div>
<div class="terms">
10. Ratings and Reviews
10.1 Within a certain timeframe after completing a booking, Members and Onboard Partners can leave a review (“Review”) and submit a star
 rating (“Rating”) about each other. Any Ratings or Reviews reflect the opinion of individual Members and do not reflect the opinion
  of Jammate Solutions Pvt. Ltd. or Jammate. Ratings and Reviews are not verified by Jammate Solutions Pvt. Ltd. or Jammate for accuracy
   and may be incorrect or misleading.
   </div><div class="terms">
10.2 Ratings and Reviews by Members and Onboard Partners must be fair, truthful and factual and may not contain any offensive or defamatory language.
 Ratings and Reviews must comply with Jammate’s Content Policy and Extortion Policy.
 </div><div class="terms">
10.3 Members are prohibited from manipulating the Ratings and Reviews system in any manner, such as instructing a third party write a positive
 or negative Review about another Member.
 </div>
</div><div>
<div class="terms">
11. Damage to Accommodations, Disputes between Members
11.1 As a Member, you are responsible for leaving the Slot Venue (including any personal or other property located at the Slot Venue)
 in the condition it was in when you arrived. You are responsible for your own acts and omissions and are also responsible for the acts
  and omissions of any individuals whom you invite to, or otherwise provide access to, the Slot Venue, excluding the Onboard Partners 
  (and the individuals the Onboard Partner invites to the Slot Venue, if applicable).
  </div><div class="terms">
11.2 If an Onboard Partner claims and provides evidence that you as a Member have damaged a Slot Venue or any personal or other property
 at a Slot Venue("Damage Claim"), the Onboard Partner can seek payment from you through the Resolution Center. If an Onboard Partner
  escalates a Damage Claim to Jammate Solutions Pvt. Ltd. or Jammate, you will be given an opportunity to respond. If you agree to pay
   the Onboard Partner, or Jammate Solutions Pvt. Ltd. or Jammate determines in its sole discretion that you are responsible for the Damage Claim,
    Jammate Payments will collect any such sums from you and/or against the Security Deposit (if applicable) required to cover the Damage Claim pursuant
     to the Jammate Payments Terms. Jammate Solutions Pvt. Ltd. or Jammate also reserves the right to otherwise collect payment from you and pursue any
      remedies available to Jammate Solutions Pvt. Ltd. or Jammate in this regard in situations in which you are responsible for a Damage Claim,
       including, but not limited to, in relation to any payment requests made by Onboard Partner under the Onboard Partner Guarantee.
       </div><div class="terms">
11.3 Members agree to cooperate with and assist Jammate Solutions Pvt. Ltd. or Jammate or in good faith, and to provide Jammate Solutions Pvt. Ltd. 
or Jammate with such information and take such actions as may be reasonably requested by Jammate Solutions Pvt. Ltd. or Jammate, in connection with
 any Damage Claims or other complaints or claims made by Members relating to Slot Venue or any personal or other property located at a Slot Venue
  (including, without limitation, payment requests made under the Jammate Solutions Pvt. Ltd. or Jammate Onboard Partner Guarantee), Experiences,
   or Co-Onboard Partner agreements. A Member shall, upon Jammate Solutions Pvt. Ltd. or Jammate's reasonable request and at no cost to the Member,
    participate in mediation or a similar resolution process with another Member, which process will be conducted by Jammate Solutions Pvt. Ltd.
     or Jammate or a third party selected by Jammate Solutions Pvt. Ltd. or Jammate or its insurer, with respect to losses for which a Member is
      requesting payment from Jammate Solutions Pvt. Ltd. or Jammate (including but not limited to payments under the Jammate Solutions Pvt. Ltd.
       or Jammate Onboard Partner Guarantee).
       </div><div class="terms">
11.4 If you are a Member or a Co-Onboard Partner, you understand and agree that Jammate Solutions Pvt. Ltd. or Jammate may make a claim under your homeowner's,
 renter's or other insurance policy related to any damage or loss that you may have caused, or been responsible for, to an Slot Venue or any personal or
  other property located at an Slot Venue (including without limitation amounts paid by Jammate Solutions Pvt. Ltd. or Jammate under the Jammate Solutions
   Pvt. Ltd. or Jammate Onboard Partner Guarantee). You agree to cooperate with and assist Jammate Solutions Pvt. Ltd. or Jammate in good faith,
    and to provide Jammate Solutions Pvt. Ltd. or Jammate with such information as may be reasonably requested by Jammate Solutions Pvt. Ltd. or Jammate,
     to make a claim under your homeowner's, renter's or other insurance policy, including, but not limited to, executing documents and taking such
      further acts as Jammate Solutions Pvt. Ltd. or Jammate may reasonably request to assist Jammate Solutions Pvt. Ltd. or Jammate in accomplishing the foregoing.
      </div>
</div><div>
<div class="terms">
12. Rounding off, Currency conversion
12.1 Jammate Solutions Pvt. Ltd. or Jammate may, in its sole discretion, round up or round down amounts that are payable from or to Members or Onboard Partner
 to the nearest whole functional base unit in which the currency is denominated (i.e. to the nearest dollar, euro or other supported currency); for example,
  Jammate Solutions Pvt. Ltd. or Jammate will round up an amount of $101.50 to $102.00, and round down an amount of $101.49 to $101.00. For currencies that are
   denominated in large numbers, Jammate Solutions Pvt. Ltd. or Jammate may determine the functional base unit in which those currencies are denominated to be 10,
    100 or 1,000 of the currency; for example, Jammate Solutions Pvt. Ltd. or Jammate may round up an amount of 1,045 up to 1,050 and 1,044 down to 1,040, or 837,500
     up to 838,000 and 837,499 down to 837,000.(IF REQUIRED)
     </div><div class="terms">
The Jammate Platform facilitates bookings between Members and Onboard Partner who may prefer to pay in a currency different from their destination currency,
 which may require currency conversions to accommodate these differing currency preferences. Although the Jammate Platform allows Members to view the price of
  Listings in a number of currencies, the currencies available for Members to make and receive payments may be limited, and may not include the default currency
   in any given geographic location. Details regarding currency conversion, including any associated fees, are detailed in the Payments Terms. (IF REQUIRED)
   </div>
</div><div>
<div class="terms">
13. Taxes
13.1 As an Onboard Partner you are solely responsible for determining your obligations to report, collect, remit or include in your Listing Fees any applicable
 Goods and Services Taxes or income taxes ("Taxes").
 </div><div class="terms">
13.2 Tax regulations may require us to collect appropriate Tax information from Onboard Partners, or to withhold Taxes from payouts to Onboard Partners, or both.
 If an Onboard Partner fails to provide us with documentation that we determine to be sufficient to alleviate our obligation (if any) to withhold Taxes from payouts
  to you, we reserve the right to freeze all payouts, withhold such amounts as required by law, or to do both, until resolution.
  </div><div class="terms">
13.3 You understand that any appropriate governmental agency, department and/or authority ("Tax Authority") where your listing Venue is located
 may require Taxes to be collected from Members or Onboard Partners on Listing Fees, and to be remitted to the respective Tax Authority.
  The laws in jurisdictions may vary, but these Taxes may be required to be collected and remitted as a percentage of the Listing Fees set
   by Onboard Partners, a set amount per day, or other variations, and are sometimes called "transient occupancy taxes," "hotel taxes," "lodging taxes," "city taxes,"
    "room taxes" or "tourist taxes" ("Occupancy Taxes").
    </div><div class="terms">
13.4 In certain jurisdictions, Jammate Solutions Pvt. Ltd. or Jammate may decide in its sole discretion to facilitate collection and remittance of Occupancy
 Taxes from or on behalf of Members or Onboard Partners, in accordance these Terms ("Collection and Remittance") if such jurisdiction asserts
  Jammate Solutions Pvt. Ltd. or Jammate or Onboard Partners have an Occupancy Tax collection and remittance obligation. In any jurisdiction in
   which we decide to facilitate direct Collection and Remittance, you hereby instruct and authorize Jammate Solutions Pvt. Ltd. or Jammate (via Jammate Payments)
    to collect Occupancy Taxes from Members on the Onboard Partner's behalf at the time Listing Fees are collected, and to remit such Occupancy Taxes to the Tax Authority.
     The amount of Occupancy Taxes, if any, collected and remitted by Jammate Solutions Pvt. Ltd. or Jammate will be visible to and separately stated
      to both Members and Onboard Partners on their respective transaction documents. Where Jammate Solutions Pvt. Ltd. or Jammate is facilitating Collection and Remittance,
       Onboard Partners are not permitted to collect any Occupancy Taxes being collected by Jammate Solutions Pvt. Ltd. or Jammate relating to their Slot Venues
        in that jurisdiction.
        </div><div class="terms">
13.5 You agree that any claim or cause of action relating to Jammate Solutions Pvt. Ltd. or Jammate's facilitation of Collection and Remittance of Occupancy Taxes
 shall not extend to any supplier or vendor that may be used by Jammate Solutions Pvt. Ltd. or Jammate in connection with facilitation of Collection and Remittance,
  if any. Members and Onboard Partners agree that we may seek additional amounts from you in the event that the Taxes collected and/or remitted are insufficient
   to fully discharge your obligations to the Tax Authority, and agree that your sole remedy for Occupancy Taxes collected is a refund of Occupancy Taxes collected
    by Jammate Solutions Pvt. Ltd. or Jammate from the applicable Tax Authority in accordance with applicable procedures set by that Tax Authority.
    </div><div class="terms">
13.6 Jammate Solutions Pvt. Ltd. or Jammate reserves the right, with prior notice to Onboard Partner, to cease the Collection and Remittance in any jurisdiction
 for any reason at which point Onboard Partner and Members are once again solely responsible and liable for the collection and/or remittance of any and
  all Occupancy Taxes that may apply to Slot Venue in that jurisdiction.
  </div>
</div><div>
<div class="terms">
14. Prohibited Activities
14.1 You are solely responsible for compliance with any and all laws, rules, regulations, and Tax obligations that may apply to your use of the Jammate Platform.
 In connection with your use of the Jammate Platform, you will not and will not assist or enable others to:
breach or circumvent any applicable laws or regulations, agreements with third-parties, third-party rights, or our Terms, Policies or Standards;
use the Jammate Platform or Collective Content for any commercial or other purposes that are not expressly permitted by these Terms or in a manner that falsely
 implies Jammate Solutions Pvt. Ltd. or Jammate endorsement, partnership or otherwise misleads others as to your affiliation with Jammate Solutions Pvt. Ltd. or Jammate;
copy, store or otherwise access or use any information, including personally identifiable information about any other Member, contained on the
 Jammate Platform in any way that is inconsistent with Jammate Solutions Pvt. Ltd. or Jammate’s Privacy Policy or these Terms or
  that otherwise violates the privacy rights of Members or third parties;
use the Jammate Platform in connection with the distribution of unsolicited commercial messages ("spam");
offer, as a Onboard Partner, any Slot Venue that you do not yourself own or have permission to make available as a residential or other property
 through the Jammate Platform;
unless Jammate Solutions Pvt. Ltd. or Jammate explicitly permits otherwise, book any Listing if you will not actually be using the
 Onboard Partner Services yourself;
contact another Member for any purpose other than asking a question related to a your own booking, Listing, or the Member's use of
 the Jammate Solutions Pvt. Ltd. or Jammate Platform, including, but not limited to, recruiting or otherwise soliciting any Member to
  join third-party services, applications or websites, without our prior written approval;
use the Jammate Platform to request, make or accept a booking independent of the Jammate Platform, to circumvent any Service Fees or
 for any other reason;
request, accept or make any payment for Listing Fees outside of the Jammate Platform or Jammate Payments. If you do so, you acknowledge
 and agree that you: (i) would be in breach of these Terms; (ii) accept all risks and responsibility for such payment, and 
 (iii) hold Jammate Solutions Pvt. Ltd. or Jammate harmless from any liability for such payment;
discriminate against or harass anyone on the basis of race, national origin, religion, gender, gender identity, physical or 
mental disability, medical condition, marital status, age or sexual orientation, or otherwise engage in any abusive or disruptive behavior;
use, display, mirror or frame the Jammate Platform or Collective Content, or any individual element within the Jammate Platform,
 Jammate Solutions Pvt. Ltd. or Jammate's name, any Jammate Solutions Pvt. Ltd. or Jammate trademark, logo or other proprietary information,
  or the layout and design of any page or form contained on a page in the Jammate Platform, without Jammate Solutions Pvt. Ltd. or Jammate's express written consent;
dilute, tarnish or otherwise harm the Jammate Solutions Pvt. Ltd. or Jammate brand in any way, including through unauthorized use of
 Collective Content, registering and/or using Jammate Solutions Pvt. Ltd. or Jammate or derivative terms in domain names, trade names,
  trademarks or other source identifiers, or registering and/or using domains names, trade names, trademarks or other source identifiers
   that closely imitate or are confusingly similar to Jammate Solutions Pvt. Ltd. or Jammate domains, trademarks, taglines, promotional
    campaigns or Collective Content;
use any robots, spider, crawler, scraper or other automated means or processes to access, collect data or other content from or otherwise
 interact with the Jammate Platform for any purpose;
avoid, bypass, remove, deactivate, impair, descramble, or otherwise attempt to circumvent any technological measure implemented by Jammate
 Solutions Pvt. Ltd. or Jammate or any of Jammate Solutions Pvt. Ltd. or Jammate's providers or any other third party to protect the Jammate Platform;
attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Jammate Platform;
take any action that damages or adversely affects, or could damage or adversely affect the performance or proper functioning of the Jammate Platform;
export, re-export, import, or transfer the Application except as authorized by Indian law, the export control laws of your jurisdiction, and any other applicable laws; or
violate or infringe anyone else’s rights or otherwise cause harm to anyone.
</div><div class="terms">
14.2 You acknowledge that Jammate Solutions Pvt. Ltd. or Jammate has no obligation to monitor the access to or use of the Jammate Platform by any Member
 or to review, disable access to, or edit any Member Content, but has the right to do so to (i) operate, secure and improve the Jammate Platform
  (including without limitation for fraud prevention, risk assessment, investigation and customer support purposes); (ii) ensure Members’ compliance
   with these Terms; (iii) comply with applicable law or the order or requirement of a court, law enforcement or other administrative agency or governmental
    body; (iv) respond to Member Content that it determines is harmful or objectionable; or (v) as otherwise set forth in these Terms. Members agree to
     cooperate with and assist Jammate Solutions Pvt. Ltd. or Jammate in good faith, and to provide Jammate Solutions Pvt. Ltd. or Jammate with such
      information and take such actions as may be reasonably requested by Jammate Solutions Pvt. Ltd. or Jammate with respect to any investigation undertaken
       by Jammate Solutions Pvt. Ltd. or Jammate or a representative of Jammate Solutions Pvt. Ltd. or Jammate regarding the use or abuse of the Jammate Platform.
       </div><div class="terms">
14.3 If you feel that any Member you interact with, whether online or in person, is acting or has acted inappropriately, including but not limited to
 anyone who (i) engages in offensive, violent or sexually inappropriate behavior, (ii) you suspect of stealing from you, or (iii) engages in any other disturbing conduct,
  you should immediately report such person to the appropriate authorities and then to Jammate Solutions Pvt. Ltd. or Jammate by contacting us with your police
   station and report number (if available); provided that your report will not obligate us to take any action beyond that required by law (if any) or cause
    us to incur any liability to you.
    </div>
</div><div>
<div class="terms">
15. Term and Termination, Suspension and other Measures
15.1 This Agreement shall be effective for a 30-day term, at the end of which it will automatically and continuously renew for subsequent
 30-day terms until such time when you or Jammate Solutions Pvt. Ltd. or Jammate terminate the Agreement in accordance with this provision.
 </div><div class="terms">
15.2 You may terminate this Agreement at any time by sending us an email. If you cancel your Jammate Account as a Onboard Partner, any confirmed
 booking(s) will be automatically cancelled and your Members will receive a full refund. If you cancel your Jammate Account as a Member, any
  confirmed booking(s) will be automatically cancelled and any refund will depend upon the terms of the Listing’s cancellation policy.
  </div><div class="terms">
15.3 Without limiting our rights specified below, Jammate Solutions Pvt. Ltd. or Jammate may terminate this Agreement for convenience at any time
 by giving you thirty (30) days' notice via email to your registered email address.
 </div><div class="terms">
15.4 Jammate Solutions Pvt. Ltd. or Jammate may immediately, without notice terminate this Agreement if (i) you have materially breached your obligations
 under these Terms, the Payments Terms, our Policies on Standards, (ii) you have violated applicable laws, regulations or third party rights, or 
 (iii) Jammate Solutions Pvt. Ltd. or Jammate believe in good faith that such action is reasonably necessary to protect the personal safety or property
  of Jammate Solutions Pvt. Ltd. or Jammate, its Members, Onboard Partners or third parties (for example in the case of fraudulent behavior of a Member).
  </div><div class="terms">
15.5 In addition, Jammate Solutions Pvt. Ltd. or Jammate may take any of the following measures (i) to comply with applicable law, or the order or request
 of a court, law enforcement or other administrative agency or governmental body, or if (ii) you have breached these Terms, the Payments Terms, our Policies
  or Standards, applicable laws, regulations, or third party rights, (iii) you have provided inaccurate, fraudulent, outdated or incomplete information during
   the Jammate Account registration, Listing process or thereafter, (iv) you and/or your Listings or Onboard Partner Services at any time fail to meet any applicable
    quality or eligibility criteria, (v) you have repeatedly received poor Ratings or Reviews or Jammate Solutions Pvt. Ltd. or Jammate otherwise becomes
     aware of or has received complaints about your performance or conduct, (vi) you have repeatedly cancelled confirmed bookings or failed to respond to booking
      requests without a valid reason, or (vii) Jammate Solutions Pvt. Ltd. or Jammate believes in good faith that such action is reasonably necessary
       to protect the personal safety or property of Jammate Solutions Pvt. Ltd. or Jammate, its Members, or third parties, or to prevent fraud or other illegal activity:
refuse to surface, delete or delay any Listings, Ratings, Reviews, or other Member Content;
cancel any pending or confirmed bookings;
limit your access to or use of the Jammate Platform;
temporarily or permanently revoke any special status associated with your  Jammate Account; or
temporarily or in case of severe or repeated offenses permanently suspend your Jammate Account.
In case of non-material breaches and where appropriate, you will be given notice of any intended measure by Jammate Solutions Pvt. Ltd.
 or Jammate and an opportunity to resolve the issue to Jammate Solutions Pvt. Ltd. or Jammate's reasonable satisfaction.
 </div><div class="terms">
15.6 If we take any of the measures described above (i) we may refund your Members in full for any and all confirmed bookings that have been cancelled,
 irrespective of preexisting cancellation policies, and (ii) you will not be entitled to any compensation for pending or confirmed bookings that were cancelled.
 </div><div class="terms">
15.7 When this Agreement has been terminated, you are not entitled to a restoration of your Jammate Account or any of your Member Content.
 If your access to or use of the Jammate Platform has been limited or your Jammate Account has been suspended or this Agreement has been terminated by us,
  you may not register a new Jammate Account or access and use the Jammate Platform through an Jammate Account of another Member.
  </div>
</div><div>
<div class="terms">
16. Disclaimers
If you choose to use the Jammate Platform or Collective Content, you do so voluntarily and at your sole risk. The Jammate Platform and Collective Content is
 provided “as is”, without warranty of any kind, either express or implied.
You agree that you have had whatever opportunity you deem necessary to investigate the Services, laws, rules, or regulations that may be applicable to your
 Listings and/or Services you are receiving and that you are not relying upon any statement of law or fact made by Jammate Solutions Pvt. Ltd. or Jammate
  relating to a Listing.
  </div><div class="terms">
If we choose to conduct identity verification or background checks on any Member, to the extent permitted by applicable law, we disclaim warranties
 of any kind, either express or implied, that such checks will identify prior misconduct by a Member or guarantee that a Member will not engage in misconduct in the future.
You agree that some Experiences, Events or other Services may carry inherent risk, and by participating in those Services, you choose to assume those risks voluntarily.
 For example, some Services may carry risk of illness, bodily injury, disability, or death, and you freely and willfully assume those risks by choosing to participate
  in those Host Services. You assume full responsibility for the choices you make before, during and after your participation in a Service. If you are bringing
   a minor as an additional guest, you are solely responsible for the supervision of that minor throughout the duration of your Service and to the maximum extent
    permitted by law, you agree to release and hold harmless Jammate Solutions Pvt. Ltd. or Jammate from all liabilities and claims that arise in any way from any injury,
     death, loss or harm that occurs to that minor during the Service or in any way related to your Service.
The foregoing disclaimers apply to the maximum extent permitted by law. You may have other statutory rights. However, the duration of statutorily required warranties,
 if any, shall be limited to the maximum extent permitted by law.
 </div>
</div><div>
<div class="terms">
17. Liability
You acknowledge and agree that, to the maximum extent permitted by law, the entire risk arising out of your access to and use of the Jammate Platform and
 Collective Content, your publishing or booking of any Listing via the Jammate Platform, your use of any Slot Venue, participation in any Experience or
  Event or use of any other Service or any other interaction you have with other Members whether in person or online remains with you. Neither Jammate Solutions
   Pvt. Ltd. or Jammate nor any other party involved in creating, producing, or delivering the Jammate Platform or Collective Content will be liable for any 
   incidental, special, exemplary or consequential damages, including lost profits, loss of data or loss of goodwill, service interruption, computer damage or 
   system failure or the cost of substitute products or services, or for any damages for personal or bodily injury or emotional distress arising out of or in
    connection with (i) these Terms, (ii) from the use of or inability to use the Jammate Platform or Collective Content, (iii) from any communications,
     interactions or meetings with other Members or other persons with whom you communicate, interact or meet with as a result of your use of the Jammate Platform,
      or (iv) from your publishing or booking of a Listing, including the provision or use of a Listing’s Onboard Partner Services, whether based on warranty,
       contract, tort (including negligence), product liability or any other legal theory, and whether or not Jammate Solutions Pvt. Ltd. or Jammate has been
        informed of the possibility of such damage, even if a limited remedy set forth herein is found to have failed of its essential purpose.
        </div><div class="terms">
         Except for our
         obligations to pay amounts to applicable Onboard Partners pursuant to these Terms or an approved payment request under the Jammate Onboard Partner Guarantee,
          in no event will Jammate Solutions Pvt. Ltd. or Jammate’s aggregate liability arising out of or in connection with these Terms and your use of the
           Jammate Platform including, but not limited to, from your publishing or booking of any Listings via the Jammate Platform, or from the use of
            or inability to use the Jammate Platform or Collective Content and in connection with any Slot Venue, Experiences, Event or other  Service,
             or interactions with any other Members, exceed the amounts you have paid or owe for bookings via the Jammate Platform as a Member in the twelve (12)
           month period prior to the event giving rise to the liability, or if you are an Onboard Partner, the amounts paid by Jammate Solutions Pvt. Ltd. or Jammate
          to you in the twelve (12) month period prior to the event giving rise to the liability, or Rupees __________________, if no such payments have been made, as applicable.
           The limitations of damages set forth above are fundamental elements of the basis of the bargain between Jammate Solutions Pvt. Ltd. or Jammate and you.
            Some jurisdictions do not allow the exclusion or limitation of liability for consequential or incidental damages, so the above limitation may not apply to you.
             If you reside outside of the U.S., this does not affect Jammate Solutions Pvt. Ltd. or Jammate’s liability for death or personal injury arising from its negligence,
              nor for fraudulent misrepresentation, misrepresentation as to a fundamental matter or any other liability which cannot be excluded or limited under applicable law.
              </div>
</div><div>
<div class="terms">
18. Indemnification
You agree to release, defend (at Jammate Solutions Pvt. Ltd. or Jammate’s option), indemnify, and hold Jammate Solutions Pvt. Ltd. or Jammate and its affiliates
 and subsidiaries, and their officers, directors, employees and agents, harmless from and against any claims, liabilities, damages, losses, and expenses, including,
  without limitation, reasonable legal and accounting fees, arising out of or in any way connected with (i) your breach of these Terms or our Policies or Standards, 
  (ii) your improper use of the Jammate Platform or any Services, (iii) your interaction with any Member, use of any Slot Venue, participation in an Experience, Event
   or other Service, including without limitation any injuries, losses or damages (whether compensatory, direct, incidental, consequential or otherwise) of any kind
    arising in connection with or as a result of such interaction, stay, participation or use, (iv) Jammate Solutions Pvt. Ltd. or Jammate’s Collection and Remittance
     of Occupancy Taxes, or (v) your breach of any laws, regulations or third party rights.
     </div>
</div><div>
<div class="terms">
19. Dispute Resolution and Arbitration Agreement
19.1 This Dispute Resolution and Arbitration Agreement shall apply if you reside in the Union of India and bring any claim against Jammate Solutions Pvt. Ltd.
 or Jammate in India (to the extent not in conflict with Section 21).
 </div><div class="terms">
19.2 Overview of Dispute Resolution Process. Jammate Solutions Pvt. Ltd. or Jammate is committed to participating in a consumer-friendly dispute resolution process.
 To that end, these Terms provide for a two-part process for individuals to whom Section 19.1 applies: (1) an informal negotiation directly with Jammate Solutions
  Pvt. Ltd. or Jammate’s customer service team, and (2) a panel of three arbitrators may be appointed to resolve any disputes of which one arbitrator shall be
   appointed by each party and they jointly shall appoint a third arbitrator. In any dispute where there is no majority, the third Arbitrator shall have a deciding
    vote and his decision shall be final and binding on both parties. The Arbitration Procedure shall be governed by the Arbitration and Conciliation Act, 1996 and
     allied rules, and the substantive law shall be the Laws of India, and the place of arbitration shall be as decided by the arbitral tribunal.
     </div><div class="terms">
19.3 Pre-Arbitration Dispute Resolution and Notification. Prior to initiating an arbitration, you and Jammate Solutions Pvt. Ltd. or Jammate each agree
 to notify the other party of the dispute and attempt to negotiate an informal resolution to it first. We will contact you at the email address you have
  provided to us; you can contact Jammate Solutions Pvt. Ltd. or Jammate’s customer service team by emailing us. If after a good faith effort to negotiate
   one of us feels the dispute has not and cannot be resolved informally, the party intending to pursue arbitration agrees to notify the other party via email
    prior to initiating the arbitration. 
    </div><div class="terms">
19.11 No Class Actions or Representative Proceedings. You and Jammate Solutions Pvt. Ltd. or Jammate acknowledge and agree that we are each waiving the
 right to participate as a plaintiff or class member in any purported class action lawsuit, class-wide arbitration, private attorney-general action,
  or any other representative proceeding as to all Disputes. Further, unless you and Jammate Solutions Pvt. Ltd. or Jammate both otherwise agree in writing,
   the arbitrator may not consolidate more than one party’s claims and may not otherwise preside over any form of any class or representative proceeding.
    If this paragraph is held unenforceable with respect to any Dispute, then the entirety of the Arbitration Agreement will be deemed void with respect to such Dispute.
    </div><div class="terms">
19.12 Severability. Except as provided in Section 19.11, in the event that any portion of this Arbitration Agreement is deemed illegal or unenforceable, such provision
 shall be severed and the remainder of the Arbitration Agreement shall be given full force and effect.
 </div><div class="terms">
19.13 Changes. Notwithstanding the provisions of Section 3 (“Modification of these Terms”), if Jammate Solutions Pvt. Ltd. or Jammate changes this Section 19
 (“Dispute Resolution and Arbitration Agreement”) after the date you last accepted these Terms (or accepted any subsequent changes to these Terms), you may reject 
 any such change by sending us written notice (including by email) within thirty (30) days of the date such change became effective, as indicated in the “Last Updated”
  date above or in the date of Jammate Solutions Pvt. Ltd. or Jammate’s email to you notifying you of such change. By rejecting any change, you are agreeing that you
   will arbitrate any Dispute between you and Jammate Solutions Pvt. Ltd. or Jammate in accordance with the provisions of the “Dispute Resolution and Arbitration Agreement”
    section as of the date you last accepted these Terms (or accepted any subsequent changes to these Terms).
    </div><div class="terms">
19.14 Survival. Except as provided in Section 19.12 and subject to Section 15.8, this Section 19 will survive any termination of these Terms and will continue
 to apply even if you stop using the Jammate Platform or terminate your Jammate Account.
 </div>
</div><div>
<div class="terms">
20. Feedback
We welcome and encourage you to provide feedback, comments and suggestions for improvements to the Jammate Platform (“Feedback“). 
You may submit Feedback by emailing us, through the “Contact” section of the Jammate Platform, or by other means of communication. 
Any Feedback you submit to us will be considered non-confidential and non-proprietary to you. By submitting Feedback to us, you grant us a non-exclusive,
 worldwide, royalty-free, irrevocable, sub-licensable, perpetual license to use and publish those ideas and materials for any purpose, without compensation to you.
 </div>
</div><div>
<div class="terms">
21. Applicable Law and Jurisdiction
21.1  These Terms will be interpreted in accordance with the laws of the Union of India , without regard to conflict-of-law provisions.
 Judicial proceedings (other than small claims actions) that are excluded from the Arbitration Agreement in Section 19 must be brought in a 
 Court of Competent Jurisdiction, unless we both agree to some other location. You and we both consent to venue and personal jurisdiction in _________________, India.
</div><div class="terms">
21.3 If you reside outside of the Union of India, these Terms will be interpreted in accordance with Indian law. The application of the United Nations Convention on
 Contracts for the International Sale of Goods (CISG) is excluded. The choice of law does not impact your rights as a consumer according to the consumer protection
  regulations of your country of residence. If you are acting as a consumer, you agree to submit to the non-exclusive jurisdiction of the Indian courts. Judicial proceedings
   that you are able to bring against us arising from or in connection with these Terms may only be brought in a court located in India or a court with jurisdiction
    in your place of residence. If Jammate Solutions Pvt. Ltd. or Jammate wishes to enforce any of its rights against you as a consumer, we may do so only in the courts
     of the jurisdiction in which you are a resident. If you are acting as a business, you agree to submit to the exclusive jurisdiction of the Indian courts.
     </div>
</div><div>
<div class="terms">
22. General Provisions
22.1 Except as they may be supplemented by additional terms and conditions, policies, guidelines or standards, these Terms constitute the entire Agreement
 between Jammate Solutions Pvt. Ltd. or Jammate and you pertaining to the subject matter hereof, and supersede any and all prior oral or written
  understandings or agreements between Jammate Solutions Pvt. Ltd. or Jammate and you in relation to the access to and use of the Jammate Platform.
  </div><div class="terms">
22.2 No joint venture, partnership, employment, or agency relationship exists between you and Jammate Solutions Pvt. Ltd. or Jammate as a result of this Agreement
 or your use of the Jammate Platform.
 </div><div class="terms">
22.3 These Terms do not and are not intended to confer any rights or remedies upon any person other than the parties.
</div><div class="terms">
22.4 If any provision of these Terms is held to be invalid or unenforceable, such provision will be struck and will not affect the validity and enforceability
 of the remaining provisions.
 </div><div class="terms">
22.5 Jammate Solutions Pvt. Ltd. or Jammate’s failure to enforce any right or provision in these Terms will not constitute a waiver of such right or provision
 unless acknowledged and agreed to by us in writing. Except as expressly set forth in these Terms, the exercise by either party of any of its remedies under
  these Terms will be without prejudice to its other remedies under these Terms or otherwise permitted under law.
  </div><div class="terms">
22.6 You may not assign, transfer or delegate this Agreement and your rights and obligations hereunder without Jammate Solutions Pvt. Ltd.
 or Jammate's prior written consent. Jammate Solutions Pvt. Ltd. or Jammate may without restriction assign, transfer or delegate this Agreement
  and any rights and obligations hereunder, at its sole discretion, with 30 days prior notice. Your right to terminate this Agreement at any time remains unaffected.
  </div><div class="terms">
22.7 Unless specified otherwise, any notices or other communications to Members permitted or required under this Agreement, will be in writing
 and given by Jammate Solutions Pvt. Ltd. or Jammate via email, Jammate Platform notification, or messaging service (including SMS and WhatsApp).
 </div><div class="terms"> 
22.8 If you have any questions about these Terms please email us.
</div>
</div>
 


</div>