<div>
<div class="cont">
<h1> TERMS OF USE</h1>
<ol>
	<li> <h5><a href= "#about">ABOUT JAMMATE</a></h5></li>
	<li> <h5><a href = "#user">USER ACCOUNT </a></h5> </li>
	<li> <h5><a href= "#owner">OWNERSHIP OF THE WEBSITE AND/OR APP</a></h5> </li>
	<li> <h5><a href = "#conduct">USE OF THE WEBSITE AND/OR APP and CONDUCT</a></h5> </li>
	<li> <h5><a href = "#rights">RIGHTS TO USER CONTENT</a> </h5> </li>
	<li> <h5><a href = "#privacy">PRIVACY</a> </h5> </li>
	<li> <h5><a href = "#booking">BOOKING , CANCELLATION, RESCHEDULING AND REFUND POLICY</a> </h5> </li>
	<li> <h5><a href = "#obligations">MEMBER OBLIGATIONS</a></h5> </li>
	<li> <h5><a href = "#exceptions">EXCEPTIONS AND LIMITATIONS</a>  </h5> </li>
	<li> <h5><a href = "#warranty"> WARRANTY</a> </h5> </li>
	<li> <h5><a href = "#terminate">TERMINATION</a> </h5> </li>
	<li> <h5><a href = "#indemnification"> INDEMNIFICATION</a>  </h5> </li>
	<li> <h5><a href = "#limitations">LIMITATION OF LIABILITY</a> </h5> </li>
	<li> <h5><a href = "#law" >GOVERNING LAW</a>  </h5> </li>
	<li> <h5><a href = "#provisions"> MISCELLANEOUS PROVISIONS</a>  </h5> </li>
	</ol>
<div>
	
These Terms of Use ("<b>Terms</b>") apply to a users’ ("<b>Member/Your</b>") access to, and use of, the 
Website [www.jammate.in] and the mobile application ("<b>App</b>"). The Website and/or App is operated by 
Jammate, and its subsidiaries, licensees, and affiliated companies (collectively, "<b>Jammate/We</b>"). 
As a condition of using the Website and/or App and the services provided therein ("<b>Services</b>"),
 you agree to be bound by these Terms.  By using or accessing the Website and/or App and/or the Services,
  you agree to these Terms, as may be updated from time to time. If you do not agree to these Terms, kindly 
  do not use this Website and/or App. Because these Terms are a legal contract between you and Jammate, it is 
  important that you review the Terms carefully before accessing or using the Website and/or App. These Terms
   are not intended to alter in any way or limit the terms or conditions of any other agreement that you may have
    with Jammate, including without limitation the privacy policy ("<b>Privacy Policy</b>")</br></br> 
<h5 id = "about"> 1.ABOUT JAMMATE</h5>

1.1.	The Jammate Platform is an online space that enables Members and certain partners (which may include studio, jamroom and pub owners, and any other person owning or having right to utilise a property) ("Onboard Partners") to utilise jamroom amenities, rescheduling, cancellation policy, flexible pricing for weekdays/happy hours/weekends, etc. for the purpose of Jamroom activities and the application is for artists or for anyone who wishes to use the service of these jamrooms/studios.</br></br> 

1.2.	The access to or use of certain areas and features of the Jammate Platform may be subject to separate policies, standards or guidelines, or may require that you accept additional terms and conditions. If there is a conflict between these terms and terms and conditions applicable to a specific area or feature of the Jammate Platform the latter will take precedence with respect to your access to, or use of, that area or feature unless specified otherwise. </br></br>

1.3.	Members may rate each other on the Website and/or App.</br></br>

<h5 id = "user"> 2.USER ACCOUNT</h5></br></br>

2.1.	In order to use the Website and/or App, you are required to provide various information about yourself including your name, email address and other personal information. You agree that any information you provide to Jammate on the Website and/or App will always be accurate, correct and up to date. You shall not impersonate someone else or provide account information, an email address or any other information that is not your own.</br></br> 

2.2.	You must be 16 (sixteen) years old or older to be able to enter into legally binding contracts to access and use the Jammate Platform or register a Jammate Account. By accessing or using the Jammate Platform, you represent and warrant that you are 16 (sixteen) years of age or older and have the legal capacity and authority to enter into a contract.</br></br>

2.3.	You can register a Jammate Account using certain third-party social networking services, such as Facebook or Google (SNS Account). You have the ability to disable the connection between your Jammate Account and your SNS Account at any time, by accessing the "Settings" section of the Jammate Platform.</br></br>

<h5 id = "owner"> 3.OWNERSHIP OF THE WEBSITE AND/OR APP</h5></br></br>


3.1.	The Website and/or App contains content owned or licensed by Jammate ("Jammate Content"). Jammate owns and retains all rights in the Jammate Content. You will not remove, alter or conceal any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Jammate Content and you will not reproduce, modify, adapt, prepare derivative works based on, perform, display, publish, distribute, transmit, broadcast, sell, license or otherwise exploit the Jammate Content.</br></br>

3.2.	The Jammate name and logo are trademarks of Jammate, and may not be copied, imitated or used, in whole or in part, without the prior written permission of Jammate, except with prior consent. In addition, all custom graphics, button icons and scripts are service marks, trademarks and/or trade dress of Jammate, and may not be copied, imitated or used, in whole or in part, without prior written permission from Jammate.</br></br>

<h5 id = "conduct"> 4.USE OF THE WEBSITE AND/OR APP AND CONDUCT</h5></br></br>

4.1.	Use of the Website and/or App</br></br> 

4.1.1.	You may use the Website and/or App for lawful purposes only. You shall not post or transmit through the Website and/or App any material which violates or infringes the rights of others, or which is threatening, abusive, defamatory, libelous, invasive of privacy or publicity rights, vulgar, obscene, profane or otherwise objectionable, contains injurious formulas, recipes, or instructions, which encourages conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any law.</br></br>
4.1.2.	You agree not to engage in any of the following prohibited activities: (i) copying, distributing, or disclosing any part of the Website and/or App in any medium; (ii) transmitting spam, chain letters, or other unsolicited email; (iv) attempting to interfere with, compromise the system integrity or security or decipher any transmissions to or from the servers running the Website and/or App; (iii) taking any action that imposes, or may impose at our sole discretion an unreasonable or disproportionately large load on our infrastructure; (iv) uploading invalid data, viruses, worms, or other software agents through the Website and/or App; (v) collecting or harvesting any personally identifiable information, including account names, from the Website and/or App; (vi) using the Website and/or App for any commercial purposes without having all necessary rights and licenses to the User Content; (vii) impersonating another person or otherwise misrepresenting your affiliation with a person or entity, conducting fraud, hiding or attempting to hide your identity; (viii) interfering with the proper working of the Website and/or App; (ix) accessing any content on the Website and/or App through any technology or means other than those capabilities provided by the Website and/or App; or (x) bypassing the measures we may use to prevent or restrict access to the Website and/or App, including without limitation features that prevent or restrict use or copying of any content or enforce limitations on use of the Website and/or App or the content therein.</br></br>

4.2.	User Content Guidelines: </br></br>

4.2.1.	You are solely responsible for your conduct and any data, text, files, information, images, photos, links and other content or materials that you submit, post or display on or via the Website and/or App. Jammate shall have no liability for conduct in relation to your use of our Website and/or App. Violations of these Terms may result in legal consequences prescribed by the applicable laws.</br></br> 
4.2.2.	The Website and/or App provides Users the facility to create, share and post content such as profile information, photographs, images and other material used to create a content or material (together, "User Content"). Jammate claims no ownership rights over User Content created by you. Jammate has the right (but not the obligation) in its sole discretion to remove any User Content that is stored via the Website and/or App.</br></br>
4.2.3.	Jammate takes no responsibility and assumes no liability for any User Content that you or any other User or third party creates, stores, shares, posts or sends through the Website and/or App. You shall be solely responsible for your User Content and the consequences of posting, publishing it, or sharing it and you agree that we are only acting as a passive conduit for your online distribution and publication of your User Content. If your Content violates these Terms, you may bear legal responsibility for that content.</br></br>
4.2.4.	You agree not to post, store, transmit, create or share any User Content that: (i) may create a risk of harm, loss, physical or mental injury, emotional distress, death, disability, disfigurement, or physical or mental illness to you, to any other person, or to any animal; (ii) may create a risk of any other loss or damage to any person or property; (iii) seeks to harm or exploit children by exposing them to inappropriate content, asking for personally identifiable details or otherwise; (iv) may constitute or contribute to a crime or tort; (v) contains any information or content that we deem to be unlawful, harmful, abusive, racially or ethnically offensive, defamatory, infringing, invasive of personal privacy or publicity rights, harassing, humiliating to other people (publicly or otherwise), libelous, threatening, profane, or otherwise objectionable; (vi) contains any information or content that is illegal (including, without limitation, the disclosure of insider information under securities law or of another party’s trade secrets); or (vii) contains any information or content that you do not have a right to make available under any law or under contractual or fiduciary relationships. You agree that any User Content that you create, store, or share does not and will not violate third-party rights of any kind, including without limitation any Intellectual Property Rights (as defined below) or rights of privacy. Jammate reserves the right, but is not obligated, to reject and/or remove any User Content that Jammate believes, in its sole discretion, violates these provisions. For the purposes of these Terms, "Intellectual Property Rights" means all patent rights, copyright rights, mask work rights, moral rights, rights of publicity, trademark, trade dress and service mark rights, goodwill, trade secret rights and other intellectual property rights as may now exist or hereafter come into existence, and all Website and/or App therefore and registrations, renewals and extensions thereof, under the laws of any state, country, territory or other jurisdiction.</br></br>

4.2.5.	In connection with your User Content, you affirm, represent and warrant the following:</br></br>

a.	Your User Content and your use thereof as contemplated by these Terms and the Website and/or App will not violate any law or infringe any rights of any third party, including but not limited to any Intellectual Property Rights or privacy rights.</br></br>
b.	To the extent that you use the Website and/or App for any commercial purpose and your User Content contains any copyrighted material that is not your original work or in which you do not otherwise own the copyright, you have obtained all rights, licenses, consents, and permissions necessary in order to use that copyrighted material in connection with the creation and/or dissemination of that User Content using the Website and/or App.</br></br>
c.	Jammate may exercise the rights to your User Content granted under these Terms without liability for payment of any guild fees, residuals, payments, fees, or royalties payable under any collective bargaining agreement or otherwise.
d.	Jammate takes no responsibility and assumes no liability for any User Content that you or any other User or third party creates, stores, shares, posts, sends or otherwise makes available through the Website and/or App, whether directly or indirectly. You shall be solely responsible for your User Content and the consequences of posting, publishing it, or sharing it and you agree that Jammate is only acting a passive conduit for the distribution and publication of your User Content. If your Content violates these Terms, you may bear legal responsibility for that content.</br></br>

<h5 id = "rights"> 5.RIGHTS TO USER CONTENT</h5></br></br>

5.1.	If you share your User Content with Jammate or link your User Content to Jammate on a third party service, you expressly grant, and you represent and warrant that you have all rights necessary to grant, to Jammate a royalty-free, sublicensable, transferable, perpetual, irrevocable, non-exclusive, worldwide license to use, reproduce, modify, publish, list information regarding, edit, translate, distribute, syndicate, publicly perform, publicly display, and make derivative works of all such User Content and your name, voice, and/or likeness as contained in your User Content, in whole or in part, and in any form, media or technology, whether now known or hereafter developed, for use in connection with the Website and/or App and Jammate’s (and its successors’ and affiliates’) business, including without limitation for promoting and redistributing part or all of our Website and/or App (and derivative works thereof) in any media formats and through any media channels.</br></br>

<h5 id = "privacy"> 6.PRIVACY AND SECURITY</h5></br></br>

6.1.	You understand that by using the Website and/or App you consent to the collection, use and disclosure of your personally identifiable information and aggregate data as set forth in our Privacy Policy, and to have your personally identifiable information collected, used, processed and transferred to such service providers or affiliates as detailed under the thereunder.</br></br>

6.2.	You understand that Jammate cannot guarantee that unauthorized third parties will never be able to defeat our security measures or use your personal information for improper purposes. You acknowledge that you provide your personal information at your own risk.</br></br>

	
<h5 id = "booking"> 7.BOOKING, CANCELLATIONS, REFUNDS, RESCHEDULING</h5></br></br>

7.1.	Booking: Prior to your package being confirmed through the Website and/or App, you will be required to pay a booking amount as determined by the specific Onboard Partner. Upon receipt of a booking confirmation from or Jammate, a legally binding agreement is formed between you and our Onboard Partner, subject to any additional terms and conditions of the Onboard Partner that apply, including in particular the applicable cancellation policy and any rules and restrictions specified in the Listing.</br></br> 

You understand that a confirmed booking of an slot ("Slot Booking") is a limited license granted to you by the Onboard Partner to enter, occupy and use the Accommodation for the duration of your stay, during which time the Onboard Partner (only where and to the extent permitted by applicable law) retains the right to re-enter the slot, in accordance with your agreement with the Onboard Partner.</br></br>

7.2.	Modification: Onboard Partners and Members are responsible for any modifications to a booking that they make via the Jammate Platform or direct Jammate or Jammate customer service to make ("Slot Modifications"), and agree to pay any additional Listing Fees, Onboard Partners Fees or Members Fees and/or Taxes associated with such Slot Modifications.</br></br>

7.3.	Cancellation: In case of cancellations, Users shall be bound by the cancellation policy as the Onboard Partner with whom the booking is made with, and Jammate will provide any refund to the Members in accordance with such cancellation policy.</br></br>

In certain circumstances, Jammate may decide, in its sole discretion, that it is necessary to cancel a confirmed booking and make appropriate refund and payout decisions. This may be for reasons (i) where Jammate or Jammate believes in good faith, while taking the legitimate interests of both parties into account, this is necessary to avoid significant harm to Jammate, other Members, third parties or property, or (ii) for any of the reasons set out in these Terms.</br></br>

7.4.	Refund: In case of cancellations, Users shall be bound by the refund policy of the Onboard Partner with whom the booking is made with. All refunds made shall be reflect cancellation charges of the Onboard Partner (if any) and those levied by Jammate. Where payments for bookings are made directly to the Onboard Partner, the sum payable will be refunded by the Onboard Partners. All amount shall be in local currency and fluctuations in exchange rates shall be borne by the User.</br></br>

7.5.	Postponements and Rescheduling: In case of change/rescheduling of booking, Users shall be bound by the policy as that of the Onboard Partner with whom the booking is made with. Users may additionally be subject to a cancellation fee by Jammate, in addition to any cancellation charges levied by the applicable Onboard Partner, if any.</br></br>

<h5 id = "obligations"> 8.MEMBER OBLIGATIONS</h5></br></br>

8.1.	If you make a booking on behalf of additional guests, you are required to ensure that every additional guest meets any requirements set by the Onboard Partner, and is made aware of and agrees to these Terms and any terms and conditions, rules and restrictions set by the Onboard Partner. If you are booking for an additional guest who is a minor, you represent and warrant that you are legally authorized to act on behalf of the minor. Minors may only utilise the facilities made available by Jammate, if accompanied by an adult who is responsible for them.</br></br>

8.2.	You agree to leave the premises of the Onboard Partner ("Premises") no later than the checkout time that the Onboard Parter specifies in the booking confirmation or such other time as mutually agreed upon between you and the Onboard Partner. If you stay past the agreed upon checkout time without the Onboard Partner’s consent ("Overstay"), you no longer have permission to stay in the Premises and the Onboard Partner is entitled to make you leave in a manner consistent with applicable law.</br></br>

8.3.	You should carefully review the description of any offering ("Offering") you intend to book to ensure you (and any additional guests you are booking for) meet any minimum age, proficiency, fitness or other requirements which the Onboard Partner has specified in their listing. You are required to inform the Onboard Partner of any medical or physical conditions, or other circumstances that may impact your and any additional guest’s ability to safely participate in any Offering. In addition, certain laws. You are responsible for identifying, understanding, and complying with all laws, rules and regulations that apply to your participation in an Offering.</br></br>

8.4.	As a Member, you are responsible for leaving the Premises (including any personal or other property located at the Premises) in the condition it was in when you arrived. You are responsible for your own acts and omissions and are also responsible for the acts and omissions of any individuals whom you invite to, or otherwise provide access to, the Premises, excluding the Onboard Partners.</br></br>

8.5.	If an Onboard Partner claims and provides evidence that you as a Member have damaged a Premises or any personal or other property at a Premises ("Damage Claim"), the Onboard Partner can seek payment from you through the resolution mechanism on the Website and/or App. If an Onboard Partner escalates a Damage Claim to Jammate or Jammate, you will be given an opportunity to respond. If you agree to pay the Onboard Partner, or Jammate or Jammate determines in its sole discretion that you are responsible for the Damage Claim, Jammate Payments will collect any such sums from you and/or against the security deposit (if applicable) required to cover the Damage Claim. Jammate or Jammate also reserves the right to otherwise collect payment from you and pursue any remedies available to Jammate or Jammate in this regard in situations in which you are responsible for a Damage Claim, including, but not limited to, in relation to any payment requests made by Onboard Partner.</br></br>

8.6.	Members agree to cooperate with and assist Jammate or Jammate or in good faith, and to provide Jammate or Jammate with such information and take such actions as may be reasonably requested by Jammate or Jammate, in connection with any Damage Claims or other complaints or claims made by Members relating to Premises or any personal or other property located at a Premises. A Member shall, upon Jammate or Jammate's reasonable request and at no cost to the Member, participate in mediation or a similar resolution process with another Member, which process will be conducted by Jammate or Jammate or a third party selected by Jammate or Jammate or its insurer, with respect to losses for which a Member is requesting payment from Jammate.</br></br>

<h5 id = "exceptions"> 9.EXCEPTIONS AND LIMITATIONS</h5></br></br>

9.1.	You acknowledge that the Jammate is only an aggregator of Onboard Partners who wish to advertise their services, packages and other services to potential customers. The Onboard Partner is solely responsible to you for the care and quality of the experience and facility it provides. You acknowledge that images on the Website and/or App are merely indicative, and the actual service may vary.</br></br>

9.2.	You agree and acknowledge that all commercial/contractual terms are offered to you by Onboard Partners and businesses utilising the Website and/or App ("Onboard Partner(s)") and agreed to between you and Onboard Partner(s) alone. Jammate does exercise any control or does not determine or advise or in any way involve itself in the offering or acceptance of such commercial/contractual terms between you and the Onboard Partner(s).</br></br>

9.3.	Jammate does not make any representation or warranty as to the quality or value of the services offered on the Website and/or App. Jammate does not implicitly or explicitly support or endorse any services on the Website and/or App. Jammate accepts no liability for any errors or omissions, whether on behalf of itself or third parties.</br></br>

9.4.	Jammate shall have no obligation with respect to the services performed by the Onboard Partners, or any side effects of such services, and you acknowledge that your sole remedy shall be to proceed against the Onboard Partner in such case.</br></br>

9.5.	The prices indicated by the Onboard Partners for their services are inclusive of taxes at the prevalent rate. However, if these rates are increased, then the Onboard Partner may charge the difference at their establishments at the time of availing these services. All additional services over and above the services/package purchased shall be billed by the Onboard Partner at the time of availing the same.</br></br> 

9.6.	Jammate is not responsible for any non-performance or breach of any contract entered into between you and the Onboard Partner(s), and while we may extend our best efforts, at our discretion, to resolve the same, Jammate shall not and is not required to mediate or resolve any dispute or disagreement between you and the Onboard Partner(s).</br></br> 

9.7.	Jammate shall have any obligations or liabilities in respect of such contract entered into between you and the Onboard Partner(s). Jammate is not responsible for unsatisfactory or delayed performance of services, or damages or losses suffered as a result.</br></br>

9.8.	You acknowledge that there will be occasions when the Website and/or App may be interrupted, including, without limitation, for scheduled maintenance or upgrades, for emergency repairs, or due to failure of telecommunications links and/or equipment.</br></br> 

9.9.	You agree that Jammate is not responsible for, and does not endorse, User Content posted within the Website and/or App. Jammate does not have any obligation to prescreen, monitor, edit, or remove any User Content. If your User Content violates these Terms, you shall be solely responsible for any legal consequences with respect to such User Content.</br></br>

9.10.	Jammate reserves the right to remove any User Content from the Website and/or App for any reason, without prior notice. User Content removed from the Website and/or App may continue to be stored by Jammate, including, without limitation, in order to comply with certain legal obligations, but may not be retrievable without a valid court order. Jammate will not be liable to you for any modification, suspension, or discontinuation of the Website and/or App, or the loss of any User Content.</br></br> 

9.11.	The content or information posted on the Website and/or App is posted by other users and may contain errors, or have no basis in science, and while Jammate reserves the right to correct/remove the same, it is under no obligation to do so. You acknowledge that you read and act upon this information at your own risk and shall make additional efforts to verify the authenticity of such information.</br></br> 

9.12.	Jammate may rate a few centres at its own discretion using both internal or through external resources. These rating are subjective and may not be acceptable to all. A rating is only indicative of the level of satisfaction you can expect to find in a particular Onboard Partner’s establishment and cannot be held against Jammate.</br></br> 

9.13.	We may, without prior notice, change the Website and/or App, stop providing the Website and/or App or features of the Website and/or App, to you or to Users generally, or create usage limits for the Website and/or App. We may permanently or temporarily terminate or suspend your access to the Website and/or App, or delete any User Content without notice and liability for any reason, including if in our sole determination you violate any provision of these Terms, or for no reason. Upon termination for any reason or no reason, you continue to be bound by these Terms.</br></br>

9.14.	YOUR SOLE AND EXCLUSIVE RIGHT AND REMEDY IN CASE OF DISSATISFACTION WITH THE WEBSITE AND/OR APP, THE SERVICES, OR ANY OTHER GRIEVANCE SHALL BE YOUR TERMINATION AND DISCONTINUATION OF ACCESS TO, OR USE OF THE SITE.</br></br>
<h5 id = "warranty"> 10.WARRANTY</h5></br></br>

10.1.	THE WEBSITE AND/OR APP IS PROVIDED ON AN "AS IS" BASIS, AND USE OF THE WEBSITE AND/OR APP IS AT THE USER’S RISK. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE WEBSITE AND/OR APP IS PROVIDED WITHOUT WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM JAMMATE OR THROUGH THE WEBSITE AND/OR APP WILL NOT CREATE ANY WARRANTY NOT EXPRESSLY STATED HEREIN. WITHOUT LIMITING THE FOREGOING, JAMMATE, ITS SUBSIDIARIES, ITS AFFILIATES, AND ITS LICENSORS DO NOT WARRANT THAT THE CONTENT FOUND ON THE WEBSITE AND/OR APP IS ACCURATE, RELIABLE OR CORRECT; THAT THE WEBSITE AND/OR APP WILL MEET YOUR REQUIREMENTS; THAT THE WEBSITE AND/OR APP WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION, UNINTERRUPTED OR SECURE; THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED; OR THAT THE WEBSITE AND/OR APP IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. ANY CONTENT DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE WEBSITE AND/OR APP IS DOWNLOADED AT YOUR OWN RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR MOBILE DEVICE OR LOSS OF DATA THAT RESULTS FROM SUCH DOWNLOAD OR YOUR USE OF THE WEBSITE AND/OR APP.</br></br>

JAMMATE DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE WEBSITE AND/OR APP OR ANY HYPERLINKED WEBSITE AND/OR APP OR SERVICE, AND JAMMATE WILL NOT BE A PARTY TO OR IN ANY WAY MONITOR ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.</br></br> 

<h5 id= "terminate"> 11.TERMINATION</h5></br></br>

11.1.	Jammate may terminate these Terms for any reason at any time. Jammate reserves the right, in its sole discretion, to restrict, suspend, or terminate your access to and use of the Website and/or App, with or without prior notice.  Otherwise applicable sections of the Terms shall survive termination.  In addition to any termination rights, we reserve the right to enforce and prosecute any violations of these Terms.</br></br>

<h5 id = "indemnification"> 12.INDEMNIFICATION</h5></br></br>

12.1.	You shall indemnify and hold us harmless from and against any and all losses, damages, settlements, liabilities, costs, charges, assessments and expenses, as well as third party claims and causes of action, including, without limitation, attorneys’ fees, arising out of any breach by you of any of these Terms, or any use by you of the Website and/or App. You shall provide us with such assistance, without charge, as we may request in connection with any such defence, including, without limitation, providing us with such information, documents, records and reasonable access to you, as we deem necessary. You shall not settle any third party claim or waive any defence without our prior written consent.</br></br>

<h5 id = "liability"> 13.LIMITATION OF LIABILITY</h5></br></br>

13.1.	IN NO EVENT WILL JAMMATE OR ITS AFFILIATES OR ANY PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE WEBSITE AND/OR APP BE LIABLE FOR ANY DIRECT, INCIDENTAL, CONSEQUENTIAL, INDIRECT, SPECIAL, OR PUNITIVE DAMAGES ARISING OUT OF YOUR ACCESS, USE, MISUSE, OR INABILITY TO USE THE WEBSITE AND/OR APP OR ANY LINKED SITES, OR IN CONNECTION WITH ANY FAILURE OF PERFORMANCE.  THESE LIMITATIONS APPLY WHETHER THE ALLEGED LIABILITY IS BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR ANY OTHER BASIS, EVEN IF JAMMATE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. IN NO EVENT WILL JAMMATE’S LIABILITY EXCEED THE AMOUNT PAID BY YOU FOR THE RELEVANT PRODUCT OR SERVICE.</br></br> 
  
<h5 id = "law"> 14.GOVERNING LAW </h5></br></br>

14.1.	This Agreement shall be governed by the laws of India, and the courts of Bangalore shall have exclusive jurisdiction with respect to any dispute arising hereunder.</br></br>

<h5 id = "provisions"> 15.MISCELLANEOUS PROVISIONS </h5></br></br>

15.1.	Survival: In the event of termination or expiration of these Terms for any reason, any provisions of these Terms that by their nature should survive termination of these Terms will survive termination of these Terms, unless contrary to the pertinent provisions herein stated.</br></br>

15.2.	Severability: If any term or provision in these Terms is held to be either illegal or unenforceable, in whole or in part, under any enactment or rule of law, such term or provision or part shall to that extent be deemed not to form part of these Terms, but the validity and enforceability of the remainder of these Terms shall not be affected.</br></br>

15.3.	Unenforceability: If any provision of these Terms or any word, phrase, clause, sentence, or other portion thereof should be held to be unenforceable or invalid for any reason, then provided that the essential consideration for entering into these Terms on the part of any Party is not unreasonably impaired, such provision or portion thereof shall be modified or deleted in such manner as to render these Terms as modified legal and enforceable to the maximum extent permitted under applicable laws.</br></br>

15.4.	No Waiver: No delay or omission by either Party hereto to exercise any right or power occurring upon any noncompliance or default by the other party with respect to any of the terms of these Terms shall impair any such right or power or be construed to be a waiver thereof.  The terms and conditions of these Terms may be waived or amended only in writing or mutual agreement of the Parties. A waiver by either of the Parties hereto of any of the covenants, conditions, or agreements to be performed by the other shall not be construed to be a waiver of any succeeding breach thereof or of any covenant, condition, or agreement herein contained (whether or not the provision is similar).</br></br>

15.5.	Notices: 
Any notice required or permitted to be given to Jammate hereunder shall be in writing and sent or transmitted by (i) registered or certified mail; (ii) hand-delivery; (iii) email; or (iv) internationally recognized courier service, provided its receipt is acknowledged and, dispatched or sent or transmitted to the address specified Jammate. All notice required to be given under these Terms shall be addressed to:  </br></br>
[Jammate Solutions]</br></br>

[2, 3rd Floor, Padmavati Complex, Nanjappa Reddy Layout, Koramangala, Bengaluru, Karnataka 560095]</br></br>
or</br></br>
[yourfriends@jammate.com]
We may change the Terms or modify any features of the Website and/or App at any time at our sole discretion.  The most current version of the Terms can be viewed by clicking on the "Terms and Conditions".  If you continue to use the Website and/or App after changes are posted you will be deemed to have accepted the change.
</div>
</div>
<div class="copyright">
<div style="width:40%; float:left; vertical-align:center;
 text-align:left; margin-top:30px; margin-left:100px;">
		   
		   <p>2, 3rd Floor, Padmavati Complex, </p>
		   <p>Nanjappa Reddy Layout, Koramangala </p>
		   <p> Koramangala 8th Block, Bengaluru, Karnataka 560095 </p>
		    <p> support@jammate.in | 08296807999</p>
		    <p> &copy; 2018 Jammate Inc. </p>
		  </div>
	<div style="width:30%; float:right; vertical-align:center; text-align: right;
	 margin-top:15px; margin-right:200px;">
		<p class="full">
			<a href="aboutus">About Us</a>
		</p><p class="full">
			<a href="contactus">Contact Us</a>
		</p>
		<p class="full">
			<a href="partnertos">Partner Terms of Service</a>
		</p>
		<p class="full">
			<a href="consumerterms">Consumer Terms of Service</a>
		</p>
		<p class="full">
			<a href="privacypolicy">Privacy Policy</a>
		</p>
		<p class="full">
			<a href="refundpolicy">Cancellation and Refund Policy</a>
		</p>
		<p class="full">
			<a href="pricing">Pricing</a>
		</p>
	</div>
		  
		</div>
</div>